In [1]:
import pandas as pd
import numpy as np
import os
import glob
import import_ipynb
import functions_notebook

importing Jupyter notebook from functions_notebook.ipynb

### General Checks

files names

In [2]:
!ls -lh ../data/*combined*

ls: ./data/*combined*: No such file or directory

All file names are in snake format and clearly describe what is in the ds.

1. Opening without errors check

A. base directory csv

In [12]:
comb_names, comb_df = functions_notebook.read_in_csv_gp(base_folder = '../data/',
                                                        file_string = 'combined',
                                                        dtype_dict = {'site_no':str})

data_usace_00060_combined.csv
Location:../data/data_usace_00060_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,USACE,Illinois River at Starved Rock Lock and Dam,2005-10-01,NaN,UTC,60,daily,NaN,NaN,173.443609,ft3/s,NaN,NaN,NaN,data_usace_00060_combined.csv
1,USACE,Illinois River at Starved Rock Lock and Dam,2005-10-02,NaN,UTC,60,daily,NaN,NaN,167.413003,ft3/s,NaN,NaN,NaN,data_usace_00060_combined.csv
2,USACE,Illinois River at Starved Rock Lock and Dam,2005-10-03,NaN,UTC,60,daily,NaN,NaN,269.848357,ft3/s,NaN,NaN,NaN,data_usace_00060_combined.csv
3,USACE,Illinois River at Starved Rock Lock and Dam,2005-10-04,NaN,UTC,60,daily,NaN,NaN,116.676643,ft3/s,NaN,NaN,NaN,data_usace_00060_combined.csv
4,USACE,Illinois River at Starved Rock Lock and Dam,2005-10-05,NaN,UTC,60,daily,NaN,NaN,122.084368,ft3/s,NaN,NaN,NaN,data_usace_00060_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_sediment_combined.csv
Location:../data/data_sediment_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525500,2009-11-04,2009-11-04T12:15:00Z,UTC,530,discrete,NaN,NaN,31.0,mg/l,NaN,SLD04,NaN,data_sediment_combined.csv
1,NWIS,05527500,2009-11-04,2009-11-04T18:00:00Z,UTC,530,discrete,NaN,NaN,48.0,mg/l,NaN,SLD04,NaN,data_sediment_combined.csv
2,NWIS,05540275,2005-10-25,2005-10-25T11:15:00Z,UTC,530,discrete,NaN,NaN,11.0,mg/l,NaN,SLD04,NaN,data_sediment_combined.csv
3,NWIS,05540275,2005-11-21,2005-11-21T11:30:00Z,UTC,530,discrete,NaN,NaN,45.0,mg/l,NaN,SLD04,NaN,data_sediment_combined.csv
4,NWIS,05540275,2005-12-19,2005-12-19T14:00:00Z,UTC,530,discrete,NaN,NaN,10.0,mg/l,<,SLD04,NaN,data_sediment_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_SC_combined.csv
Location:../data/data_SC_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,95,discrete,NaN,NaN,673,uS/cm @25C,NaN,NaN,NaN,data_SC_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,95,discrete,NaN,NaN,665,uS/cm @25C,NaN,NaN,NaN,data_SC_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,95,discrete,NaN,NaN,647,uS/cm @25C,NaN,NaN,NaN,data_SC_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,95,discrete,NaN,NaN,512,uS/cm @25C,NaN,NaN,NaN,data_SC_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,95,discrete,NaN,NaN,620,uS/cm @25C,NaN,NaN,NaN,data_SC_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_OP_combined.csv
Location:../data/data_OP_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,671,discrete,NaN,NaN,0.008,mg/l as P,NaN,PHM01,NaN,data_OP_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,671,discrete,NaN,NaN,0.010,mg/l as P,NaN,PHM01,NaN,data_OP_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,671,discrete,NaN,NaN,0.012,mg/l as P,NaN,PHM01,NaN,data_OP_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,671,discrete,NaN,NaN,0.029,mg/l as P,NaN,PHM01,NaN,data_OP_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,671,discrete,NaN,NaN,0.007,mg/l as P,NaN,PHM01,n,data_OP_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_pH_combined.csv
Location:../data/data_pH_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,400,discrete,NaN,NaN,7.8,std units,NaN,NaN,NaN,data_pH_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,400,discrete,NaN,NaN,8.0,std units,NaN,NaN,NaN,data_pH_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,400,discrete,NaN,NaN,8.0,std units,NaN,NaN,NaN,data_pH_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,400,discrete,NaN,NaN,7.8,std units,NaN,NaN,NaN,data_pH_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,400,discrete,NaN,NaN,7.8,std units,NaN,NaN,NaN,data_pH_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_turb_combined.csv
Location:../data/data_turb_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,63680,discrete,NaN,NaN,8.2,FNU,NaN,NaN,NaN,data_turb_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,63680,discrete,NaN,NaN,3.0,FNU,NaN,NaN,NaN,data_turb_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,63680,discrete,NaN,NaN,2.7,FNU,NaN,NaN,NaN,data_turb_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,63680,discrete,NaN,NaN,15.0,FNU,NaN,NaN,NaN,data_turb_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,63680,discrete,NaN,NaN,7.1,FNU,NaN,NaN,NaN,data_turb_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_temp_water_combined.csv
Location:../data/data_temp_water_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,10,discrete,NaN,NaN,7.3,deg C,NaN,NaN,NaN,data_temp_water_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,10,discrete,NaN,NaN,1.5,deg C,NaN,NaN,NaN,data_temp_water_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,10,discrete,NaN,NaN,5.6,deg C,NaN,NaN,NaN,data_temp_water_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,10,discrete,NaN,NaN,4.7,deg C,NaN,NaN,NaN,data_temp_water_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,10,discrete,NaN,NaN,10.1,deg C,NaN,NaN,NaN,data_temp_water_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_vel_combined.csv
Location:../data/data_vel_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2015-03-04,2015-03-04T17:35:00Z,UTC,81904,discrete,NaN,NaN,0.761963,m/sec,NaN,NaN,NaN,data_vel_combined.csv
1,NWIS,05515500,2016-05-11,2016-05-11T08:40:00Z,UTC,81904,discrete,NaN,NaN,0.914355,m/sec,NaN,NaN,NaN,data_vel_combined.csv
2,NWIS,05517000,2013-06-06,2013-06-06T09:20:00Z,UTC,81904,discrete,NaN,NaN,0.457178,m/sec,E,NaN,NaN,data_vel_combined.csv
3,NWIS,05517000,2013-06-13,2013-06-13T10:30:00Z,UTC,81904,discrete,NaN,NaN,0.609570,m/sec,E,NaN,NaN,data_vel_combined.csv
4,NWIS,05517000,2013-06-20,2013-06-20T10:20:00Z,UTC,81904,discrete,NaN,NaN,0.457178,m/sec,E,NaN,NaN,data_vel_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_NO3_combined.csv
Location:../data/data_NO3_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,618,discrete,NaN,NaN,2.10,mg/l as N,NaN,ALGOR,NaN,data_NO3_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,618,discrete,NaN,NaN,1.52,mg/l as N,NaN,ALGOR,NaN,data_NO3_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,618,discrete,NaN,NaN,1.64,mg/l as N,NaN,ALGOR,NaN,data_NO3_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,618,discrete,NaN,NaN,2.07,mg/l as N,NaN,ALGOR,NaN,data_NO3_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,618,discrete,NaN,NaN,1.80,mg/l as N,NaN,ALGOR,NaN,data_NO3_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_temp_air_combined.csv
Location:../data/data_temp_air_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525000,2018-12-11,2018-12-11T09:15:00Z,UTC,21,discrete,NaN,NaN,0.277778,deg C,NaN,NaN,NaN,data_temp_air_combined.csv
1,NWIS,05525500,2018-12-11,2018-12-11T10:45:00Z,UTC,21,discrete,NaN,NaN,1.388889,deg C,NaN,NaN,NaN,data_temp_air_combined.csv
2,NWIS,05536275,2019-02-14,2019-02-14T08:30:00Z,UTC,21,discrete,NaN,NaN,3.888889,deg C,NaN,NaN,NaN,data_temp_air_combined.csv
3,NWIS,05536275,2019-04-24,2019-04-24T08:00:00Z,UTC,21,discrete,NaN,NaN,8.333333,deg C,NaN,NaN,NaN,data_temp_air_combined.csv
4,NWIS,05536275,2019-05-23,2019-05-23T09:00:00Z,UTC,21,discrete,NaN,NaN,19.444444,deg C,NaN,THM05,NaN,data_temp_air_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_mats_combined.csv
Location:../data/data_mats_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2015-02-10,2015-02-10T17:10:00Z,UTC,1325,discrete,NaN,NaN,0,code,NaN,NaN,NaN,data_mats_combined.csv
1,NWIS,05515500,2015-03-04,2015-03-04T17:35:00Z,UTC,1325,discrete,NaN,NaN,0,code,NaN,NaN,NaN,data_mats_combined.csv
2,NWIS,05515500,2015-04-21,2015-04-21T10:05:00Z,UTC,1325,discrete,NaN,NaN,0,code,NaN,NaN,NaN,data_mats_combined.csv
3,NWIS,05515500,2015-05-19,2015-05-19T18:50:00Z,UTC,1325,discrete,NaN,NaN,0,code,NaN,NaN,NaN,data_mats_combined.csv
4,NWIS,05515500,2015-07-23,2015-07-23T10:15:00Z,UTC,1325,discrete,NaN,NaN,0,code,NaN,NaN,NaN,data_mats_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_fPC_combined.csv
Location:../data/data_fPC_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2013-06-26,NaN,UTC,32319,daily,maximum,NaN,0.17,ug/l,NaN,NaN,NaN,data_fPC_combined.csv
1,NWIS,05543010,2013-06-27,NaN,UTC,32319,daily,maximum,NaN,0.20,ug/l,NaN,NaN,NaN,data_fPC_combined.csv
2,NWIS,05543010,2013-06-27,NaN,UTC,32319,daily,minimum,NaN,0.09,ug/l,NaN,NaN,NaN,data_fPC_combined.csv
3,NWIS,05543010,2013-06-27,NaN,UTC,32319,daily,mean,NaN,0.14,ug/l,NaN,NaN,NaN,data_fPC_combined.csv
4,NWIS,05543010,2013-06-28,NaN,UTC,32319,daily,maximum,NaN,0.22,ug/l,NaN,NaN,NaN,data_fPC_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_uv_254_combined.csv
Location:../data/data_uv_254_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05517000,2013-05-09,2013-05-09T09:50:00Z,UTC,50624,discrete,NaN,NaN,0.170,units/cm,NaN,NaN,NaN,data_uv_254_combined.csv
1,NWIS,05517000,2013-05-16,2013-05-16T10:30:00Z,UTC,50624,discrete,NaN,NaN,0.161,units/cm,NaN,NaN,NaN,data_uv_254_combined.csv
2,NWIS,05517000,2013-05-23,2013-05-23T09:50:00Z,UTC,50624,discrete,NaN,NaN,0.154,units/cm,NaN,NaN,NaN,data_uv_254_combined.csv
3,NWIS,05517000,2013-06-06,2013-06-06T09:30:00Z,UTC,50624,discrete,NaN,NaN,0.295,units/cm,NaN,NaN,NaN,data_uv_254_combined.csv
4,NWIS,05517000,2013-06-13,2013-06-13T10:40:00Z,UTC,50624,discrete,NaN,NaN,0.337,units/cm,NaN,NaN,NaN,data_uv_254_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_phyto_biomass_combined.csv
Location:../data/data_phyto_biomass_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,422416088203600,2010-08-11,2010-08-11T14:20:00Z,UTC,49953,discrete,NaN,NaN,22.7,mg/l,NaN,93,NaN,data_phyto_biomass_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_pheo_combined.csv
Location:../data/data_pheo_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05517000,2013-05-23,2013-05-23T09:40:00Z,UTC,62360,discrete,NaN,NaN,6.1,ug/l,NaN,00050,NaN,data_pheo_combined.csv
1,NWIS,05517000,2013-06-27,2013-06-27T09:00:00Z,UTC,62360,discrete,NaN,NaN,8.5,ug/l,NaN,00050,NaN,data_pheo_combined.csv
2,NWIS,05537980,2018-03-15,2018-03-15T10:30:00Z,UTC,62360,discrete,NaN,NaN,2.1,ug/l,NaN,00050,NaN,data_pheo_combined.csv
3,NWIS,05537980,2018-05-24,2018-05-24T11:00:00Z,UTC,62360,discrete,NaN,NaN,4.5,ug/l,NaN,00050,NaN,data_pheo_combined.csv
4,NWIS,05537980,2019-04-11,2019-04-11T11:00:00Z,UTC,62360,discrete,NaN,NaN,6.8,ug/l,NaN,00050,NaN,data_pheo_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_DO_combined.csv
Location:../data/data_DO_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,300,discrete,NaN,NaN,10.9,mg/l,NaN,NaN,NaN,data_DO_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,300,discrete,NaN,NaN,12.4,mg/l,NaN,NaN,NaN,data_DO_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,300,discrete,NaN,NaN,11.2,mg/l,NaN,NaN,NaN,data_DO_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,300,discrete,NaN,NaN,10.3,mg/l,NaN,NaN,NaN,data_DO_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,300,discrete,NaN,NaN,9.6,mg/l,NaN,NaN,NaN,data_DO_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_Q_combined.csv
Location:../data/data_Q_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,30209,discrete,NaN,NaN,18.0,m3/sec,NaN,ALGOR,NaN,data_Q_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,30209,discrete,NaN,NaN,13.0,m3/sec,NaN,ALGOR,NaN,data_Q_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,30209,discrete,NaN,NaN,13.0,m3/sec,NaN,ALGOR,NaN,data_Q_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,30209,discrete,NaN,NaN,32.0,m3/sec,NaN,ALGOR,NaN,data_Q_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,30209,discrete,NaN,NaN,31.0,m3/sec,NaN,ALGOR,NaN,data_Q_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_fchl_combined.csv
Location:../data/data_fchl_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2017-10-17,2017-10-17T10:00:00Z,UTC,32318,discrete,NaN,NaN,3.6,ug/l,NaN,NaN,NaN,data_fchl_combined.csv
1,NWIS,05543010,2017-11-15,2017-11-15T10:30:00Z,UTC,32318,discrete,NaN,NaN,3.5,ug/l,NaN,NaN,NaN,data_fchl_combined.csv
2,NWIS,05543010,2018-02-27,2018-02-27T11:00:00Z,UTC,32318,discrete,NaN,NaN,3.7,ug/l,NaN,NaN,NaN,data_fchl_combined.csv
3,NWIS,05543010,2018-04-25,2018-04-25T12:08:00Z,UTC,32318,discrete,NaN,NaN,17.9,ug/l,NaN,NaN,NaN,data_fchl_combined.csv
4,NWIS,05543010,2018-05-31,2018-05-31T15:35:00Z,UTC,32318,discrete,NaN,NaN,12.2,ug/l,NaN,NaN,NaN,data_fchl_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_fDOM_combined.csv
Location:../data/data_fDOM_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586300,2014-11-06,NaN,UTC,32295,daily,maximum,NaN,53.0,ug/l QSE,NaN,NaN,NaN,data_fDOM_combined.csv
1,NWIS,05586300,2014-11-06,NaN,UTC,32295,daily,minimum,NaN,45.2,ug/l QSE,NaN,NaN,NaN,data_fDOM_combined.csv
2,NWIS,05586300,2014-11-06,NaN,UTC,32295,daily,mean,NaN,51.3,ug/l QSE,NaN,NaN,NaN,data_fDOM_combined.csv
3,NWIS,05586300,2014-11-07,NaN,UTC,32295,daily,maximum,NaN,50.9,ug/l QSE,NaN,NaN,NaN,data_fDOM_combined.csv
4,NWIS,05586300,2014-11-07,NaN,UTC,32295,daily,minimum,NaN,44.4,ug/l QSE,NaN,NaN,NaN,data_fDOM_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_NO3_NO2_combined.csv
Location:../data/data_NO3_NO2_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2013-11-20,2013-11-20T16:30:00Z,UTC,631,discrete,NaN,NaN,2.12,mg/l as N,NaN,RED01,NaN,data_NO3_NO2_combined.csv
1,NWIS,05515500,2013-12-16,2013-12-16T16:10:00Z,UTC,631,discrete,NaN,NaN,1.54,mg/l as N,NaN,RED01,NaN,data_NO3_NO2_combined.csv
2,NWIS,05515500,2014-02-19,2014-02-19T16:35:00Z,UTC,631,discrete,NaN,NaN,1.66,mg/l as N,NaN,RED01,NaN,data_NO3_NO2_combined.csv
3,NWIS,05515500,2014-03-12,2014-03-12T15:30:00Z,UTC,631,discrete,NaN,NaN,2.09,mg/l as N,NaN,RED01,NaN,data_NO3_NO2_combined.csv
4,NWIS,05515500,2014-04-09,2014-04-09T13:20:00Z,UTC,631,discrete,NaN,NaN,1.82,mg/l as N,NaN,RED01,NaN,data_NO3_NO2_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_chl_a_combined.csv
Location:../data/data_chl_a_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05517000,2013-05-23,2013-05-23T09:40:00Z,UTC,70953,discrete,NaN,NaN,4.6,ug/l,NaN,00050,b,data_chl_a_combined.csv
1,NWIS,05517000,2013-06-27,2013-06-27T09:00:00Z,UTC,70953,discrete,NaN,NaN,4.0,ug/l,NaN,00050,b,data_chl_a_combined.csv
2,NWIS,05537980,2018-03-15,2018-03-15T10:30:00Z,UTC,70953,discrete,NaN,NaN,5.3,ug/l,NaN,00050,NaN,data_chl_a_combined.csv
3,NWIS,05537980,2018-05-24,2018-05-24T11:00:00Z,UTC,70953,discrete,NaN,NaN,4.6,ug/l,NaN,00050,NaN,data_chl_a_combined.csv
4,NWIS,05537980,2019-04-11,2019-04-11T11:00:00Z,UTC,70953,discrete,NaN,NaN,13.5,ug/l,NaN,00050,NaN,data_chl_a_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

data_algaltoxins_combined.csv
Location:../data/data_algaltoxins_combined.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,Illinois_EPA,D-30,2015-05-06,2015-05-06T15:30:00Z,UTC,"Temperature, sample",discrete,NaN,NaN,0.00,deg C,NaN,LAB ; IL_EPA_WQX ; Analytical method not avail...,NaN,data_algaltoxins_combined.csv
1,Illinois_EPA,D-30,2015-05-06,2015-05-06T15:30:00Z,UTC,Microcystin,discrete,NaN,NaN,0.15,ug/l,<,520011 ; Abraxis LLC ; Microcystins and Nodula...,NaN,data_algaltoxins_combined.csv
2,Illinois_EPA,D-05,2015-05-06,2015-05-06T17:15:00Z,UTC,Microcystin,discrete,NaN,NaN,0.15,ug/l,<,520011 ; Abraxis LLC ; Microcystins and Nodula...,NaN,data_algaltoxins_combined.csv
3,Illinois_EPA,D-05,2015-05-06,2015-05-06T17:15:00Z,UTC,"Temperature, sample",discrete,NaN,NaN,0.00,deg C,NaN,LAB ; IL_EPA_WQX ; Analytical method not avail...,NaN,data_algaltoxins_combined.csv
4,Illinois_EPA,G-08,2015-06-02,2015-06-02T14:40:00Z,UTC,Microcystin,discrete,NaN,NaN,0.15,ug/l,<,520011 ; Abraxis LLC ; Microcystins and Nodula...,NaN,data_algaltoxins_combined.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

In [13]:
d = dict(zip(comb_names, comb_df))
print('Number of daily metric datasets: ', len(comb_names))

Number of daily metric datasets:  22

In [14]:

for i in comb_df:
    display(i.columns)

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

All col are the same.

In [15]:
def print_df_specs(df):
    print('\n', df.filename[0])
    print(df.dtypes)
    print('\n')
    print(df.describe())
    print('\n Any duplicates: \n')
    print(df[df.duplicated()])
    print('\n')

counter = 1
for df in comb_df:
    print('> data file', counter)
    ## run df specs function
    print_df_specs(df)
    counter = counter + 1

> data file 1

 data_usace_00060_combined.csv
source                  object
site_no                 object
date                    object
date_time              float64
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd              float64
method_cd              float64
result_qualifier_cd    float64
filename                object
dtype: object


       date_time  parameter_cd  stat_name  sensor_description    result_va  \
count        0.0        5514.0        0.0                 0.0  5514.000000
mean         NaN          60.0        NaN                 NaN   387.173111
std          NaN           0.0        NaN                 NaN   381.906539
min          NaN          60.0        NaN                 NaN     0.000000
25%          NaN          60.0        NaN                 NaN   154.693522
50%          NaN          60.0        NaN                 NaN   260.023850
75%          NaN          60.0        NaN                 NaN   472.107218
max          NaN          60.0        NaN                 NaN  3186.594544

       remark_cd  method_cd  result_qualifier_cd
count        0.0        0.0                  0.0
mean         NaN        NaN                  NaN
std          NaN        NaN                  NaN
min          NaN        NaN                  NaN
25%          NaN        NaN                  NaN
50%          NaN        NaN                  NaN
75%          NaN        NaN                  NaN
max          NaN        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 2

 data_sediment_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description     result_va
count  12090.000000        0.0                 0.0  12090.000000
mean   79284.656079        NaN                 NaN    327.052440
std     8274.693039        NaN                 NaN   1078.180251
min      530.000000        NaN                 NaN      0.500000
25%    80154.000000        NaN                 NaN     40.000000
50%    80154.000000        NaN                 NaN     80.000000
75%    80154.000000        NaN                 NaN    216.000000
max    80154.000000        NaN                 NaN  41300.000000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 3

 data_SC_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va                int64
units                   object
remark_cd              float64
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd     result_va  remark_cd  result_qualifier_cd
count     5493488.0  5.493488e+06        0.0                  0.0
mean           95.0  8.387327e+02        NaN                  NaN
std             0.0  3.346839e+02        NaN                  NaN
min            95.0  5.200000e+01        NaN                  NaN
25%            95.0  6.400000e+02        NaN                  NaN
50%            95.0  7.440000e+02        NaN                  NaN
75%            95.0  9.430000e+02        NaN                  NaN
max            95.0  4.250000e+03        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 4

 data_OP_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


        parameter_cd      result_va
count  123443.000000  123443.000000
mean    50589.451966       0.432402
std      5909.368650       0.281374
min       671.000000       0.000100
25%     51289.000000       0.232000
50%     51289.000000       0.389000
75%     51289.000000       0.580000
max     51289.000000       3.080000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 5

 data_pH_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd              float64
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd     result_va  remark_cd  result_qualifier_cd
count     1985823.0  1.985823e+06        0.0                  0.0
mean          400.0  7.935058e+00        NaN                  NaN
std             0.0  3.736696e-01        NaN                  NaN
min           400.0  5.700000e+00        NaN                  NaN
25%           400.0  7.700000e+00        NaN                  NaN
50%           400.0  7.900000e+00        NaN                  NaN
75%           400.0  8.200000e+00        NaN                  NaN
max           400.0  1.040000e+01        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 6

 data_turb_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd     result_va
count  3.596812e+06  3.596812e+06
mean   6.367979e+04  2.572624e+01
std    1.161758e+02  4.758867e+01
min    7.600000e+01  1.000000e-02
25%    6.368000e+04  6.600000e+00
50%    6.368000e+04  1.210000e+01
75%    6.368000e+04  2.630000e+01
max    6.368000e+04  2.460000e+03

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 7

 data_temp_water_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd              float64
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object

       parameter_cd     result_va  remark_cd  result_qualifier_cd
count  8.312847e+06  8.312847e+06        0.0                  0.0
mean   1.004207e+01  1.423106e+01        NaN                  NaN
std    2.007400e-01  8.194017e+00        NaN                  NaN
min    1.000000e+01 -1.700000e+00        NaN                  NaN
25%    1.000000e+01  7.000000e+00        NaN                  NaN
50%    1.000000e+01  1.400000e+01        NaN                  NaN
75%    1.000000e+01  2.170000e+01        NaN                  NaN
max    1.100000e+01  3.780000e+01        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 8

 data_vel_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description      object
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name     result_va
count  1.365405e+07        0.0  1.365405e+07
mean   7.225488e+04        NaN  2.146942e-01
std    1.183981e+02        NaN  1.788625e-01
min    5.500000e+01        NaN  0.000000e+00
25%    7.225400e+04        NaN  1.005791e-01
50%    7.225500e+04        NaN  1.767754e-01
75%    7.225500e+04        NaN  2.773545e-01
max    8.190400e+04        NaN  7.314843e+01

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 9

 data_NO3_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description   result_va  \
count         970.0        0.0                 0.0  970.000000
mean          618.0        NaN                 NaN    4.607534
std             0.0        NaN                 NaN    4.267880
min           618.0        NaN                 NaN    0.019000
25%           618.0        NaN                 NaN    1.392500
50%           618.0        NaN                 NaN    3.180000
75%           618.0        NaN                 NaN    6.145000
max           618.0        NaN                 NaN   19.100000

       result_qualifier_cd
count                  0.0
mean                   NaN
std                    NaN
min                    NaN
25%                    NaN
50%                    NaN
75%                    NaN
max                    NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 10

 data_temp_air_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description    result_va
count   2426.000000        0.0                 0.0  2426.000000
mean      20.029266        NaN                 NaN    15.359242
std        0.168587        NaN                 NaN    11.058265
min       20.000000        NaN                 NaN   -20.500000
25%       20.000000        NaN                 NaN     6.100000
50%       20.000000        NaN                 NaN    16.155556
75%       20.000000        NaN                 NaN    24.400000
max       21.000000        NaN                 NaN    42.000000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 11

 data_mats_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va                int64
units                   object
remark_cd              float64
method_cd              float64
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description   result_va  remark_cd  \
count         574.0        0.0                 0.0  574.000000        0.0
mean         1325.0        NaN                 NaN    0.189895        NaN
std             0.0        NaN                 NaN    0.465758        NaN
min          1325.0        NaN                 NaN    0.000000        NaN
25%          1325.0        NaN                 NaN    0.000000        NaN
50%          1325.0        NaN                 NaN    0.000000        NaN
75%          1325.0        NaN                 NaN    0.000000        NaN
max          1325.0        NaN                 NaN    2.000000        NaN

       method_cd  result_qualifier_cd
count        0.0                  0.0
mean         NaN                  NaN
std          NaN                  NaN
min          NaN                  NaN
25%          NaN                  NaN
50%          NaN                  NaN
75%          NaN                  NaN
max          NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 12

 data_fPC_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd              float64
method_cd              float64
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd      result_va  remark_cd  method_cd  result_qualifier_cd
count      357874.0  357874.000000        0.0        0.0                  0.0
mean        32319.0       2.237149        NaN        NaN                  NaN
std             0.0       2.175532        NaN        NaN                  NaN
min         32319.0       0.001000        NaN        NaN                  NaN
25%         32319.0       0.690000        NaN        NaN                  NaN
50%         32319.0       1.490000        NaN        NaN                  NaN
75%         32319.0       3.210000        NaN        NaN                  NaN
max         32319.0      67.100000        NaN        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 13

 data_uv_254_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd              float64
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description   result_va  remark_cd
count         193.0        0.0                 0.0  193.000000        0.0
mean        50624.0        NaN                 NaN    0.127839        NaN
std             0.0        NaN                 NaN    0.052605        NaN
min         50624.0        NaN                 NaN    0.036000        NaN
25%         50624.0        NaN                 NaN    0.103000        NaN
50%         50624.0        NaN                 NaN    0.123000        NaN
75%         50624.0        NaN                 NaN    0.149000        NaN
max         50624.0        NaN                 NaN    0.371000        NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 14

 data_phyto_biomass_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd              float64
method_cd                int64
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description  result_va  remark_cd  \
count           1.0        0.0                 0.0        1.0        0.0
mean        49953.0        NaN                 NaN       22.7        NaN
std             NaN        NaN                 NaN        NaN        NaN
min         49953.0        NaN                 NaN       22.7        NaN
25%         49953.0        NaN                 NaN       22.7        NaN
50%         49953.0        NaN                 NaN       22.7        NaN
75%         49953.0        NaN                 NaN       22.7        NaN
max         49953.0        NaN                 NaN       22.7        NaN

       method_cd  result_qualifier_cd
count        1.0                  0.0
mean        93.0                  NaN
std          NaN                  NaN
min         93.0                  NaN
25%         93.0                  NaN
50%         93.0                  NaN
75%         93.0                  NaN
max         93.0                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 15

 data_pheo_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description   result_va
count         198.0        0.0                 0.0  198.000000
mean        62360.0        NaN                 NaN    8.262121
std             0.0        NaN                 NaN    7.643705
min         62360.0        NaN                 NaN    0.400000
25%         62360.0        NaN                 NaN    3.200000
50%         62360.0        NaN                 NaN    5.300000
75%         62360.0        NaN                 NaN   10.200000
max         62360.0        NaN                 NaN   45.300000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 16

 data_DO_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd     result_va  result_qualifier_cd
count     2258691.0  2.258691e+06                  0.0
mean          300.0  9.084284e+00                  NaN
std             0.0  2.958892e+00                  NaN
min           300.0  1.000000e-02                  NaN
25%           300.0  7.200000e+00                  NaN
50%           300.0  9.000000e+00                  NaN
75%           300.0  1.120000e+01                  NaN
max           300.0  2.920000e+01                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 17

 data_Q_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description    result_va
count   2933.000000        0.0                 0.0  2933.000000
mean   15520.433004        NaN                 NaN   127.059024
std    15071.615508        NaN                 NaN   357.596937
min       61.000000        NaN                 NaN     0.000000
25%       61.000000        NaN                 NaN     0.460000
50%    30208.000000        NaN                 NaN     3.400000
75%    30209.000000        NaN                 NaN    25.000000
max    30209.000000        NaN                 NaN  2950.000000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 18

 data_fchl_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description      object
result_va              float64
units                   object
remark_cd              float64
method_cd              float64
result_qualifier_cd    float64
filename                object
dtype: object


        parameter_cd      result_va  remark_cd  method_cd  result_qualifier_cd
count  839895.000000  839895.000000        0.0        0.0                  0.0
mean    32311.251776      12.443515        NaN        NaN                  NaN
std        13.561022      13.062160        NaN        NaN                  NaN
min     32284.000000       0.010000        NaN        NaN                  NaN
25%     32318.000000       4.500000        NaN        NaN                  NaN
50%     32318.000000       7.800000        NaN        NaN                  NaN
75%     32318.000000      15.400000        NaN        NaN                  NaN
max     32318.000000     266.000000        NaN        NaN                  NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 19

 data_fDOM_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description     float64
result_va              float64
units                   object
remark_cd              float64
method_cd              float64
result_qualifier_cd    float64
filename                object
dtype: object


       parameter_cd  sensor_description      result_va  remark_cd  method_cd  \
count      168562.0                 0.0  168562.000000        0.0        0.0
mean        32295.0                 NaN      47.656438        NaN        NaN
std             0.0                 NaN      11.149964        NaN        NaN
min         32295.0                 NaN       0.300000        NaN        NaN
25%         32295.0                 NaN      41.000000        NaN        NaN
50%         32295.0                 NaN      47.200000        NaN        NaN
75%         32295.0                 NaN      55.510000        NaN        NaN
max         32295.0                 NaN      78.900000        NaN        NaN

       result_qualifier_cd
count                  0.0
mean                   NaN
std                    NaN
min                    NaN
25%                    NaN
50%                    NaN
75%                    NaN
max                    NaN

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 20

 data_NO3_NO2_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name               object
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  sensor_description     result_va
count  2.668442e+06                 0.0  2.668442e+06
mean   9.906556e+04                 NaN  4.843964e+00
std    2.576539e+03                 NaN  4.635175e+00
min    6.310000e+02                 NaN  1.000000e-03
25%    9.913300e+04                 NaN  1.450000e+00
50%    9.913300e+04                 NaN  3.310000e+00
75%    9.913300e+04                 NaN  6.740000e+00
max    9.913300e+04                 NaN  2.920000e+01

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 21

 data_chl_a_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd             int64
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd     object
filename                object
dtype: object


       parameter_cd  stat_name  sensor_description   result_va
count    357.000000        0.0                 0.0  357.000000
mean   53697.714286        NaN                 NaN   10.385098
std    19282.586880        NaN                 NaN   13.967802
min    32210.000000        NaN                 NaN    0.310000
25%    32210.000000        NaN                 NaN    2.780000
50%    70953.000000        NaN                 NaN    5.200000
75%    70953.000000        NaN                 NaN   11.700000
max    70953.000000        NaN                 NaN   97.600000

 Any duplicates:

Empty DataFrame
Columns: [source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []


> data file 22

 data_algaltoxins_combined.csv
source                  object
site_no                 object
date                    object
date_time               object
tz_cd                   object
parameter_cd            object
freq                    object
stat_name              float64
sensor_description     float64
result_va              float64
units                   object
remark_cd               object
method_cd               object
result_qualifier_cd    float64
filename                object
dtype: object


       stat_name  sensor_description     result_va  result_qualifier_cd
count        0.0                 0.0  3.245000e+03                  0.0
mean         NaN                 NaN  3.120216e+04                  NaN
std          NaN                 NaN  1.487779e+06                  NaN
min          NaN                 NaN -7.000000e+00                  NaN
25%          NaN                 NaN  8.600000e-01                  NaN
50%          NaN                 NaN  7.510000e+00                  NaN
75%          NaN                 NaN  2.300000e+01                  NaN
max          NaN                 NaN  8.457000e+07                  NaN

 Any duplicates:

            source site_no        date             date_time tz_cd  \
136   Illinois_EPA    D-09  2018-06-19  2018-06-19T15:40:00Z   UTC
141   Illinois_EPA    D-16  2018-06-19  2018-06-19T17:30:00Z   UTC
145   Illinois_EPA    D-23  2018-06-19  2018-06-19T20:45:00Z   UTC
157   Illinois_EPA    D-09  2018-06-26  2018-06-26T18:15:00Z   UTC
163   Illinois_EPA    D-16  2018-06-26  2018-06-26T19:00:00Z   UTC
...            ...     ...         ...                   ...   ...
2284  Illinois_EPA   REF-1  2016-07-12  2016-07-12T13:50:00Z   UTC
2329  Illinois_EPA   REF-1  2016-08-10  2016-08-10T14:20:00Z   UTC
2369  Illinois_EPA   REF-1  2016-10-05  2016-10-05T14:00:00Z   UTC
2374  Illinois_EPA   RDF-4  2016-10-24  2016-10-24T14:45:00Z   UTC
2378  Illinois_EPA  RDZP-2  2016-10-24  2016-10-24T15:30:00Z   UTC

             parameter_cd      freq  stat_name  sensor_description  result_va  \
136   Temperature, sample  discrete        NaN                 NaN        4.0
141   Temperature, sample  discrete        NaN                 NaN        4.0
145   Temperature, sample  discrete        NaN                 NaN        4.0
157   Temperature, sample  discrete        NaN                 NaN       11.0
163   Temperature, sample  discrete        NaN                 NaN       11.0
...                   ...       ...        ...                 ...        ...
2284  Temperature, sample  discrete        NaN                 NaN        2.0
2329  Temperature, sample  discrete        NaN                 NaN        1.0
2369  Temperature, sample  discrete        NaN                 NaN        2.0
2374  Temperature, sample  discrete        NaN                 NaN        2.0
2378  Temperature, sample  discrete        NaN                 NaN        2.0

      units remark_cd                                          method_cd  \
136   deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
141   deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
145   deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
157   deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
163   deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
...     ...       ...                                                ...
2284  deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
2329  deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
2369  deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
2374  deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...
2378  deg C       NaN  LAB ; IL_EPA_WQX ; Analytical method not avail...

      result_qualifier_cd                       filename
136                   NaN  data_algaltoxins_combined.csv
141                   NaN  data_algaltoxins_combined.csv
145                   NaN  data_algaltoxins_combined.csv
157                   NaN  data_algaltoxins_combined.csv
163                   NaN  data_algaltoxins_combined.csv
...                   ...                            ...
2284                  NaN  data_algaltoxins_combined.csv
2329                  NaN  data_algaltoxins_combined.csv
2369                  NaN  data_algaltoxins_combined.csv
2374                  NaN  data_algaltoxins_combined.csv
2378                  NaN  data_algaltoxins_combined.csv

[104 rows x 15 columns]

### Dates Check

In [16]:
counter = 1
for z in comb_df:
    
    print(z.iloc[:,0:5].head())
    
    filename = z['filename'].iloc[0]
    
    print('\n',counter,'.', filename)

    if (z.columns.str.contains('date').any() == True):
        z.sort_values('date')
        functions_notebook.check_date(z, date_col = 'date')
    else:
        print(f'No date column in {filename}')
        print('columns: ', z.columns)
        
    counter = counter + 1

  source                                      site_no        date  date_time  \
0  USACE  Illinois River at Starved Rock Lock and Dam  2005-10-01        NaN
1  USACE  Illinois River at Starved Rock Lock and Dam  2005-10-02        NaN
2  USACE  Illinois River at Starved Rock Lock and Dam  2005-10-03        NaN
3  USACE  Illinois River at Starved Rock Lock and Dam  2005-10-04        NaN
4  USACE  Illinois River at Starved Rock Lock and Dam  2005-10-05        NaN

  tz_cd
0   UTC
1   UTC
2   UTC
3   UTC
4   UTC

 1 . data_usace_00060_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
40    date format e.g. 2005-11-10 correct
Name: date, dtype: object

End of month dates:
 ['10-31' '12-31' '01-31' '03-31' '05-31' '07-31' '08-31']

Leap year dates:
 ['2008-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-01 00:00:00
Latest date: 2020-12-31 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05525500  2009-11-04  2009-11-04T12:15:00Z   UTC
1   NWIS  05527500  2009-11-04  2009-11-04T18:00:00Z   UTC
2   NWIS  05540275  2005-10-25  2005-10-25T11:15:00Z   UTC
3   NWIS  05540275  2005-11-21  2005-11-21T11:30:00Z   UTC
4   NWIS  05540275  2005-12-19  2005-12-19T14:00:00Z   UTC

 2 . data_sediment_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
214    date format e.g. 2013-05-08 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '01-31' '10-31' '08-31' '07-31' '03-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000'
 '2008-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-08 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 3 . data_SC_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
3780280    date format e.g. 2020-10-22 correct
Name: date, dtype: object

End of month dates:
 ['08-31' '05-31' '10-31' '07-31' '01-31' '03-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 4 . data_OP_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
82252    date format e.g. 2019-09-24 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '10-31' '08-31' '07-31' '03-31' '01-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2008-02-29T00:00:00.000000000'
 '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 5 . data_pH_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
1383480    date format e.g. 2015-05-28 correct
Name: date, dtype: object

End of month dates:
 ['08-31' '05-31' '10-31' '07-31' '01-31' '03-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 6 . data_turb_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
1561363    date format e.g. 2018-02-14 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '01-31' '08-31' '10-31' '07-31' '12-31' '03-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2006-04-05 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 7 . data_temp_water_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
3714426    date format e.g. 2018-07-21 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '01-31' '08-31' '10-31' '07-31' '03-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000'
 '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2015-03-04  2015-03-04T17:35:00Z   UTC
1   NWIS  05515500  2016-05-11  2016-05-11T08:40:00Z   UTC
2   NWIS  05517000  2013-06-06  2013-06-06T09:20:00Z   UTC
3   NWIS  05517000  2013-06-13  2013-06-13T10:30:00Z   UTC
4   NWIS  05517000  2013-06-20  2013-06-20T10:20:00Z   UTC

 8 . data_vel_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
10933054    date format e.g. 2016-05-06 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '07-31' '08-31' '12-31' '01-31' '10-31' '03-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2008-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000']

Earliest date: 2006-04-13 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 9 . data_NO3_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
682    date format e.g. 2015-09-01 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '10-31' '08-31' '07-31' '03-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-08 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05525000  2018-12-11  2018-12-11T09:15:00Z   UTC
1   NWIS  05525500  2018-12-11  2018-12-11T10:45:00Z   UTC
2   NWIS  05536275  2019-02-14  2019-02-14T08:30:00Z   UTC
3   NWIS  05536275  2019-04-24  2019-04-24T08:00:00Z   UTC
4   NWIS  05536275  2019-05-23  2019-05-23T09:00:00Z   UTC

 10 . data_temp_air_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
1136    date format e.g. 2008-12-17 correct
Name: date, dtype: object

End of month dates:
 ['01-31' '05-31' '08-31' '07-31' '10-31' '03-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-22 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2015-02-10  2015-02-10T17:10:00Z   UTC
1   NWIS  05515500  2015-03-04  2015-03-04T17:35:00Z   UTC
2   NWIS  05515500  2015-04-21  2015-04-21T10:05:00Z   UTC
3   NWIS  05515500  2015-05-19  2015-05-19T18:50:00Z   UTC
4   NWIS  05515500  2015-07-23  2015-07-23T10:15:00Z   UTC

 11 . data_mats_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
413    date format e.g. 2016-03-08 correct
Name: date, dtype: object

End of month dates:
 ['01-31' '08-31' '05-31' '10-31' '07-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2013-05-08 00:00:00
Latest date: 2020-12-16 00:00:00
  source   site_no        date date_time tz_cd
0   NWIS  05543010  2013-06-26       NaN   UTC
1   NWIS  05543010  2013-06-27       NaN   UTC
2   NWIS  05543010  2013-06-27       NaN   UTC
3   NWIS  05543010  2013-06-27       NaN   UTC
4   NWIS  05543010  2013-06-28       NaN   UTC

 12 . data_fPC_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
225072    date format e.g. 2019-10-02 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '08-31' '10-31' '12-31' '03-31' '05-31' '01-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000']

Earliest date: 2013-06-26 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05517000  2013-05-09  2013-05-09T09:50:00Z   UTC
1   NWIS  05517000  2013-05-16  2013-05-16T10:30:00Z   UTC
2   NWIS  05517000  2013-05-23  2013-05-23T09:50:00Z   UTC
3   NWIS  05517000  2013-06-06  2013-06-06T09:30:00Z   UTC
4   NWIS  05517000  2013-06-13  2013-06-13T10:40:00Z   UTC

 13 . data_uv_254_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
119    date format e.g. 2015-10-13 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '03-31' '05-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2007-11-06 00:00:00
Latest date: 2018-10-23 00:00:00
  source          site_no        date             date_time tz_cd
0   NWIS  422416088203600  2010-08-11  2010-08-11T14:20:00Z   UTC

 14 . data_phyto_biomass_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
0    date format e.g. 2010-08-11 correct
Name: date, dtype: object

End of month dates:
 []

Leap year dates:
 []

Earliest date: 2010-08-11 00:00:00
Latest date: 2010-08-11 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05517000  2013-05-23  2013-05-23T09:40:00Z   UTC
1   NWIS  05517000  2013-06-27  2013-06-27T09:00:00Z   UTC
2   NWIS  05537980  2018-03-15  2018-03-15T10:30:00Z   UTC
3   NWIS  05537980  2018-05-24  2018-05-24T11:00:00Z   UTC
4   NWIS  05537980  2019-04-11  2019-04-11T11:00:00Z   UTC

 15 . data_pheo_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
58    date format e.g. 2019-09-18 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '07-31']

Leap year dates:
 []

Earliest date: 2010-08-11 00:00:00
Latest date: 2020-09-28 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 16 . data_DO_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
1907277    date format e.g. 2013-04-27 correct
Name: date, dtype: object

End of month dates:
 ['08-31' '05-31' '10-31' '07-31' '01-31' '03-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 17 . data_Q_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
2419    date format e.g. 2007-04-17 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '01-31' '03-31' '08-31' '07-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-14 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05543010  2017-10-17  2017-10-17T10:00:00Z   UTC
1   NWIS  05543010  2017-11-15  2017-11-15T10:30:00Z   UTC
2   NWIS  05543010  2018-02-27  2018-02-27T11:00:00Z   UTC
3   NWIS  05543010  2018-04-25  2018-04-25T12:08:00Z   UTC
4   NWIS  05543010  2018-05-31  2018-05-31T15:35:00Z   UTC

 18 . data_fchl_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
608451    date format e.g. 2020-07-19 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '07-31' '08-31' '10-31' '12-31' '01-31' '03-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2013-06-26 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date date_time tz_cd
0   NWIS  05586300  2014-11-06       NaN   UTC
1   NWIS  05586300  2014-11-06       NaN   UTC
2   NWIS  05586300  2014-11-06       NaN   UTC
3   NWIS  05586300  2014-11-07       NaN   UTC
4   NWIS  05586300  2014-11-07       NaN   UTC

 19 . data_fDOM_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
37872    date format e.g. 2015-11-15 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2014-11-06 00:00:00
Latest date: 2020-03-03 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05515500  2013-11-20  2013-11-20T16:30:00Z   UTC
1   NWIS  05515500  2013-12-16  2013-12-16T16:10:00Z   UTC
2   NWIS  05515500  2014-02-19  2014-02-19T16:35:00Z   UTC
3   NWIS  05515500  2014-03-12  2014-03-12T15:30:00Z   UTC
4   NWIS  05515500  2014-04-09  2014-04-09T13:20:00Z   UTC

 20 . data_NO3_NO2_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
1050522    date format e.g. 2020-12-23 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '10-31' '08-31' '07-31' '03-31' '01-31' '12-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2008-02-29T00:00:00.000000000'
 '2012-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2021-01-01 00:00:00
  source   site_no        date             date_time tz_cd
0   NWIS  05517000  2013-05-23  2013-05-23T09:40:00Z   UTC
1   NWIS  05517000  2013-06-27  2013-06-27T09:00:00Z   UTC
2   NWIS  05537980  2018-03-15  2018-03-15T10:30:00Z   UTC
3   NWIS  05537980  2018-05-24  2018-05-24T11:00:00Z   UTC
4   NWIS  05537980  2019-04-11  2019-04-11T11:00:00Z   UTC

 21 . data_chl_a_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
140    date format e.g. 2013-05-23 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '07-31' '08-31']

Leap year dates:
 []

Earliest date: 2005-11-14 00:00:00
Latest date: 2020-09-28 00:00:00
         source site_no        date             date_time tz_cd
0  Illinois_EPA    D-30  2015-05-06  2015-05-06T15:30:00Z   UTC
1  Illinois_EPA    D-30  2015-05-06  2015-05-06T15:30:00Z   UTC
2  Illinois_EPA    D-05  2015-05-06  2015-05-06T17:15:00Z   UTC
3  Illinois_EPA    D-05  2015-05-06  2015-05-06T17:15:00Z   UTC
4  Illinois_EPA    G-08  2015-06-02  2015-06-02T14:40:00Z   UTC

 22 . data_algaltoxins_combined.csv

original date col type: object

 date col type after pandas conversion: datetime64[ns]
2571    date format e.g. 2018-07-05 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '07-31' '08-31']

Leap year dates:
 []

Earliest date: 2012-08-29 00:00:00
Latest date: 2020-09-28 00:00:00

### Tabular Values

In [17]:

counter = 1
for df in comb_df:
    print(f'\n{counter}. {df.filename[0]}')
    cols = df.columns
    for col in cols:
        print('   ', df[col].name,'  - dtype:', df[col].dtypes)
        if df[col].dtypes == 'O':
            functions_notebook.check_whitespace(df_col = df[col])
        if (df[col].dtypes == 'float64') or (df[col].dtypes == 'int64'):
            functions_notebook.calc_metrics(df_col = df[col])
        else: 
            pass
    counter = counter + 1
    print(f'\n   > whitespace scan complete for {df.filename[0]}')

1. data_usace_00060_combined.csv
    source   - dtype: object
       unique str values are  ['USACE']
    site_no   - dtype: object
       unique str values are  ['Illinois River at Starved Rock Lock and Dam']
    date   - dtype: datetime64[ns]
    date_time   - dtype: float64
Col date_time values are:
       min: nan
       mean: nan
       max: nan
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 60
       mean: 60.0
       max: 60
    freq   - dtype: object
       unique str values are  ['daily']
    stat_name   - dtype: float64
Col stat_name values are:
       min: nan
       mean: nan
       max: nan
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.0
       mean: 387.17311096870844
       max: 3186.594543721977
    units   - dtype: object
       unique str values are  ['ft3/s']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: float64
Col method_cd values are:
       min: nan
       mean: nan
       max: nan
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_usace_00060_combined.csv']

   > whitespace scan complete for data_usace_00060_combined.csv

2. data_sediment_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05525500' '05527500' '05540275' '05541710' '05553000' '05556500'
 '422416088203600' '05579627' '05579626' '05579628' '05515500' '05517000'
 '05517500' '05518000' '05524500' '05527900' '05531500' '05532500'
 '05537980' '05543500' '05548105' '05550500' '05551030' '05552500'
 '05559600' '05570000' '05572000' '05585830' '05586100' '05586300'
 '05551029' '05579610' '05579620' '05579630' '05527905' '05527910'
 '05559700' '05586750' '05586760' '05527656' '05544090' '05540268'
 '05554300' '05516665' '05517010' '411439087065601' '400856089562001'
 '404917088222701' '391136090341101' '05579624' '05575550' '05576100'
 '05576195' '05586745' '05586647']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2009-11-04T12:15:00Z' '2009-11-04T18:00:00Z' '2005-10-25T11:15:00Z' ...
 '2020-09-03T15:40:00Z' '2020-09-11T16:40:00Z' '2020-09-17T15:50:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 530
       mean: 79284.65607940446
       max: 80154
    freq   - dtype: object
       unique str values are  ['discrete']
    stat_name   - dtype: float64
Col stat_name values are:
       min: nan
       mean: nan
       max: nan
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.5
       mean: 327.0524400330852
       max: 41300.0
    units   - dtype: object
       unique str values are  ['mg/l']
    remark_cd   - dtype: object
       unique str values are  [nan '<' 'A']
       attribute not determined as str: nan in [nan '<' 'A']
       attribute not determined as str: nan in [nan '<' 'A']
    method_cd   - dtype: object
       unique str values are  ['SLD04' 'SED16' nan 'SED10' 'SED09']
       attribute not determined as str: nan in ['SLD04' 'SED16' nan 'SED10' 'SED09']
       attribute not determined as str: nan in ['SLD04' 'SED16' nan 'SED10' 'SED09']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'd']
       attribute not determined as str: nan in [nan 'd']
       attribute not determined as str: nan in [nan 'd']
    filename   - dtype: object
       unique str values are  ['data_sediment_combined.csv']

   > whitespace scan complete for data_sediment_combined.csv

3. data_SC_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05531500' '05532500'
 '05536123' '05536275' '05536700' '05537000' '05537980' '05538008'
 '05538010' '05539030' '05539450' '05540275' '05540500' '05541510'
 '05541710' '05542000' '05543010' '05548105' '05548110' '05549500'
 '05550500' '05551540' '05551700' '05553000' '05553500' '05553700'
 '05554490' '05555300' '05556200' '05556500' '05558000' '05558300'
 '05558500' '05559600' '05559900' '05560000' '05560500' '05562000'
 '05562010' '05562100' '05563525' '05563590' '05570910' '05572000'
 '05573504' '05574500' '05575500' '05579500' '05580000' '05581500'
 '05586100' '05586300' '05544371' '05545750' '423246088175800'
 '423329088323300' '424621088335500' '424854088123300' '424905088204000'
 '424915088083900' '05536118' '05549501' '05579610' '05579620' '05579630'
 '423029088050000' '424840088241600' '424929088231300' '424934088220400'
 '05559700' '05562200' '05527656' '05544090' '05559800' '05559820'
 '05544099' '05559850' '05558990' '05558295' '05559770' '05559590'
 '05559840' '05559830' '05559890' '05561800' '422416088203600' '05579626'
 '05554300' '05516665' '05517010' '411439087065601' '400856089562001'
 '404917088222701' '391136090341101' '05575550' '05538020'
 '411955088280601' '402004090030901' '05568704' '05551580'
 '414130087521301' '05579624' '05536137' '05576195' '05576100' '05578100'
 '05578250' '05550001' '05539670' '05536995']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T01:55:00Z' '2015-07-15T02:25:00Z' '2015-07-15T04:55:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T01:55:00Z' '2015-07-15T02:25:00Z' '2015-07-15T04:55:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T01:55:00Z' '2015-07-15T02:25:00Z' '2015-07-15T04:55:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 95
       mean: 95.0
       max: 95
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'mean' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'mean' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'mean' 'maximum' 'minimum']
    sensor_description   - dtype: object
       unique str values are  [nan 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.' 'P4' 'P3' 'P2' 'P1'
 'SHD' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
       attribute not determined as str: nan in [nan 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.' 'P4' 'P3' 'P2' 'P1'
 'SHD' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
       attribute not determined as str: nan in [nan 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.' 'P4' 'P3' 'P2' 'P1'
 'SHD' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
    result_va   - dtype: int64
Col result_va values are:
       min: 52
       mean: 838.7326569203391
       max: 4250
    units   - dtype: object
       unique str values are  ['uS/cm @25C']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: object
       unique str values are  [nan 'SC001' 'SC003']
       attribute not determined as str: nan in [nan 'SC001' 'SC003']
       attribute not determined as str: nan in [nan 'SC001' 'SC003']
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_SC_combined.csv']

   > whitespace scan complete for data_SC_combined.csv

4. data_OP_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05525500'
 '05527500' '05531500' '05532500' '05537000' '05537980' '05538008'
 '05538010' '05539450' '05540275' '05541510' '05541710' '05542000'
 '05543500' '05549500' '05550500' '05553000' '05556500' '05558300'
 '05558500' '05572000' '05586100' '05586300' '05545750' '423246088175800'
 '423329088323300' '424905088204000' '424915088083900' '05549501'
 '05579610' '05579620' '05579630' '424840088241600' '424929088231300'
 '424934088220400' '05586750' '05586760' '05544099' '422416088203600'
 '05579626' '05554300' '411439087065601' '400856089562001' '05544989'
 '404917088222701' '391136090341101' '05575550' '05538020' '05576100'
 '05576195' '05586745' '05586647']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 671
       mean: 50589.451965684566
       max: 51289
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
    sensor_description   - dtype: object
       unique str values are  [nan 'WETLABS.']
       attribute not determined as str: nan in [nan 'WETLABS.']
       attribute not determined as str: nan in [nan 'WETLABS.']
    result_va   - dtype: float64
Col result_va values are:
       min: 0.0001
       mean: 0.43240216707307794
       max: 3.08
    units   - dtype: object
       unique str values are  ['mg/l as P']
    remark_cd   - dtype: object
       unique str values are  [nan '<' 'E']
       attribute not determined as str: nan in [nan '<' 'E']
       attribute not determined as str: nan in [nan '<' 'E']
    method_cd   - dtype: object
       unique str values are  ['PHM01' nan '00048' 'CL053' 'CL057']
       attribute not determined as str: nan in ['PHM01' nan '00048' 'CL053' 'CL057']
       attribute not determined as str: nan in ['PHM01' nan '00048' 'CL053' 'CL057']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'n' 'c' 'd' '*d' 'dc' '@dc' '*' 'cd' '@c' '*c']
       attribute not determined as str: nan in [nan 'n' 'c' 'd' '*d' 'dc' '@dc' '*' 'cd' '@c' '*c']
       attribute not determined as str: nan in [nan 'n' 'c' 'd' '*d' 'dc' '@dc' '*' 'cd' '@c' '*c']
    filename   - dtype: object
       unique str values are  ['data_OP_combined.csv']

   > whitespace scan complete for data_OP_combined.csv

5. data_pH_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object

       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05531500' '05532500'
 '05536275' '05536700' '05537000' '05537980' '05538008' '05538010'
 '05539030' '05539450' '05540275' '05540500' '05541510' '05541710'
 '05542000' '05543010' '05548105' '05548110' '05549500' '05550500'
 '05551540' '05551700' '05553000' '05553500' '05553700' '05554490'
 '05555300' '05556200' '05556500' '05558000' '05558300' '05558500'
 '05558995' '05559600' '05559900' '05560000' '05560500' '05562100'
 '05563590' '05570910' '05572000' '05573504' '05574500' '05575500'
 '05579500' '05580000' '05581500' '05586100' '05586300' '05544371'
 '05545750' '423246088175800' '423329088323300' '424621088335500'
 '424854088123300' '424905088204000' '424915088083900' '05549501'
 '05579610' '05579620' '05579630' '423029088050000' '424840088241600'
 '424929088231300' '424934088220400' '05559700' '05562200' '05527656'
 '05544090' '05559800' '05559820' '05544099' '05559850' '05558990'
 '422416088203600' '05579626' '05554300' '05516665' '05517010'
 '411439087065601' '400856089562001' '404917088222701' '391136090341101'
 '05575550' '05538020' '411955088280601' '402004090030901' '05568704'
 '05576195' '05576100' '05550001']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2016-11-30T16:00:00Z' '2016-11-30T16:15:00Z' '2016-11-30T16:30:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2016-11-30T16:00:00Z' '2016-11-30T16:15:00Z' '2016-11-30T16:30:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2016-11-30T16:00:00Z' '2016-11-30T16:15:00Z' '2016-11-30T16:30:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 400
       mean: 400.0
       max: 400
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'median' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'median' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'median' 'maximum' 'minimum']
    sensor_description   - dtype: object
       unique str values are  [nan 'SHD' 'YSI.EXO2' '6600' 'YSI.6600' 'EXO']
       attribute not determined as str: nan in [nan 'SHD' 'YSI.EXO2' '6600' 'YSI.6600' 'EXO']
       attribute not determined as str: nan in [nan 'SHD' 'YSI.EXO2' '6600' 'YSI.6600' 'EXO']
    result_va   - dtype: float64
Col result_va values are:
       min: 5.7
       mean: 7.935057907976853
       max: 10.4
    units   - dtype: object
       unique str values are  ['std units']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: object
       unique str values are  [nan 'PROBE' 'EL009' 'EL003']
       attribute not determined as str: nan in [nan 'PROBE' 'EL009' 'EL003']
       attribute not determined as str: nan in [nan 'PROBE' 'EL009' 'EL003']
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_pH_combined.csv']

   > whitespace scan complete for data_pH_combined.csv

6. data_turb_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05548105'
 '05548110' '05551700' '05586100' '05527910' '422416088203600' '05516665'
 '05517010' '05520500' '05525000' '05525500' '05526000' '05527500'
 '05536275' '05536700' '05537000' '05537980' '05538008' '05538010'
 '05539030' '05539450' '05540500' '05541510' '05541710' '05542000'
 '05543010' '05543500' '05549500' '05551540' '05553000' '05553500'
 '05554490' '05555300' '05556500' '05558300' '05570910' '05572000'
 '05573504' '05574500' '05575500' '05579500' '05580000' '05581500'
 '05586300' '05549501' '05559700' '05538020' '402004090030901'
 '423246088175800' '423329088323300' '424915088083900' '05579610'
 '05579620' '05579630' '424840088241600' '424929088231300'
 '424934088220400' '05544099' '424905088204000' '411955088280601'
 '05576195' '05576100']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-03-03T04:15:00Z' '2015-03-03T04:30:00Z' '2015-03-03T04:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-03-03T04:15:00Z' '2015-03-03T04:30:00Z' '2015-03-03T04:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-03-03T04:15:00Z' '2015-03-03T04:30:00Z' '2015-03-03T04:45:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 76
       mean: 63679.78607110964
       max: 63680
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'maximum' 'mean' 'minimum']
       attribute not determined as str: nan in [nan 'maximum' 'mean' 'minimum']
       attribute not determined as str: nan in [nan 'maximum' 'mean' 'minimum']
    sensor_description   - dtype: object
       unique str values are  [nan 'YSI.' 'HACH.' '6.series' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
       attribute not determined as str: nan in [nan 'YSI.' 'HACH.' '6.series' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
       attribute not determined as str: nan in [nan 'YSI.' 'HACH.' '6.series' '6600' 'EXO' 'YSI.EXO2' 'YSI.6600']
    result_va   - dtype: float64
Col result_va values are:
       min: 0.01
       mean: 25.726238791460958
       max: 2460.0
    units   - dtype: object
       unique str values are  ['FNU' 'NTRU' 'NTU']
    remark_cd   - dtype: object
       unique str values are  [nan '>' 'E' '<']
       attribute not determined as str: nan in [nan '>' 'E' '<']
       attribute not determined as str: nan in [nan '>' 'E' '<']
    method_cd   - dtype: object
       unique str values are  [nan 'TS087' 'TS031' 'TS101' 'TS100' 'TS098' 'TS027' 'TS093']
       attribute not determined as str: nan in [nan 'TS087' 'TS031' 'TS101' 'TS100' 'TS098' 'TS027' 'TS093']
       attribute not determined as str: nan in [nan 'TS087' 'TS031' 'TS101' 'TS100' 'TS098' 'TS027' 'TS093']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'b' '*' '@c']
       attribute not determined as str: nan in [nan 'b' '*' '@c']
       attribute not determined as str: nan in [nan 'b' '*' '@c']
    filename   - dtype: object
       unique str values are  ['data_turb_combined.csv']

   > whitespace scan complete for data_turb_combined.csv

7. data_temp_water_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05527900' '05531500'
 '05532500' '05536123' '05536275' '05536700' '05537000' '05537980'
 '05538008' '05538010' '05539030' '05539450' '05540275' '05540500'
 '05541510' '05541710' '05542000' '05543010' '05548105' '05548110'
 '05549500' '05550500' '05551540' '05551700' '05553000' '05553500'
 '05553700' '05554490' '05555300' '05556200' '05556500' '05558000'
 '05558300' '05558500' '05558995' '05559600' '05559900' '05560000'
 '05560500' '05562000' '05562010' '05562100' '05563525' '05563590'
 '05570910' '05572000' '05573504' '05574500' '05575500' '05579500'
 '05580000' '05581500' '05586100' '05586300' '05544371' '05545750'
 '423246088175800' '423329088323300' '424621088335500' '424854088123300'
 '424905088204000' '424915088083900' '05536118' '05549501' '05579610'
 '05579620' '05579630' '423029088050000' '424840088241600'
 '424929088231300' '05527905' '05527910' '424934088220400' '05559700'
 '05562200' '05527656' '05544090' '05559800' '05559820' '05544099'
 '05559850' '05540268' '05558990' '05558295' '05559770' '05559590'
 '05559840' '05559830' '05559890' '05561800' '422416088203600' '05579626'
 '05554300' '05516665' '05517010' '411439087065601' '400856089562001'
 '404917088222701' '391136090341101' '05575550' '05538020'
 '411955088280601' '402004090030901' '05578300' '05551580'
 '412320088154101' '05539670' '05527000' '414130087521301' '05579624'
 '05536137' '05576195' '05576100' '05578100' '05578250' '05550001'
 '05536995' '05536179' '05536195' '05536160' '413339087223001']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object

       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2020-02-04T19:10:00Z' '2020-02-04T19:20:00Z' '2020-02-04T19:40:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2020-02-04T19:10:00Z' '2020-02-04T19:20:00Z' '2020-02-04T19:40:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2020-02-04T19:10:00Z' '2020-02-04T19:20:00Z' '2020-02-04T19:40:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 10
       mean: 10.042066093601868
       max: 11
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
    sensor_description   - dtype: object
       unique str values are  [nan 'Sutron.Thermistor.A' 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.'
 'P4' 'P3' 'P2' 'P1' 'SHD' 'TOP.' 'BOTTOM.' 'Sutron.Thermistor.B'
 '6.series' '6600' 'EXO' 'YSI.6600' 'YSI.EXO2' 'YSI']
       attribute not determined as str: nan in [nan 'Sutron.Thermistor.A' 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.'
 'P4' 'P3' 'P2' 'P1' 'SHD' 'TOP.' 'BOTTOM.' 'Sutron.Thermistor.B'
 '6.series' '6600' 'EXO' 'YSI.6600' 'YSI.EXO2' 'YSI']
       attribute not determined as str: nan in [nan 'Sutron.Thermistor.A' 'TOP..2.FT.' 'MIDDLE..6.FT.' 'BOTTOM..10.FT.'
 'P4' 'P3' 'P2' 'P1' 'SHD' 'TOP.' 'BOTTOM.' 'Sutron.Thermistor.B'
 '6.series' '6600' 'EXO' 'YSI.6600' 'YSI.EXO2' 'YSI']
    result_va   - dtype: float64
Col result_va values are:
       min: -1.7
       mean: 14.231062169992887
       max: 37.8
    units   - dtype: object
       unique str values are  ['deg C']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: object
       unique str values are  [nan 'THM01' 'THM03']
       attribute not determined as str: nan in [nan 'THM01' 'THM03']
       attribute not determined as str: nan in [nan 'THM01' 'THM03']
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_temp_water_combined.csv']

   > whitespace scan complete for data_temp_water_combined.csv

8. data_vel_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05531500' '05536700'
 '05537000' '05540500' '05541510' '05541710' '05542000' '05550500'
 '05551540' '05551700' '05553000' '05553500' '05554490' '05555300'
 '05556500' '05572000' '05573504' '05575500' '05579500' '05586100'
 '05586300' '05579610' '05579620' '05579630' '05586750' '05586760'
 '05554300' '05516665' '411439087065601' '400856089562001'
 '404917088222701' '391136090341101' '05575550' '05538020' '05576100'
 '05576195' '05536275' '05537980' '05539030' '05570910' '05574500'
 '05580000' '05581500' '05532500' '05540275' '05527910' '05536123'
 '05536995' '05536366' '05558300' '05568500' '05578100' '402004090030901'
 '411955088280601' '05536890' '05536190']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2015-03-04T17:35:00Z' '2016-05-11T08:40:00Z' '2013-06-06T09:20:00Z' ...
 '2021-01-01T05:57:00Z' '2021-01-01T05:58:00Z' '2021-01-01T05:59:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 55
       mean: 72254.88187514726
       max: 81904
    freq   - dtype: object
       unique str values are  ['discrete' 'instantaneous']
    stat_name   - dtype: float64
Col stat_name values are:
       min: nan
       mean: nan
       max: nan
    sensor_description   - dtype: object
       unique str values are  [nan 'SURFACE.CELL.1.' 'SURFACE.CELL.3.' 'SURFACE.CELL.8.'
 'SURFACE.CELL.2.' 'SURFACE.CELL.4.' 'SURFACE.CELL.5.' 'SURFACE.CELL.6.'
 'SURFACE.CELL.7.' 'SURFACE.AVERAGE.' 'SURFACE.CELL.9.' 'X.Average.' 'SL'
 'NORTH.CULVERT.' 'SOUTH.CULVERT.' 'Uplooker...Uplooker.']
       attribute not determined as str: nan in [nan 'SURFACE.CELL.1.' 'SURFACE.CELL.3.' 'SURFACE.CELL.8.'
 'SURFACE.CELL.2.' 'SURFACE.CELL.4.' 'SURFACE.CELL.5.' 'SURFACE.CELL.6.'
 'SURFACE.CELL.7.' 'SURFACE.AVERAGE.' 'SURFACE.CELL.9.' 'X.Average.' 'SL'
 'NORTH.CULVERT.' 'SOUTH.CULVERT.' 'Uplooker...Uplooker.']
       attribute not determined as str: nan in [nan 'SURFACE.CELL.1.' 'SURFACE.CELL.3.' 'SURFACE.CELL.8.'
 'SURFACE.CELL.2.' 'SURFACE.CELL.4.' 'SURFACE.CELL.5.' 'SURFACE.CELL.6.'
 'SURFACE.CELL.7.' 'SURFACE.AVERAGE.' 'SURFACE.CELL.9.' 'X.Average.' 'SL'
 'NORTH.CULVERT.' 'SOUTH.CULVERT.' 'Uplooker...Uplooker.']
    result_va   - dtype: float64
Col result_va values are:
       min: 0.0
       mean: 0.21469421230546656
       max: 73.1484303565986
    units   - dtype: object
       unique str values are  ['m/sec']
    remark_cd   - dtype: object
       unique str values are  [nan 'E' '>' '<' 'A']
       attribute not determined as str: nan in [nan 'E' '>' '<' 'A']
       attribute not determined as str: nan in [nan 'E' '>' '<' 'A']
    method_cd   - dtype: object
       unique str values are  [nan 'SADVM' 'V-EST' 'VADCP' 'VADV' 'VTIME']
       attribute not determined as str: nan in [nan 'SADVM' 'V-EST' 'VADCP' 'VADV' 'VTIME']
       attribute not determined as str: nan in [nan 'SADVM' 'V-EST' 'VADCP' 'VADV' 'VTIME']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'e']
       attribute not determined as str: nan in [nan 'e']
       attribute not determined as str: nan in [nan 'e']
    filename   - dtype: object
       unique str values are  ['data_vel_combined.csv']

   > whitespace scan complete for data_vel_combined.csv

9. data_NO3_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05525500'
 '05527500' '05531500' '05532500' '05537000' '05538008' '05538010'
 '05539450' '05540275' '05541510' '05541710' '05542000' '05543500'
 '05549500' '05550500' '05553000' '05556500' '05558300' '05558500'
 '05572000' '05586100' '05586300' '05545750' '05549501' '05579610'
 '05579620' '05579630' '422416088203600' '05579626' '05554300'
 '411439087065601' '400856089562001' '05544989' '404917088222701'
 '391136090341101' '05575550' '05538020']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z'
 '2014-03-12T15:30:00Z' '2014-04-09T13:20:00Z' '2014-04-24T11:50:00Z'
 '2014-05-07T12:51:00Z' '2014-05-28T14:00:00Z' '2014-06-11T13:45:00Z'
 '2014-07-08T09:55:00Z' '2014-07-30T14:30:00Z' '2014-08-13T13:35:00Z'
 '2014-08-26T14:30:00Z' '2014-09-18T14:45:00Z' '2014-10-07T13:00:00Z'
 '2014-12-29T15:30:00Z' '2015-03-04T17:35:00Z' '2015-04-21T10:05:00Z'
 '2015-05-19T18:50:00Z' '2015-07-23T10:15:00Z' '2015-09-16T10:35:00Z'
 '2015-11-09T16:40:00Z' '2016-04-13T08:40:00Z' '2016-05-11T08:40:00Z'
 '2016-06-15T12:00:00Z' '2016-06-21T08:20:00Z' '2016-07-20T11:20:00Z'
 '2016-08-03T10:20:00Z' '2016-08-16T14:40:00Z' '2017-01-17T17:20:00Z'
 '2017-04-10T14:40:00Z' '2017-05-02T08:50:00Z' '2017-05-24T11:30:00Z'
 '2017-06-07T17:00:00Z' '2017-06-22T19:20:00Z' '2017-07-25T18:10:00Z'
 '2017-09-27T14:20:00Z' '2017-12-14T14:10:00Z' '2018-01-30T17:50:00Z'
 '2018-02-21T12:40:00Z' '2018-05-04T13:40:00Z' '2018-07-18T17:10:00Z'
 '2018-08-01T16:10:00Z' '2018-08-30T19:30:00Z' '2018-10-24T17:50:00Z'
 '2018-11-08T13:00:00Z' '2019-02-05T16:50:00Z' '2019-03-12T10:40:00Z'
 '2019-04-09T12:40:00Z' '2019-04-25T09:40:00Z' '2019-05-09T11:50:00Z'
 '2019-05-21T10:30:00Z' '2019-06-06T12:40:00Z' '2019-07-01T17:40:00Z'
 '2019-07-17T14:30:00Z' '2019-07-30T11:20:00Z' '2019-08-14T13:20:00Z'
 '2019-08-29T10:30:00Z' '2019-10-09T10:40:00Z' '2019-10-22T16:30:00Z'
 '2019-11-21T12:40:00Z' '2020-01-07T15:30:00Z' '2020-02-11T13:00:00Z'
 '2020-03-18T10:40:00Z' '2020-04-14T11:20:00Z' '2020-06-03T10:20:00Z'
 '2013-05-09T09:40:00Z' '2013-05-16T10:20:00Z' '2013-05-23T09:40:00Z'
 '2013-06-06T09:20:00Z' '2013-06-13T10:30:00Z' '2013-06-20T10:20:00Z'
 '2013-06-27T09:00:00Z' '2013-07-11T09:30:00Z' '2013-07-18T10:00:00Z'
 '2013-08-08T09:00:00Z' '2016-04-12T15:00:00Z' '2016-04-26T10:45:00Z'
 '2016-05-10T13:50:00Z' '2016-05-24T10:30:00Z' '2016-07-07T10:20:00Z'
 '2016-07-20T16:40:00Z' '2016-08-03T15:40:00Z' '2016-08-16T10:50:00Z'
 '2016-08-30T11:00:00Z' '2016-09-14T09:40:00Z' '2016-09-28T10:30:00Z'
 '2016-11-30T13:30:00Z' '2017-03-22T14:30:00Z' '2017-04-11T12:40:00Z'
 '2017-06-08T11:40:00Z' '2017-06-22T12:40:00Z' '2017-07-11T13:10:00Z'
 '2017-07-24T15:10:00Z' '2017-08-09T10:00:00Z' '2017-08-24T15:20:00Z'
 '2017-09-12T13:30:00Z' '2017-09-26T13:50:00Z' '2017-12-19T15:30:00Z'
 '2018-01-30T14:00:00Z' '2018-02-21T16:20:00Z' '2018-04-17T14:20:00Z'
 '2018-06-13T16:00:00Z' '2018-07-17T18:00:00Z' '2018-09-21T12:30:00Z'
 '2018-10-12T12:20:00Z' '2019-02-05T15:40:00Z' '2019-03-12T15:10:00Z'
 '2019-04-08T16:00:00Z' '2019-04-24T14:50:00Z' '2019-05-09T14:40:00Z'
 '2019-05-21T15:10:00Z' '2019-06-06T19:10:00Z' '2019-07-02T11:20:00Z'
 '2019-07-17T10:50:00Z' '2019-09-10T13:40:00Z' '2019-10-09T14:10:00Z'
 '2019-10-23T12:30:00Z' '2019-11-21T17:10:00Z' '2020-02-11T16:50:00Z'
 '2020-03-18T13:00:00Z' '2020-04-14T14:50:00Z' '2016-01-05T10:45:00Z'
 '2016-02-02T09:45:00Z' '2016-02-29T15:45:00Z' '2016-03-29T09:00:00Z'
 '2016-04-12T09:30:00Z' '2016-04-25T17:00:00Z' '2016-05-10T09:00:00Z'
 '2016-05-23T15:20:00Z' '2016-07-06T17:50:00Z' '2016-07-21T09:00:00Z'
 '2016-08-04T11:00:00Z' '2016-08-15T14:10:00Z' '2016-08-29T15:15:00Z'
 '2016-09-15T07:30:00Z' '2016-09-29T07:50:00Z' '2016-11-29T18:50:00Z'
 '2017-01-18T12:50:00Z' '2017-04-06T16:00:00Z' '2017-05-01T14:20:00Z'
 '2017-06-23T13:00:00Z' '2017-07-12T11:10:00Z' '2017-07-26T10:50:00Z'
 '2017-08-24T10:20:00Z' '2017-09-27T09:30:00Z' '2017-12-15T11:20:00Z'
 '2018-01-30T09:40:00Z' '2018-02-22T10:00:00Z' '2018-03-08T11:00:00Z'
 '2018-03-15T09:20:00Z' '2018-03-30T12:20:00Z' '2018-04-17T18:50:00Z'
 '2018-05-04T10:50:00Z' '2018-05-31T10:10:00Z' '2018-07-18T12:30:00Z'
 '2018-10-25T17:10:00Z' '2018-12-04T14:50:00Z' '2019-03-13T09:30:00Z'
 '2019-04-26T09:30:00Z' '2019-05-09T18:50:00Z' '2019-05-22T10:00:00Z'
 '2019-06-07T12:20:00Z' '2019-07-30T16:10:00Z' '2019-08-15T10:40:00Z'
 '2019-08-29T17:20:00Z' '2019-09-10T17:40:00Z' '2019-09-24T15:45:00Z'
 '2019-10-10T08:40:00Z' '2019-10-23T17:20:00Z' '2019-10-31T10:10:00Z'
 '2019-11-22T10:30:00Z' '2015-04-07T12:00:00Z' '2015-04-20T12:05:00Z'
 '2015-05-06T17:30:00Z' '2015-05-19T13:20:00Z' '2015-06-02T10:00:00Z'
 '2015-07-09T14:20:00Z' '2015-07-22T14:45:00Z' '2015-08-03T12:35:00Z'
 '2015-08-17T13:15:00Z' '2015-09-03T14:50:00Z' '2015-09-15T14:15:00Z'
 '2015-11-05T15:30:00Z' '2016-01-04T13:45:00Z' '2016-02-01T13:50:00Z'
 '2016-03-28T14:30:00Z' '2016-04-11T13:20:00Z' '2016-04-25T13:15:00Z'
 '2016-05-09T12:20:00Z' '2016-05-23T10:50:00Z' '2016-06-22T11:00:00Z'
 '2016-07-06T13:00:00Z' '2016-08-04T15:00:00Z' '2016-08-15T11:10:00Z'
 '2016-08-29T12:00:00Z' '2016-09-28T14:30:00Z' '2016-11-29T13:00:00Z'
 '2017-01-18T15:10:00Z' '2017-04-06T12:50:00Z' '2017-05-01T11:30:00Z'
 '2017-06-23T16:10:00Z' '2017-07-26T17:20:00Z' '2017-08-23T14:00:00Z'
 '2017-12-20T16:20:00Z' '2018-01-29T15:20:00Z' '2018-02-23T10:20:00Z'
 '2018-04-18T11:30:00Z' '2018-05-31T14:20:00Z' '2018-07-19T12:30:00Z'
 '2018-08-31T14:40:00Z' '2018-09-21T16:20:00Z' '2018-10-11T12:40:00Z'
 '2019-02-06T16:50:00Z' '2019-03-13T13:50:00Z' '2019-04-10T14:20:00Z'
 '2019-04-26T13:30:00Z' '2019-05-10T13:30:00Z' '2019-05-22T15:50:00Z'
 '2019-06-19T12:20:00Z' '2019-07-15T14:10:00Z' '2019-07-31T11:20:00Z'
 '2019-08-15T15:20:00Z' '2019-08-30T11:30:00Z' '2019-09-24T11:00:00Z'
 '2019-10-24T10:40:00Z' '2019-10-31T14:30:00Z' '2019-11-22T13:50:00Z'
 '2020-02-12T12:00:00Z' '2020-03-20T12:00:00Z' '2020-04-30T11:20:00Z'
 '2020-06-04T12:30:00Z' '2020-06-17T13:50:00Z' '2020-07-01T11:20:00Z'
 '2020-07-15T09:00:00Z' '2020-07-29T10:10:00Z' '2020-10-21T11:40:00Z'
 '2009-11-04T12:15:00Z' '2009-11-04T18:00:00Z' '2015-06-22T10:00:00Z'
 '2015-08-24T11:10:00Z' '2015-10-05T09:30:00Z' '2006-10-18T10:50:00Z'
 '2006-11-08T10:25:00Z' '2006-12-04T13:30:00Z' '2007-01-18T12:55:00Z'
 '2007-02-21T13:35:00Z' '2007-03-21T13:30:00Z' '2007-04-04T10:40:00Z'
 '2007-04-18T12:50:00Z' '2007-05-02T10:55:00Z' '2007-05-08T10:40:00Z'
 '2007-05-15T13:10:00Z' '2007-05-23T11:25:00Z' '2007-05-31T11:15:00Z'
 '2007-06-25T10:50:00Z' '2007-07-05T10:50:00Z' '2007-07-17T14:15:00Z'
 '2007-07-25T10:55:00Z' '2007-07-30T10:35:00Z' '2007-08-08T11:30:00Z'
 '2007-08-16T09:20:00Z' '2007-08-20T11:20:00Z' '2007-08-29T11:45:00Z'
 '2007-09-04T10:50:00Z' '2007-09-18T12:50:00Z' '2010-10-18T10:50:00Z'
 '2010-11-10T10:30:00Z' '2010-12-16T11:05:00Z' '2011-01-19T10:20:00Z'
 '2011-02-16T10:35:00Z' '2011-03-16T10:45:00Z' '2011-04-06T10:00:00Z'
 '2011-04-20T10:55:00Z' '2011-05-04T10:55:00Z' '2011-05-11T10:25:00Z'
 '2011-05-19T10:45:00Z' '2011-05-25T10:45:00Z' '2011-06-01T11:15:00Z'
 '2011-06-09T11:00:00Z' '2011-06-15T10:45:00Z' '2011-06-22T10:40:00Z'
 '2011-07-05T11:30:00Z' '2011-07-13T10:30:00Z' '2011-07-20T11:05:00Z'
 '2011-08-03T10:15:00Z' '2011-08-12T13:35:00Z' '2011-08-17T09:40:00Z'
 '2011-08-31T10:30:00Z' '2011-09-06T11:00:00Z' '2011-09-28T10:50:00Z'
 '2013-05-07T11:00:00Z' '2013-05-14T09:20:00Z' '2013-05-22T09:50:00Z'
 '2013-05-29T09:00:00Z' '2013-06-12T09:50:00Z' '2013-06-17T10:50:00Z'
 '2013-06-28T08:10:00Z' '2013-07-08T08:20:00Z' '2013-07-15T15:10:00Z'
 '2013-07-23T07:00:00Z' '2013-07-31T08:10:00Z' '2013-08-07T08:10:00Z'
 '2008-10-15T10:40:00Z' '2008-11-05T10:35:00Z' '2008-12-02T10:40:00Z'
 '2009-01-22T11:00:00Z' '2009-02-09T11:00:00Z' '2009-03-04T11:00:00Z'
 '2009-04-09T10:55:00Z' '2009-04-22T10:40:00Z' '2009-05-06T11:45:00Z'
 '2009-05-13T11:25:00Z' '2009-05-20T10:40:00Z' '2009-05-27T11:25:00Z'
 '2009-06-03T10:20:00Z' '2009-06-17T11:00:00Z' '2009-06-24T11:00:00Z'
 '2009-07-08T11:10:00Z' '2009-07-15T11:20:00Z' '2009-07-21T10:45:00Z'
 '2009-07-29T10:35:00Z' '2009-08-05T10:40:00Z' '2009-08-12T10:45:00Z'
 '2009-08-20T11:00:00Z' '2009-08-26T10:50:00Z' '2009-09-08T10:45:00Z'
 '2009-09-24T11:00:00Z' '2015-06-22T13:30:00Z' '2015-08-24T14:10:00Z'
 '2015-10-05T13:00:00Z' '2015-08-11T09:11:00Z' '2015-08-11T10:32:00Z'
 '2015-08-11T11:43:00Z' '2015-08-11T12:35:00Z' '2015-11-04T09:15:00Z'
 '2015-11-04T10:30:00Z' '2015-11-04T11:30:00Z' '2015-11-04T12:45:00Z'
 '2016-04-26T08:11:00Z' '2016-04-26T09:15:00Z' '2016-04-26T10:30:00Z'
 '2016-04-26T11:45:00Z' '2015-08-12T09:21:00Z' '2015-08-12T10:22:00Z'
 '2015-08-12T10:53:00Z' '2015-11-05T10:30:00Z' '2015-11-05T11:15:00Z'
 '2015-11-05T12:00:00Z' '2016-04-27T11:30:00Z' '2016-04-27T12:30:00Z'
 '2016-04-27T13:15:00Z' '2005-10-25T11:15:00Z' '2005-11-21T11:30:00Z'
 '2005-12-19T14:00:00Z' '2006-01-19T11:15:00Z' '2006-02-15T13:05:00Z'
 '2006-03-16T10:55:00Z' '2006-04-19T13:50:00Z' '2006-05-18T11:05:00Z'
 '2006-06-14T13:35:00Z' '2006-07-12T11:15:00Z' '2006-08-02T13:20:00Z'
 '2006-09-06T11:20:00Z' '2006-10-18T13:35:00Z' '2006-11-08T13:15:00Z'
 '2006-12-04T10:45:00Z' '2007-01-18T10:20:00Z' '2007-02-21T10:55:00Z'
 '2007-03-21T10:25:00Z' '2007-04-18T10:20:00Z' '2007-05-15T10:35:00Z'
 '2007-06-20T10:35:00Z' '2007-07-17T10:45:00Z' '2007-08-08T09:25:00Z'
 '2007-09-18T10:30:00Z' '2007-10-17T11:25:00Z' '2007-11-15T11:25:00Z'
 '2008-01-10T11:30:00Z' '2008-02-21T11:15:00Z' '2008-03-20T11:50:00Z'
 '2008-04-17T11:45:00Z' '2008-05-15T12:20:00Z' '2008-06-18T11:25:00Z'
 '2008-07-15T11:35:00Z' '2008-08-14T11:30:00Z' '2008-09-02T11:15:00Z'
 '2008-10-15T12:35:00Z' '2008-11-05T12:30:00Z' '2008-12-02T12:40:00Z'
 '2009-01-22T13:05:00Z' '2009-02-09T13:00:00Z' '2009-03-04T13:15:00Z'
 '2009-06-15T11:45:00Z' '2009-07-17T12:00:00Z' '2009-08-06T10:40:00Z'
 '2009-09-01T11:25:00Z' '2010-01-13T11:15:00Z' '2010-02-11T13:00:00Z'
 '2010-03-23T11:15:00Z' '2010-04-15T11:30:00Z' '2010-05-12T12:45:00Z'
 '2010-06-10T11:30:00Z' '2010-07-15T11:05:00Z' '2010-08-19T11:00:00Z'
 '2010-09-14T11:30:00Z' '2010-10-14T12:00:00Z' '2010-12-20T10:40:00Z'
 '2011-01-20T11:30:00Z' '2011-08-26T11:00:00Z' '2015-06-23T09:00:00Z'
 '2015-08-25T08:00:00Z' '2015-10-06T10:00:00Z' '2009-12-21T09:45:00Z'
 '2010-09-08T10:45:00Z' '2010-09-08T13:30:00Z' '2010-09-08T16:30:00Z'
 '2010-09-08T19:30:00Z' '2010-09-08T22:30:00Z' '2010-09-09T01:30:00Z'
 '2010-09-09T04:30:00Z' '2010-09-09T07:30:00Z' '2010-09-09T10:30:00Z'
 '2015-06-24T14:50:00Z' '2015-08-26T13:00:00Z' '2015-10-07T10:30:00Z'
 '2019-04-01T10:30:00Z' '2019-05-10T10:30:00Z' '2019-06-11T11:00:00Z'
 '2019-07-16T09:00:00Z' '2019-08-23T08:45:00Z' '2019-10-10T09:15:00Z'
 '2020-06-26T12:10:00Z' '2020-07-30T11:08:00Z' '2020-09-23T10:58:00Z'
 '2013-05-07T14:50:00Z' '2013-05-14T13:10:00Z' '2013-05-22T13:10:00Z'
 '2013-05-29T11:30:00Z' '2013-06-12T07:40:00Z' '2013-06-17T08:40:00Z'
 '2013-06-28T10:50:00Z' '2013-07-08T11:00:00Z' '2013-07-15T12:10:00Z'
 '2013-07-23T09:30:00Z' '2013-07-31T10:30:00Z' '2013-08-07T10:10:00Z'
 '2009-12-21T11:14:00Z' '2009-08-24T10:00:00Z' '2009-08-24T13:00:00Z'
 '2009-08-24T16:00:00Z' '2009-08-24T19:00:00Z' '2009-08-24T22:00:00Z'
 '2009-08-25T01:00:00Z' '2009-08-25T04:00:00Z' '2009-08-25T07:00:00Z'
 '2009-08-25T10:00:00Z' '2009-11-05T12:15:00Z' '2010-08-23T10:40:00Z'
 '2015-06-25T09:20:00Z' '2015-08-27T09:30:00Z' '2015-10-08T08:15:00Z'
 '2010-08-24T09:50:00Z' '2007-10-16T10:40:00Z' '2007-11-07T09:05:00Z'
 '2007-12-07T09:00:00Z' '2008-01-08T09:15:00Z' '2008-02-22T08:45:00Z'
 '2008-03-12T10:10:00Z' '2008-04-09T09:20:00Z' '2008-04-22T08:35:00Z'
 '2008-05-07T08:55:00Z' '2008-05-12T09:40:00Z' '2008-05-20T09:05:00Z'
 '2008-06-11T09:15:00Z' '2008-06-16T09:00:00Z' '2008-06-25T08:50:00Z'
 '2008-07-01T08:55:00Z' '2008-07-07T09:05:00Z' '2008-07-14T09:05:00Z'
 '2008-07-29T08:50:00Z' '2008-08-04T09:35:00Z' '2008-08-13T09:30:00Z'
 '2008-08-18T09:20:00Z' '2008-08-25T09:05:00Z' '2008-09-08T09:15:00Z'
 '2008-09-25T10:05:00Z' '2011-11-01T10:35:00Z' '2011-11-21T10:30:00Z'
 '2011-12-15T10:25:00Z' '2012-01-19T09:45:00Z' '2012-02-08T11:50:00Z'
 '2012-03-14T10:10:00Z' '2012-04-04T09:45:00Z' '2012-04-23T10:00:00Z'
 '2012-05-02T10:00:00Z' '2012-05-22T10:00:00Z' '2012-05-29T10:10:00Z'
 '2012-06-06T10:20:00Z' '2012-06-11T09:50:00Z' '2012-06-18T10:30:00Z'
 '2012-06-25T10:10:00Z' '2012-07-05T10:30:00Z' '2012-07-09T09:20:00Z'
 '2012-07-16T10:10:00Z' '2012-07-25T09:50:00Z' '2012-07-31T09:10:00Z'
 '2012-08-06T11:50:00Z' '2012-08-16T08:50:00Z' '2012-09-06T08:10:00Z'
 '2012-09-13T09:40:00Z' '2012-09-26T09:20:00Z' '2013-03-29T14:00:00Z'
 '2013-05-10T08:10:00Z' '2013-05-16T11:30:00Z' '2013-05-20T13:40:00Z'
 '2013-05-29T08:50:00Z' '2013-06-12T09:30:00Z' '2013-06-20T08:00:00Z'
 '2013-06-24T14:30:00Z' '2013-07-03T08:30:00Z' '2013-07-18T08:20:00Z'
 '2013-07-23T13:30:00Z' '2013-07-29T12:20:00Z' '2013-08-05T11:40:00Z'
 '2005-10-12T11:40:00Z' '2005-11-08T12:00:00Z' '2005-12-21T12:15:00Z'
 '2006-01-12T12:00:00Z' '2006-02-14T12:15:00Z' '2006-03-14T12:45:00Z'
 '2006-03-28T11:50:00Z' '2006-04-12T12:00:00Z' '2006-04-25T11:55:00Z'
 '2006-05-23T12:40:00Z' '2006-06-05T12:30:00Z' '2006-06-20T13:10:00Z'
 '2006-07-11T10:50:00Z' '2006-07-25T11:00:00Z' '2006-08-14T12:15:00Z'
 '2006-08-29T11:20:00Z' '2006-09-19T12:05:00Z' '2007-11-06T12:00:00Z'
 '2007-12-06T11:40:00Z' '2008-02-25T12:00:00Z' '2008-03-19T11:30:00Z'
 '2008-04-08T11:50:00Z' '2008-04-21T11:50:00Z' '2008-05-06T11:40:00Z'
 '2008-06-20T12:00:00Z' '2008-07-08T12:00:00Z' '2008-08-19T11:30:00Z'
 '2008-10-20T11:50:00Z' '2008-12-03T11:30:00Z' '2009-02-12T11:50:00Z'

       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05531500' '05532500'
 '05536275' '05536700' '05537000' '05537980' '05538008' '05538010'
 '05539030' '05539450' '05540275' '05540500' '05541510' '05541710'
 '05542000' '05543010' '05548105' '05548110' '05549500' '05550500'
 '05551540' '05551700' '05553000' '05553500' '05553700' '05554490'
 '05555300' '05556200' '05556500' '05558000' '05558300' '05558500'
 '05559600' '05559900' '05560000' '05560500' '05562000' '05562010'
 '05562100' '05563525' '05563590' '05570910' '05572000' '05573504'
 '05574500' '05575500' '05579500' '05580000' '05581500' '05586100'
 '05586300' '05544371' '05545750' '423246088175800' '423329088323300'
 '424621088335500' '424854088123300' '424905088204000' '424915088083900'
 '05549501' '05579610' '05579620' '05579630' '423029088050000'
 '424840088241600' '424929088231300' '424934088220400' '05559700'
 '05562200' '05527656' '05544090' '05559800' '05559820' '05544099'
 '05558990' '05558295' '05559770' '05559590' '05559840' '05559830'
 '05559890' '05561800' '422416088203600' '05579626' '05554300' '05516665'
 '05517010' '411439087065601' '400856089562001' '404917088222701'
 '391136090341101' '05575550' '05538020' '411955088280601'
 '402004090030901' '05568704' '05576195' '05576100' '05550001']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T04:40:00Z' '2015-07-15T04:55:00Z' '2015-07-15T05:10:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T04:40:00Z' '2015-07-15T04:55:00Z' '2015-07-15T05:10:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2015-07-15T04:40:00Z' '2015-07-15T04:55:00Z' '2015-07-15T05:10:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 300
       mean: 300.0
       max: 300
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'mean' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'mean' 'maximum' 'minimum']
       attribute not determined as str: nan in [nan 'mean' 'maximum' 'minimum']
    sensor_description   - dtype: object
       unique str values are  [nan 'SHD' '6600' 'YSI.6600' 'EXO' 'YSI.EXO2']
       attribute not determined as str: nan in [nan 'SHD' '6600' 'YSI.6600' 'EXO' 'YSI.EXO2']
       attribute not determined as str: nan in [nan 'SHD' '6600' 'YSI.6600' 'EXO' 'YSI.EXO2']
    result_va   - dtype: float64
Col result_va values are:
       min: 0.01
       mean: 9.08428429121376
       max: 29.2
    units   - dtype: object
       unique str values are  ['mg/l']
    remark_cd   - dtype: object
       unique str values are  [nan 'A' 'E']
       attribute not determined as str: nan in [nan 'A' 'E']
       attribute not determined as str: nan in [nan 'A' 'E']
    method_cd   - dtype: object
       unique str values are  [nan 'MEMBR' 'LUMIN']
       attribute not determined as str: nan in [nan 'MEMBR' 'LUMIN']
       attribute not determined as str: nan in [nan 'MEMBR' 'LUMIN']
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_DO_combined.csv']

   > whitespace scan complete for data_DO_combined.csv

17. data_Q_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05520500'
 '05525000' '05525500' '05526000' '05527500' '05527900' '05531500'
 '05532500' '05536275' '05536700' '05537000' '05537980' '05540275'
 '05540500' '05541710' '05542000' '05548105' '05551540' '05551700'
 '05555300' '05556500' '05558000' '05558300' '05558500' '05560500'
 '05562000' '05562010' '05563525' '05570000' '05572000' '05586100'
 '05586300' '055451345' '05545750' '05579610' '05579620' '05579630'
 '05527905' '05527910' '05559700' '05586750' '05586760' '05527656'
 '05544090' '05559820' '05540268' '05558990' '05558295' '05559770'
 '05559590' '05559840' '05559830' '05559890' '05561800' '05516665'
 '400856089562001' '404917088222701' '391136090341101' '05575550'
 '05556200' '05562200']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2008-07-16T07:20:00Z' '2008-08-20T08:30:00Z' '2008-09-22T09:45:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 61
       mean: 15520.433003750426
       max: 30209
    freq   - dtype: object
       unique str values are  ['discrete']
    stat_name   - dtype: float64
Col stat_name values are:
       min: nan
       mean: nan
       max: nan
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.0
       mean: 127.05902435748226
       max: 2950.0
    units   - dtype: object
       unique str values are  ['m3/sec']
    remark_cd   - dtype: object
       unique str values are  [nan 'E' '<']
       attribute not determined as str: nan in [nan 'E' '<']
       attribute not determined as str: nan in [nan 'E' '<']
    method_cd   - dtype: object
       unique str values are  ['ALGOR' nan 'QSTGQ' 'QVELO' 'QSCMM' 'QADCP' 'Q-EST' 'QSLPQ']
       attribute not determined as str: nan in ['ALGOR' nan 'QSTGQ' 'QVELO' 'QSCMM' 'QADCP' 'Q-EST' 'QSLPQ']
       attribute not determined as str: nan in ['ALGOR' nan 'QSTGQ' 'QVELO' 'QSCMM' 'QADCP' 'Q-EST' 'QSLPQ']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'e']
       attribute not determined as str: nan in [nan 'e']
       attribute not determined as str: nan in [nan 'e']
    filename   - dtype: object
       unique str values are  ['data_Q_combined.csv']

   > whitespace scan complete for data_Q_combined.csv

18. data_fchl_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05543010' '05549500' '05553700' '05558300' '05549501' '05538020'
 '402004090030901' '05586300' '05537980']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2017-10-17T10:00:00Z' '2017-11-15T10:30:00Z' '2018-02-27T11:00:00Z' ...
 '2017-10-09T11:15:00Z' '2017-10-09T23:30:00Z' '2019-01-08T21:15:00Z']
       attribute not determined as str: nan in ['2017-10-17T10:00:00Z' '2017-11-15T10:30:00Z' '2018-02-27T11:00:00Z' ...
 '2017-10-09T11:15:00Z' '2017-10-09T23:30:00Z' '2019-01-08T21:15:00Z']
       attribute not determined as str: nan in ['2017-10-17T10:00:00Z' '2017-11-15T10:30:00Z' '2018-02-27T11:00:00Z' ...
 '2017-10-09T11:15:00Z' '2017-10-09T23:30:00Z' '2019-01-08T21:15:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 32284
       mean: 32311.25177551956
       max: 32318
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
       attribute not determined as str: nan in [nan 'maximum' 'minimum' 'mean']
    sensor_description   - dtype: object
       unique str values are  [nan 'SHD']
       attribute not determined as str: nan in [nan 'SHD']
       attribute not determined as str: nan in [nan 'SHD']
    result_va   - dtype: float64
Col result_va values are:
       min: 0.01
       mean: 12.443514975085847
       max: 266.0
    units   - dtype: object
       unique str values are  ['ug/l']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: float64
Col method_cd values are:
       min: nan
       mean: nan
       max: nan
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_fchl_combined.csv']

   > whitespace scan complete for data_fchl_combined.csv

19. data_fDOM_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05586300']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  [nan '2014-11-06T06:00:00Z' '2014-11-06T06:11:00Z' ...
 '2020-03-03T16:15:00Z' '2020-03-03T16:30:00Z' '2020-03-03T16:45:00Z']
       attribute not determined as str: nan in [nan '2014-11-06T06:00:00Z' '2014-11-06T06:11:00Z' ...
 '2020-03-03T16:15:00Z' '2020-03-03T16:30:00Z' '2020-03-03T16:45:00Z']
       attribute not determined as str: nan in [nan '2014-11-06T06:00:00Z' '2014-11-06T06:11:00Z' ...
 '2020-03-03T16:15:00Z' '2020-03-03T16:30:00Z' '2020-03-03T16:45:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 32295
       mean: 32295.0
       max: 32295
    freq   - dtype: object
       unique str values are  ['daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  ['maximum' 'minimum' 'mean' nan]
       attribute not determined as str: nan in ['maximum' 'minimum' 'mean' nan]
       attribute not determined as str: nan in ['maximum' 'minimum' 'mean' nan]
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.3
       mean: 47.65643810585978
       max: 78.9
    units   - dtype: object
       unique str values are  ['ug/l QSE']
    remark_cd   - dtype: float64
Col remark_cd values are:
       min: nan
       mean: nan
       max: nan
    method_cd   - dtype: float64
Col method_cd values are:
       min: nan
       mean: nan
       max: nan
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan
    filename   - dtype: object
       unique str values are  ['data_fDOM_combined.csv']

   > whitespace scan complete for data_fDOM_combined.csv

20. data_NO3_NO2_combined.csv
    source   - dtype: object

       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05515500' '05517000' '05517500' '05518000' '05524500' '05525500'
 '05527500' '05531500' '05532500' '05537000' '05537980' '05538008'
 '05538010' '05539450' '05540275' '05541510' '05541710' '05542000'
 '05543500' '05549500' '05550500' '05551580' '05553000' '05556500'
 '05557500' '05558300' '05558500' '05572000' '05575500' '05586100'
 '05586300' '05545750' '423246088175800' '423329088323300'
 '424905088204000' '424915088083900' '05549501' '05579610' '05579620'
 '05579630' '424840088241600' '424929088231300' '424934088220400'
 '05586750' '05586760' '05527656' '05544090' '05544099' '422416088203600'
 '05579627' '05579626' '05579628' '05554300' '411439087065601'
 '400856089562001' '05544989' '404917088222701' '391136090341101'
 '05575550' '05538020' '05576100' '05576195' '05586745' '05586647'
 '05568704' '05543010' '411955088280601' '05579624']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
       attribute not determined as str: nan in ['2013-11-20T16:30:00Z' '2013-12-16T16:10:00Z' '2014-02-19T16:35:00Z' ...
 '2021-01-01T05:15:00Z' '2021-01-01T05:30:00Z' '2021-01-01T05:45:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 631
       mean: 99065.55871628464
       max: 99133
    freq   - dtype: object
       unique str values are  ['discrete' 'daily' 'instantaneous']
    stat_name   - dtype: object
       unique str values are  [nan 'minimum' 'maximum' 'mean']
       attribute not determined as str: nan in [nan 'minimum' 'maximum' 'mean']
       attribute not determined as str: nan in [nan 'minimum' 'maximum' 'mean']
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.001
       mean: 4.843963978601485
       max: 29.2
    units   - dtype: object
       unique str values are  ['mg/l as N']
    remark_cd   - dtype: object
       unique str values are  [nan 'E' '<']
       attribute not determined as str: nan in [nan 'E' '<']
       attribute not determined as str: nan in [nan 'E' '<']
    method_cd   - dtype: object
       unique str values are  ['RED01' nan 'CL048' 'CL047' 'UV015']
       attribute not determined as str: nan in ['RED01' nan 'CL048' 'CL047' 'UV015']
       attribute not determined as str: nan in ['RED01' nan 'CL048' 'CL047' 'UV015']
    result_qualifier_cd   - dtype: object
       unique str values are  [nan 'd' '@c' '@dc' '*d' '*' '@' 'n' 'nd' '*dc' 'bn' '@nc']
       attribute not determined as str: nan in [nan 'd' '@c' '@dc' '*d' '*' '@' 'n' 'nd' '*dc' 'bn' '@nc']
       attribute not determined as str: nan in [nan 'd' '@c' '@dc' '*d' '*' '@' 'n' 'nd' '*dc' 'bn' '@nc']
    filename   - dtype: object
       unique str values are  ['data_NO3_NO2_combined.csv']

   > whitespace scan complete for data_NO3_NO2_combined.csv

21. data_chl_a_combined.csv
    source   - dtype: object
       unique str values are  ['NWIS']
    site_no   - dtype: object
       unique str values are  ['05517000' '05537980' '05538008' '05538010' '05543010' '05549500'
 '05553700' '05558300' '05586300' '05549501' '422416088203600'
 '411439087065601' '05538020' '402004090030901' '423246088175800'
 '423329088323300' '424854088123300' '424905088204000' '424915088083900'
 '423029088050000' '424840088241600' '424929088231300' '424934088220400'
 '05527656' '05544090' '05544099']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2013-05-23T09:40:00Z' '2013-06-27T09:00:00Z' '2018-03-15T10:30:00Z'
 '2018-05-24T11:00:00Z' '2019-04-11T11:00:00Z' '2019-07-01T11:35:00Z'
 '2020-05-15T11:15:00Z' '2020-06-08T10:45:00Z' '2020-07-02T10:45:00Z'
 '2015-08-11T09:11:00Z' '2015-08-11T10:32:00Z' '2015-08-11T11:43:00Z'
 '2015-08-11T12:35:00Z' '2015-11-04T09:15:00Z' '2015-11-04T10:30:00Z'
 '2015-11-04T11:30:00Z' '2015-11-04T12:45:00Z' '2016-04-26T08:11:00Z'
 '2016-04-26T09:15:00Z' '2016-04-26T10:30:00Z' '2016-04-26T11:45:00Z'
 '2017-10-17T10:00:00Z' '2017-11-15T10:30:00Z' '2018-02-27T11:00:00Z'
 '2018-04-25T12:08:00Z' '2018-05-31T15:35:00Z' '2018-07-24T07:52:00Z'
 '2018-08-22T10:05:00Z' '2018-10-11T10:35:00Z' '2018-11-19T12:36:00Z'
 '2019-04-02T10:21:00Z' '2019-05-13T10:15:00Z' '2019-06-06T10:10:00Z'
 '2019-07-24T10:45:00Z' '2019-09-16T09:44:00Z' '2019-10-23T08:49:00Z'
 '2020-01-13T11:10:00Z' '2020-03-25T11:04:00Z' '2020-06-12T08:17:00Z'
 '2020-08-05T09:09:00Z' '2019-04-01T10:31:00Z' '2019-05-10T10:31:00Z'
 '2019-06-11T11:01:00Z' '2019-07-16T09:01:00Z' '2019-08-23T08:46:00Z'
 '2019-10-10T09:16:00Z' '2020-05-15T08:05:00Z' '2020-06-26T12:10:00Z'
 '2020-07-30T11:08:00Z' '2020-09-23T10:58:00Z' '2018-06-26T10:17:00Z'
 '2018-08-01T09:50:00Z' '2018-08-14T09:55:00Z' '2018-10-24T10:13:00Z'
 '2018-11-14T12:28:00Z' '2019-03-28T12:00:00Z' '2019-05-16T10:04:00Z'
 '2019-06-27T10:50:00Z' '2019-09-18T12:16:00Z' '2019-10-24T11:52:00Z'
 '2019-11-22T11:39:00Z' '2020-01-09T13:06:00Z' '2020-03-17T12:00:00Z'
 '2020-06-04T11:43:00Z' '2020-08-06T10:14:00Z' '2018-06-26T15:05:00Z'
 '2018-07-31T08:21:00Z' '2018-08-16T10:12:00Z' '2018-10-17T10:51:00Z'
 '2018-11-14T10:45:00Z' '2019-03-28T11:00:00Z' '2019-06-27T07:43:00Z'
 '2019-09-18T08:54:00Z' '2019-10-24T08:26:00Z' '2019-11-22T08:34:00Z'
 '2020-01-09T09:27:00Z' '2020-03-17T09:11:00Z' '2020-06-04T08:20:00Z'
 '2020-08-04T08:45:00Z' '2015-11-13T07:45:00Z' '2015-12-10T10:10:00Z'
 '2016-01-25T11:00:00Z' '2016-02-01T16:00:00Z' '2016-02-24T10:00:00Z'
 '2017-11-30T09:35:00Z' '2017-12-19T13:10:00Z' '2018-03-19T12:30:00Z'
 '2018-03-27T13:40:00Z' '2018-04-10T13:30:00Z' '2018-04-24T13:10:00Z'
 '2018-05-08T12:00:00Z' '2018-05-11T10:40:00Z' '2018-05-22T12:40:00Z'
 '2018-06-05T11:50:00Z' '2018-06-19T12:10:00Z' '2018-06-26T10:30:00Z'
 '2018-07-03T11:45:00Z' '2018-07-17T11:50:00Z' '2018-07-23T13:05:00Z'
 '2018-08-08T11:09:00Z' '2018-08-21T12:30:00Z' '2018-08-27T09:55:00Z'
 '2018-10-23T11:15:00Z' '2018-12-18T11:50:00Z' '2019-03-12T13:40:00Z'
 '2019-03-26T13:00:00Z' '2019-04-09T12:20:00Z' '2019-04-23T12:55:00Z'
 '2019-05-08T12:30:00Z' '2019-05-14T12:05:00Z' '2019-05-20T14:40:00Z'
 '2019-06-18T13:00:00Z' '2019-07-09T12:20:00Z' '2019-07-24T11:10:00Z'
 '2019-08-05T10:15:00Z' '2019-12-16T13:20:00Z' '2020-02-10T13:20:00Z'
 '2020-03-09T11:30:00Z' '2020-03-23T15:40:00Z' '2020-04-14T16:45:00Z'
 '2020-04-21T10:15:00Z' '2020-04-28T13:45:00Z' '2020-05-06T13:45:00Z'
 '2020-05-09T15:30:00Z' '2020-05-20T13:45:00Z' '2020-06-01T15:40:00Z'
 '2020-06-16T14:00:00Z' '2020-07-07T11:20:00Z' '2020-07-28T13:15:00Z'
 '2020-08-10T12:30:00Z' '2019-04-01T09:01:00Z' '2019-05-10T11:16:00Z'
 '2019-06-11T11:41:00Z' '2019-07-16T11:01:00Z' '2019-08-23T09:01:00Z'
 '2019-10-10T11:01:00Z' '2020-06-26T11:46:00Z' '2020-07-30T11:40:00Z'
 '2020-09-23T11:20:00Z' '2010-08-11T14:20:00Z' '2013-05-23T13:10:00Z'
 '2013-08-01T12:00:00Z' '2015-08-11T14:44:00Z' '2015-08-12T12:21:00Z'
 '2015-08-12T13:22:00Z' '2015-08-12T13:53:00Z' '2015-08-12T14:34:00Z'
 '2015-11-04T16:15:00Z' '2015-11-05T12:45:00Z' '2015-11-05T13:30:00Z'
 '2015-11-05T14:15:00Z' '2016-02-09T13:30:00Z' '2016-03-17T11:35:00Z'
 '2016-04-14T12:15:00Z' '2016-04-26T13:30:00Z' '2016-04-27T07:30:00Z'
 '2016-04-27T08:30:00Z' '2016-04-27T09:15:00Z' '2016-04-27T10:30:00Z'
 '2016-05-11T12:12:00Z' '2016-06-01T10:50:00Z' '2016-06-21T10:54:00Z'
 '2016-08-26T12:24:00Z' '2016-09-28T13:30:00Z' '2016-11-18T16:44:00Z'
 '2017-01-24T15:17:00Z' '2017-02-23T11:37:00Z' '2017-03-21T14:12:00Z'
 '2017-04-18T11:27:00Z' '2017-05-25T13:30:00Z' '2017-07-18T12:35:00Z'
 '2017-09-05T12:30:00Z' '2017-11-27T11:15:00Z' '2017-12-19T12:00:00Z'
 '2018-01-19T10:10:00Z' '2018-03-02T12:15:00Z' '2018-04-02T14:30:00Z'
 '2018-05-08T09:35:00Z' '2018-06-20T10:05:00Z' '2018-07-25T09:50:00Z'
 '2018-08-09T11:00:00Z' '2018-10-03T09:18:00Z' '2018-10-25T07:23:00Z'
 '2018-12-12T10:33:00Z' '2019-02-04T11:33:00Z' '2019-03-13T09:05:00Z'
 '2019-04-16T09:15:00Z' '2019-05-15T08:09:00Z' '2019-06-10T10:40:00Z'
 '2019-09-12T08:56:00Z' '2019-10-10T07:44:00Z' '2019-11-18T10:22:00Z'
 '2020-01-06T11:59:00Z' '2020-03-05T10:15:00Z' '2020-05-22T08:00:00Z'
 '2020-07-31T08:04:00Z' '2020-09-28T08:41:00Z' '2016-10-24T09:40:00Z'
 '2006-06-12T13:00:00Z' '2006-07-12T13:30:00Z' '2006-08-23T11:50:00Z'
 '2007-06-13T10:00:00Z' '2007-07-18T09:45:00Z' '2007-08-21T09:30:00Z'
 '2008-06-23T10:15:00Z' '2008-07-28T11:00:00Z' '2008-08-22T10:00:00Z'
 '2009-03-30T10:00:00Z' '2009-06-11T10:00:00Z' '2009-07-21T10:00:00Z'
 '2009-08-26T10:00:00Z' '2010-04-07T10:00:00Z' '2010-06-25T11:58:00Z'
 '2010-07-29T12:10:00Z' '2010-08-30T12:25:00Z' '2011-04-13T13:00:00Z'
 '2011-06-28T09:10:00Z' '2011-07-26T10:00:00Z' '2011-08-17T12:00:00Z'
 '2012-04-02T16:00:00Z' '2012-06-22T12:00:00Z' '2012-07-28T12:00:00Z'
 '2012-08-30T13:00:00Z' '2012-09-18T13:00:00Z' '2005-11-14T09:45:00Z'
 '2006-04-17T11:05:00Z' '2006-06-13T10:30:00Z' '2006-07-20T11:35:00Z'
 '2006-08-15T11:00:00Z' '2006-09-21T14:10:00Z' '2006-11-20T11:10:00Z'
 '2007-04-16T10:35:00Z' '2007-06-12T10:45:00Z' '2007-07-18T10:30:00Z'
 '2007-08-22T10:40:00Z' '2007-09-19T10:45:00Z' '2007-11-13T11:30:00Z'
 '2008-04-23T10:35:00Z' '2008-06-23T11:05:00Z' '2008-07-23T10:00:00Z'
 '2008-08-18T10:40:00Z' '2008-09-17T11:25:00Z' '2008-11-18T10:55:00Z'
 '2009-04-09T11:00:00Z' '2009-06-11T09:50:00Z' '2009-07-16T10:30:00Z'
 '2009-08-11T10:10:00Z' '2009-09-15T13:10:00Z' '2009-11-03T10:40:00Z'
 '2010-04-20T11:00:00Z' '2010-06-10T12:25:00Z' '2010-07-29T10:50:00Z'
 '2010-08-19T14:00:00Z' '2010-09-17T10:00:00Z' '2011-04-13T10:00:00Z'
 '2011-06-21T14:00:00Z' '2011-07-19T09:00:00Z' '2011-08-17T10:00:00Z'
 '2011-09-07T10:00:00Z' '2011-11-23T11:00:00Z' '2012-04-11T13:00:00Z'
 '2012-06-27T09:00:00Z' '2012-07-24T10:00:00Z' '2012-08-22T10:00:00Z'
 '2012-09-25T11:00:00Z' '2007-07-05T11:00:00Z' '2006-04-05T11:45:00Z'
 '2006-06-12T15:15:00Z' '2006-07-12T15:50:00Z' '2006-07-27T19:50:00Z'
 '2006-08-08T13:45:00Z' '2006-08-31T12:30:00Z' '2006-09-27T14:50:00Z'
 '2007-04-16T12:35:00Z' '2007-06-13T15:00:00Z' '2007-07-18T11:40:00Z'
 '2007-07-30T10:30:00Z' '2007-08-13T09:50:00Z' '2007-08-27T09:55:00Z'
 '2007-09-14T10:30:00Z' '2006-04-05T09:35:00Z' '2006-06-12T16:40:00Z'
 '2006-07-13T13:20:00Z' '2006-08-23T14:00:00Z' '2006-10-05T13:50:00Z'
 '2007-04-16T10:20:00Z' '2007-06-13T13:00:00Z' '2007-07-18T13:15:00Z'
 '2007-08-21T11:30:00Z' '2008-04-22T11:00:00Z' '2008-06-23T12:52:00Z'
 '2008-07-28T12:00:00Z' '2008-08-22T11:00:00Z' '2009-03-30T12:00:00Z'
 '2009-06-11T11:30:00Z' '2009-07-21T11:00:00Z' '2009-08-26T11:00:00Z'
 '2010-04-07T12:00:00Z' '2010-06-25T10:08:00Z' '2010-07-29T10:30:00Z'
 '2010-08-30T10:50:00Z' '2010-09-02T10:15:00Z' '2011-04-13T14:00:00Z'
 '2011-06-28T10:30:00Z' '2011-07-26T11:45:00Z' '2011-08-17T13:00:00Z'
 '2012-04-03T14:30:00Z' '2012-06-22T13:00:00Z' '2012-07-28T14:00:00Z'
 '2012-08-30T11:00:00Z' '2012-09-18T11:30:00Z' '2007-07-05T15:30:00Z'
 '2007-08-30T10:32:00Z' '2007-12-03T10:35:00Z' '2008-04-21T10:57:00Z'
 '2008-08-26T10:47:00Z' '2008-11-19T11:07:00Z' '2009-02-23T10:17:00Z'
 '2009-04-08T14:17:00Z' '2009-08-24T10:00:00Z' '2010-08-19T09:02:00Z'
 '2011-06-21T10:35:00Z' '2011-08-10T10:02:00Z' '2012-05-23T11:00:00Z'
 '2012-08-29T10:02:00Z' '2007-08-30T12:52:00Z' '2008-04-21T11:57:00Z'
 '2008-08-26T12:07:00Z' '2008-11-19T11:37:00Z' '2009-02-23T12:07:00Z'
 '2009-04-08T15:07:00Z' '2009-08-24T11:37:00Z' '2010-08-19T09:37:00Z'
 '2011-06-21T11:30:00Z' '2011-08-10T12:02:00Z' '2012-05-23T12:00:00Z'
 '2012-08-29T11:02:00Z' '2007-12-03T12:20:00Z' '2008-06-25T17:30:00Z'
 '2008-07-17T17:00:00Z' '2008-08-11T16:15:00Z' '2008-09-17T14:45:00Z'
 '2008-10-13T14:45:00Z' '2008-05-19T14:05:00Z' '2008-06-26T08:15:00Z'
 '2008-07-17T19:15:00Z' '2008-08-11T14:00:00Z' '2008-09-17T16:30:00Z'
 '2008-10-13T13:00:00Z' '2008-11-19T12:06:00Z' '2009-02-23T13:26:00Z'
 '2009-04-08T15:56:00Z' '2009-08-24T12:51:00Z' '2010-08-19T11:00:00Z'
 '2011-06-21T12:17:00Z' '2012-05-23T13:00:00Z' '2012-08-29T12:00:00Z']
    tz_cd   - dtype: object
       unique str values are  ['UTC']
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 32210
       mean: 53697.71428571428
       max: 70953
    freq   - dtype: object
       unique str values are  ['discrete']
    stat_name   - dtype: float64
Col stat_name values are:
       min: nan
       mean: nan
       max: nan
    sensor_description   - dtype: float64
Col sensor_description values are:
       min: nan
       mean: nan
       max: nan
    result_va   - dtype: float64
Col result_va values are:
       min: 0.31
       mean: 10.38509803921568
       max: 97.6
    units   - dtype: object
       unique str values are  ['ug/l']
    remark_cd   - dtype: object
       unique str values are  [nan 'E']
       attribute not determined as str: nan in [nan 'E']
       attribute not determined as str: nan in [nan 'E']
    method_cd   - dtype: object
       unique str values are  ['00050' 'FL016' nan]
       attribute not determined as str: nan in ['00050' 'FL016' nan]
       attribute not determined as str: nan in ['00050' 'FL016' nan]
    result_qualifier_cd   - dtype: object
       unique str values are  ['b' nan '*c' 'c' 'd' '@c' '@cd' 'cd' '@' 'dc' 'co' '@bc']
       attribute not determined as str: nan in ['b' nan '*c' 'c' 'd' '@c' '@cd' 'cd' '@' 'dc' 'co' '@bc']
       attribute not determined as str: nan in ['b' nan '*c' 'c' 'd' '@c' '@cd' 'cd' '@' 'dc' 'co' '@bc']
    filename   - dtype: object
       unique str values are  ['data_chl_a_combined.csv']

   > whitespace scan complete for data_chl_a_combined.csv

22. data_algaltoxins_combined.csv
    source   - dtype: object
       unique str values are  ['Illinois_EPA' 'USGS_Terrio2013']
    site_no   - dtype: object
       unique str values are  ['D-30' 'D-05' 'G-08' 'DT-35' 'DT-22' 'DT-09' 'DT-06' 'DT-38' 'B-06'
 'D-01' 'D-32' 'D-09' 'D-16' 'D-23' 'D-N4129970W8861410'
 'D-N4130010W8860530' 'D-N4132370W8898450' 'D-N4110720W8935610' 'D-37'
 'D-08' 'D-04' 'UTA-100' 'RTV-100' 'VTH-100' 'RTF-100' 'VTW-100' 'SGH-100'
 'VTK-100' 'RTZH-100' 'SDC-1' 'VTD-100' 'RGZA-100' 'RGC-100' 'RGM-100'
 'RTH-100' 'RGK-100' 'RGZM-100' 'RTI-100' 'RTD-100' 'RTR-100' 'VTJ-100'
 'RGU-100' 'RGQ-100' 'RGB-100' 'RTG-101' 'RTG-106' 'RTG-102' 'RTG-108'
 'RTG-103' 'RTG-109' 'RTG-105' 'RTG-104' 'RTZI-100' 'RTP-100' 'RGZG-100'
 'RTS-100' 'REE-100' 'RTQ-100' 'SDA-4' 'RDO-1' 'RDO-2' 'RDO-3' 'RTZF-100'
 'RTZQ-100' 'RGZF-100' 'SDA-1' 'SDA-2' 'SDA-3' 'REE-3' 'REE-1' 'REE-2'
 'RTG-107' 'SDC-2' 'RDH-1' 'RDZP-2' 'RTZT-100' 'REF-1' 'RDF-4' 'WTG-99'
 'VTZH-99' 'VTZH-98' 'RTJ-100' 'RTJ-101' 'WDA-1' 'WDB-2' 'WDB-1'
 'RTZD-100' 'RTZD-101' 'RTZD-102' 'RTD-1' 'WGM-2' 'WGZW-3'
 'Camp Walter Scott Lake (beach)' 'Wonder Lake (bay)'
 'Wonder Lake (N bay)' 'Wonder Lake (SW bay)'
 'Fox River at Algonquin, IL (left bank)'
 'Fox River at Algonquin, IL (right bank)' 'Candlewick Lake'
 'Candlewick Lake (boat ramp)' 'Candlewick Lake (bay)'
 'Westlake (near beach)' 'Westlake (N bay)' 'Lake Le-Aqua-Na (near beach)'
 'Herrin-New Reservoir (boat ramp)' 'Patriot’s Park Lake (boat ramp)'
 'Marion Lake (boat ramp)' 'Vermilion River at Pontiac, IL (right bank)'
 'Vermilion River at Pontiac, IL (left bank)'
 'Fox River at Montgomery, IL (left bank)'
 'Fox River at Montgomery, IL (bridge)'
 'Fox River at Montgomery, IL (culvert)' 'private lake' 'Lake Storey']
    date   - dtype: datetime64[ns]
    date_time   - dtype: object
       unique str values are  ['2015-05-06T15:30:00Z' '2015-05-06T17:15:00Z' '2015-06-02T14:40:00Z'
 '2015-06-02T16:20:00Z' '2015-06-02T18:05:00Z' '2015-06-29T15:00:00Z'
 '2015-06-29T16:45:00Z' '2015-06-30T14:50:00Z' '2015-08-06T14:00:00Z'
 '2015-08-12T13:45:00Z' '2015-08-12T14:55:00Z' '2015-09-14T14:15:00Z'
 '2015-09-14T16:45:00Z' '2015-09-16T12:10:00Z' '2015-09-17T16:10:00Z'
 '2015-10-26T16:15:00Z' '2016-05-31T14:30:00Z' '2016-05-31T16:50:00Z'
 '2016-06-01T17:15:00Z' '2016-07-05T15:10:00Z' '2016-07-05T16:55:00Z'
 '2016-07-28T15:30:00Z' '2016-08-16T15:00:00Z' '2016-08-16T16:30:00Z'
 '2016-08-16T18:30:00Z' '2016-09-21T16:15:00Z' '2016-09-21T17:50:00Z'
 '2016-09-21T18:30:00Z' '2016-10-24T14:40:00Z' '2016-10-24T16:45:00Z'
 '2017-05-25T15:30:00Z' '2017-05-25T17:00:00Z' '2017-05-30T13:30:00Z'
 '2017-05-31T19:45:00Z' '2017-06-06T18:40:00Z' '2017-06-07T15:00:00Z'
 '2017-06-08T13:30:00Z' '2017-06-08T15:15:00Z' '2017-06-12T13:30:00Z'
 '2017-06-27T11:00:00Z' '2017-06-28T16:30:00Z' '2017-07-05T15:30:00Z'
 '2017-07-05T17:00:00Z' '2017-07-18T13:45:00Z' '2017-07-18T15:00:00Z'
 '2017-07-19T13:30:00Z' '2017-07-19T18:30:00Z' '2017-08-16T15:20:00Z'
 '2017-08-16T16:45:00Z' '2017-08-16T19:00:00Z' '2017-08-24T14:00:00Z'
 '2017-08-24T15:15:00Z' '2017-08-24T15:30:00Z' '2017-08-28T19:05:00Z'
 '2017-08-29T13:30:00Z' '2017-09-19T15:30:00Z' '2017-09-20T15:45:00Z'
 '2017-09-20T19:45:00Z' '2017-10-11T13:45:00Z' '2017-10-11T15:00:00Z'
 '2017-10-11T18:15:00Z' '2017-10-16T13:15:00Z' '2017-10-24T14:15:00Z'
 '2017-11-14T19:40:00Z' '2018-05-09T14:15:00Z' '2018-06-12T14:15:00Z'
 '2018-06-19T15:40:00Z' '2018-06-19T17:30:00Z' '2018-06-19T20:45:00Z'
 '2018-06-20T15:55:00Z' '2018-06-20T17:45:00Z' '2018-06-26T13:00:00Z'
 '2018-06-26T13:30:00Z' '2018-06-26T18:15:00Z' '2018-06-26T18:49:00Z'
 '2018-06-26T19:00:00Z' '2018-06-26T20:20:00Z' '2018-06-26T20:22:00Z'
 '2018-06-28T15:20:00Z' '2018-06-28T16:45:00Z' '2018-07-17T12:30:00Z'
 '2018-07-23T14:15:00Z' '2018-08-13T16:35:00Z' '2018-08-13T18:05:00Z'
 '2018-08-16T15:25:00Z' '2018-08-16T17:20:00Z' '2018-09-10T14:15:00Z'
 '2018-09-24T17:05:00Z' '2018-09-26T15:15:00Z' '2018-09-26T17:15:00Z'
 '2018-10-22T13:30:00Z' '2019-05-22T13:45:00Z' '2019-06-17T15:20:00Z'
 '2019-06-17T17:00:00Z' '2019-06-18T13:45:00Z' '2019-06-24T16:00:00Z'
 '2019-06-24T17:25:00Z' '2019-07-22T14:00:00Z' '2019-07-29T17:20:00Z'
 '2019-07-29T19:00:00Z' '2019-07-30T15:00:00Z' '2019-07-30T16:30:00Z'
 '2019-08-28T14:30:00Z' '2019-08-28T16:05:00Z' '2019-09-12T15:00:00Z'
 '2019-09-12T16:20:00Z' '2019-09-16T14:15:00Z' '2019-10-16T17:25:00Z'
 '2019-10-16T19:20:00Z' '2019-10-22T13:30:00Z' '2019-10-24T15:35:00Z'
 '2019-10-24T16:53:00Z' '2020-06-19T17:00:00Z' '2020-06-29T15:50:00Z'
 '2020-07-06T13:30:00Z' '2020-07-30T17:50:00Z' '2020-08-14T22:00:00Z'
 '2020-08-17T13:45:00Z' '2020-08-17T17:15:00Z' '2020-08-25T17:00:00Z'
 '2020-08-25T20:10:00Z' '2020-09-21T13:45:00Z' '2015-05-28T12:52:00Z'
 '2015-05-28T13:12:00Z' '2015-05-28T14:05:00Z' '2015-05-28T14:30:00Z'
 '2015-05-28T14:55:00Z' '2015-06-01T10:13:00Z' '2015-06-01T11:15:00Z'
 '2015-06-01T11:44:00Z' '2015-06-01T14:26:00Z' '2015-06-01T14:45:00Z'
 '2015-06-01T15:38:00Z' '2015-06-01T16:10:00Z' '2015-06-01T16:28:00Z'
 '2015-06-01T17:24:00Z' '2015-06-01T18:31:00Z' '2015-06-01T19:26:00Z'
 '2015-06-04T13:39:00Z' '2015-06-04T14:04:00Z' '2015-06-04T14:20:00Z'
 '2015-06-04T14:34:00Z' '2015-06-08T10:15:00Z' '2015-06-08T10:28:00Z'
 '2015-06-08T10:30:00Z' '2015-06-08T11:00:00Z' '2015-06-08T11:10:00Z'
 '2015-06-08T11:15:00Z' '2015-06-08T11:25:00Z' '2015-06-08T11:30:00Z'
 '2015-06-08T11:39:00Z' '2015-06-08T11:45:00Z' '2015-06-08T12:00:00Z'
 '2015-06-08T12:25:00Z' '2015-06-08T12:40:00Z' '2015-06-08T13:25:00Z'
 '2015-06-08T14:10:00Z' '2015-06-10T15:15:00Z' '2015-06-11T12:25:00Z'
 '2015-06-11T12:59:00Z' '2015-06-11T13:36:00Z' '2015-06-11T14:32:00Z'
 '2015-06-11T14:57:00Z' '2015-06-11T15:58:00Z' '2015-06-11T16:04:00Z'
 '2015-06-11T17:09:00Z' '2015-06-11T17:17:00Z' '2015-06-11T17:18:00Z'
 '2015-06-11T17:20:00Z' '2015-06-11T17:21:00Z' '2015-06-11T17:23:00Z'
 '2015-06-11T17:24:00Z' '2015-06-11T17:25:00Z' '2015-06-11T17:27:00Z'
 '2015-06-11T17:28:00Z' '2015-06-11T17:31:00Z' '2015-06-11T17:33:00Z'

### Review specific cols for daily metrics

In [18]:
## clarification on the stat_name column options

for df in comb_df:
    print(df['freq'].unique())
    print(df['stat_name'][df['freq'] == 'daily'].unique())

['daily']
[nan]
['discrete']
[]
['discrete' 'daily' 'instantaneous']
['mean' 'maximum' 'minimum']
['discrete' 'daily' 'instantaneous']
['maximum' 'minimum' 'mean']
['discrete' 'daily' 'instantaneous']
['median' 'maximum' 'minimum']
['discrete' 'daily' 'instantaneous']
['maximum' 'mean' 'minimum']
['discrete' 'daily' 'instantaneous']
['maximum' 'minimum' 'mean']
['discrete' 'instantaneous']
[]
['discrete']
[]
['discrete']
[]
['discrete']
[]
['daily' 'instantaneous']
['maximum' 'minimum' 'mean']
['discrete']
[]
['discrete']
[]
['discrete']
[]
['discrete' 'daily' 'instantaneous']
['mean' 'maximum' 'minimum']
['discrete']
[]
['discrete' 'daily' 'instantaneous']
['maximum' 'minimum' 'mean']
['daily' 'instantaneous']
['maximum' 'minimum' 'mean']
['discrete' 'daily' 'instantaneous']
['minimum' 'maximum' 'mean']
['discrete']
[]
['discrete']
[]

B. sub directory : ../habd_proxies_data_gage_height_combined.ipynb
link

C. sub directory : ../habd_proxies_data_Q_cont_combined.ipynb
link

#### Tabular Value Check

Each column contains only one data type

In [ ]:
def print_df_specs(df):
    print(df.filename[0])
    print(df.dtypes)
    print('\n')
    print(df.describe())
    print('\n Any duplicates: \n')
    print(df[df.duplicated()])
    print('\n')

counter = 1
for df in dfs:
    print('data file', counter)
    ## run df specs function
    print_df_specs(df)
    counter = counter + 1

**Notes/Take aways:**

column types: 

* float64
* int64
* object

In [ ]:

# ## Time read in of larger datasets
# ## Identified longer datasets and read them in with `low_memory = False`:
# df_long = ['data_OP_combined.csv', 'data_pH_combined.csv',
#            'data_turb_combined.csv', 'data_temp_water_combined.csv',
#            'data_vel_combined.csv', 'data_fPC_combined.csv',
#            'daily_metrics_temp_water.csv','data_DO_combined.csv',
#            'data_fchl_combined.csv', 'data_fDOM_combined.csv']

# df_long_list = []
# for lg_df in df_long:
        
#     ## reading this with low_memory= false to read in without errors
#     df = pd.read_csv('./data/'+lg_df, low_memory=False)
#     df['filename']= lg_df
#     display(df.head(), df.columns)
    
#     df_long_list.append(df)