In [1]:
import pandas as pd
import numpy as np
import os
import glob
import import_ipynb
import functions_notebook

importing Jupyter notebook from functions_notebook.ipynb

### General Checks

1. file names

In [3]:
!ls -lh -v ../data/*daily_metrics*

-rw-------@ 1 msleckman  GS\Domain Users   3.1M Jun 29 09:28 ../data/daily_metrics_DO.csv
-rw-------@ 1 msleckman  GS\Domain Users    85K Jun 29 09:28 ../data/daily_metrics_NO3.csv
-rw-------@ 1 msleckman  GS\Domain Users   3.1M Jun 29 09:28 ../data/daily_metrics_NO3_NO2.csv
-rw-------@ 1 msleckman  GS\Domain Users   665K Jun 29 09:28 ../data/daily_metrics_OP.csv
-rw-------@ 1 msleckman  GS\Domain Users   4.6M Jun 29 09:28 ../data/daily_metrics_SC.csv
-rw-------@ 1 msleckman  GS\Domain Users    32K Jun 29 09:28 ../data/daily_metrics_chl_a.csv
-rw-------@ 1 msleckman  GS\Domain Users   221K Jun 29 09:28 ../data/daily_metrics_fDOM.csv
-rw-------@ 1 msleckman  GS\Domain Users   588K Jun 29 09:28 ../data/daily_metrics_fPC.csv
-rw-------@ 1 msleckman  GS\Domain Users   1.1M Jun 29 09:28 ../data/daily_metrics_fchl.csv
-rw-------@ 1 msleckman  GS\Domain Users    45K Jun 29 09:28 ../data/daily_metrics_mats.csv
-rw-------@ 1 msleckman  GS\Domain Users   2.8M Jun 29 09:28 ../data/daily_metrics_pH.csv
-rw-------@ 1 msleckman  GS\Domain Users    16K Jun 29 09:28 ../data/daily_metrics_pheo.csv
-rw-------@ 1 msleckman  GS\Domain Users   288B Jun 29 09:28 ../data/daily_metrics_phyto_biomass.csv
-rw-------@ 1 msleckman  GS\Domain Users   181K Jun 29 09:28 ../data/daily_metrics_q.csv
-rw-------@ 1 msleckman  GS\Domain Users   780K Jun 29 09:28 ../data/daily_metrics_sediment.csv
-rw-------@ 1 msleckman  GS\Domain Users   210K Jun 29 09:28 ../data/daily_metrics_temp_air.csv
-rw-------@ 1 msleckman  GS\Domain Users   8.4M Jun 29 09:28 ../data/daily_metrics_temp_water.csv
-rw-------@ 1 msleckman  GS\Domain Users   3.9M Jun 29 09:28 ../data/daily_metrics_turb.csv
-rw-------@ 1 msleckman  GS\Domain Users    20K Jun 29 09:28 ../data/daily_metrics_uv_254.csv

In [4]:
d_m_names, d_m_df = functions_notebook.read_in_csv_gp(base_folder = '../data/',
                                                      file_string = 'daily_metrics',
                                                      dtype_dict = {'site_no':str})

daily_metrics_phyto_biomass.csv
Location:../data/daily_metrics_phyto_biomass.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,422416088203600,2010-08-11,phyto_biomass,mg/l,discrete,NaN,22.7,22.7,22.7,22.7,NaN,49953,1,9.333333,discrete,daily_metrics_phyto_biomass.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_temp_air.csv
Location:../data/daily_metrics_temp_air.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05520500,2008-12-17,temp_air,deg C,discrete,NaN,-16.0,-16.0,-16.0,-16.0,NaN,00020,1,7.500000,discrete,daily_metrics_temp_air.csv
1,05520500,2009-01-22,temp_air,deg C,discrete,NaN,4.5,4.5,4.5,4.5,NaN,00020,1,8.750000,discrete,daily_metrics_temp_air.csv
2,05520500,2009-03-03,temp_air,deg C,discrete,NaN,8.0,8.0,8.0,8.0,NaN,00020,1,7.000000,discrete,daily_metrics_temp_air.csv
3,05520500,2009-06-02,temp_air,deg C,discrete,NaN,23.0,23.0,23.0,23.0,NaN,00020,1,9.383333,discrete,daily_metrics_temp_air.csv
4,05520500,2009-07-07,temp_air,deg C,discrete,NaN,28.3,28.3,28.3,28.3,NaN,00020,1,7.416667,discrete,daily_metrics_temp_air.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_OP.csv
Location:../data/daily_metrics_OP.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-12-14,OP,mg/l as P,instantaneous,NaN,0.577800,0.5760,0.550,0.619,0.019247,51289,15.0,16.0,continuous,daily_metrics_OP.csv
1,05537980,2017-12-15,OP,mg/l as P,instantaneous,NaN,0.677333,0.6755,0.541,0.793,0.079250,51289,24.0,11.5,continuous,daily_metrics_OP.csv
2,05537980,2017-12-16,OP,mg/l as P,instantaneous,NaN,0.785583,0.7930,0.686,0.850,0.031617,51289,24.0,11.5,continuous,daily_metrics_OP.csv
3,05537980,2017-12-17,OP,mg/l as P,instantaneous,NaN,0.822375,0.8260,0.741,0.865,0.029105,51289,24.0,11.5,continuous,daily_metrics_OP.csv
4,05537980,2017-12-18,OP,mg/l as P,instantaneous,NaN,0.861000,0.8640,0.830,0.882,0.015547,51289,8.0,3.5,continuous,daily_metrics_OP.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_fPC.csv
Location:../data/daily_metrics_fPC.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05543010,2019-02-14,fPC,ug/l,instantaneous,NaN,0.173061,0.17,0.12,0.26,0.030971,32319,49.0,17.586735,continuous,daily_metrics_fPC.csv
1,05543010,2019-02-15,fPC,ug/l,instantaneous,NaN,0.185474,0.18,0.12,0.26,0.034356,32319,95.0,11.955263,continuous,daily_metrics_fPC.csv
2,05543010,2019-02-16,fPC,ug/l,instantaneous,NaN,0.203871,0.20,0.15,0.29,0.028818,32319,93.0,11.779570,continuous,daily_metrics_fPC.csv
3,05543010,2019-02-17,fPC,ug/l,instantaneous,NaN,0.200211,0.20,0.14,0.30,0.030873,32319,95.0,11.984211,continuous,daily_metrics_fPC.csv
4,05543010,2019-02-18,fPC,ug/l,instantaneous,NaN,0.201250,0.20,0.14,0.26,0.027116,32319,96.0,11.875000,continuous,daily_metrics_fPC.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_sediment.csv
Location:../data/daily_metrics_sediment.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05525500,2009-11-04,sediment,mg/l,discrete,NaN,31.0,31.0,31.0,31.0,NaN,00530,1,6.250000,discrete,daily_metrics_sediment.csv
1,05527500,2009-11-04,sediment,mg/l,discrete,NaN,48.0,48.0,48.0,48.0,NaN,00530,1,12.000000,discrete,daily_metrics_sediment.csv
2,05527656,2008-09-17,sediment,mg/l,discrete,NaN,4.0,4.0,4.0,4.0,NaN,80154,1,9.750000,discrete,daily_metrics_sediment.csv
3,05527900,2007-10-17,sediment,mg/l,discrete,NaN,54.0,54.0,54.0,54.0,NaN,80154,1,9.316667,discrete,daily_metrics_sediment.csv
4,05527900,2008-01-10,sediment,mg/l,discrete,NaN,125.0,125.0,125.0,125.0,NaN,80154,1,12.000000,discrete,daily_metrics_sediment.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_fDOM.csv
Location:../data/daily_metrics_fDOM.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05586300,2014-11-06,fDOM,ug/l QSE,instantaneous,NaN,51.320619,52.0,45.2,53.0,1.505610,32295,97.0,11.934021,continuous,daily_metrics_fDOM.csv
1,05586300,2014-11-07,fDOM,ug/l QSE,instantaneous,NaN,48.405155,48.4,44.4,50.9,1.383035,32295,97.0,11.934021,continuous,daily_metrics_fDOM.csv
2,05586300,2014-11-08,fDOM,ug/l QSE,instantaneous,NaN,48.917526,48.8,47.1,50.5,0.672992,32295,97.0,11.934021,continuous,daily_metrics_fDOM.csv
3,05586300,2014-11-09,fDOM,ug/l QSE,instantaneous,NaN,50.286458,50.1,46.9,53.1,1.534626,32295,96.0,11.967882,continuous,daily_metrics_fDOM.csv
4,05586300,2014-11-10,fDOM,ug/l QSE,instantaneous,NaN,50.798969,50.9,48.2,52.9,1.076694,32295,97.0,11.934021,continuous,daily_metrics_fDOM.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_chl_a.csv
Location:../data/daily_metrics_chl_a.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05527656,2008-06-25,chl_a,ug/l,discrete,NaN,1.03,1.03,1.03,1.03,NaN,32210,1,12.50,discrete,daily_metrics_chl_a.csv
1,05527656,2008-07-17,chl_a,ug/l,discrete,NaN,3.01,3.01,3.01,3.01,NaN,32210,1,12.00,discrete,daily_metrics_chl_a.csv
2,05527656,2008-08-11,chl_a,ug/l,discrete,NaN,1.85,1.85,1.85,1.85,NaN,32210,1,11.25,discrete,daily_metrics_chl_a.csv
3,05527656,2008-09-17,chl_a,ug/l,discrete,NaN,0.80,0.80,0.80,0.80,NaN,32210,1,9.75,discrete,daily_metrics_chl_a.csv
4,05527656,2008-10-13,chl_a,ug/l,discrete,NaN,0.31,0.31,0.31,0.31,NaN,32210,1,9.75,discrete,daily_metrics_chl_a.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_fchl.csv
Location:../data/daily_metrics_fchl.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-11-16,fchl,ug/l,instantaneous,NaN,2.385570,2.4,1.9,4.1,0.201818,32318,395.0,19.002278,continuous,daily_metrics_fchl.csv
1,05537980,2017-11-17,fchl,ug/l,instantaneous,NaN,2.276737,2.2,1.8,3.8,0.217462,32318,619.0,6.279698,continuous,daily_metrics_fchl.csv
2,05537980,2017-11-18,fchl,ug/l,instantaneous,NaN,3.328125,3.0,1.9,7.1,1.305350,32318,96.0,11.875000,continuous,daily_metrics_fchl.csv
3,05537980,2017-11-19,fchl,ug/l,instantaneous,NaN,3.034375,3.0,2.6,3.7,0.244875,32318,96.0,11.875000,continuous,daily_metrics_fchl.csv
4,05537980,2017-11-20,fchl,ug/l,instantaneous,NaN,3.387500,3.4,2.9,4.1,0.281817,32318,96.0,11.875000,continuous,daily_metrics_fchl.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_temp_water.csv
Location:../data/daily_metrics_temp_water.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05527500,2013-10-01,temp_water,deg C,instantaneous,NaN,19.075000,18.9,18.3,20.2,0.674272,00010,92.0,12.375,continuous,daily_metrics_temp_water.csv
1,05527500,2013-10-02,temp_water,deg C,instantaneous,NaN,19.932292,19.6,19.3,21.0,0.641297,00010,96.0,11.875,continuous,daily_metrics_temp_water.csv
2,05527500,2013-10-03,temp_water,deg C,instantaneous,NaN,20.428125,20.2,19.8,21.4,0.522081,00010,96.0,11.875,continuous,daily_metrics_temp_water.csv
3,05527500,2013-10-04,temp_water,deg C,instantaneous,NaN,21.009375,20.7,20.3,22.2,0.704135,00010,96.0,11.875,continuous,daily_metrics_temp_water.csv
4,05527500,2013-10-05,temp_water,deg C,instantaneous,NaN,21.457292,21.4,21.1,22.1,0.312122,00010,96.0,11.875,continuous,daily_metrics_temp_water.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_turb.csv
Location:../data/daily_metrics_turb.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05527910,2015-04-01,turb,FNU,instantaneous,NaN,18.494505,14.0,12.0,160.0,18.340225,63680,91.0,12.390110,continuous,daily_metrics_turb.csv
1,05527910,2015-04-02,turb,FNU,instantaneous,NaN,15.463158,15.0,12.0,19.0,2.861373,63680,95.0,11.884211,continuous,daily_metrics_turb.csv
2,05527910,2015-04-03,turb,FNU,instantaneous,NaN,20.852632,19.0,15.0,28.0,3.316523,63680,95.0,11.884211,continuous,daily_metrics_turb.csv
3,05527910,2015-04-04,turb,FNU,instantaneous,NaN,38.021053,42.0,27.0,53.0,7.647805,63680,95.0,11.884211,continuous,daily_metrics_turb.csv
4,05527910,2015-04-05,turb,FNU,instantaneous,NaN,43.389474,42.0,36.0,61.0,5.995202,63680,95.0,11.884211,continuous,daily_metrics_turb.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_uv_254.csv
Location:../data/daily_metrics_uv_254.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05531500,2013-05-07,uv_254,units/cm,discrete,NaN,0.124,0.124,0.124,0.124,NaN,50624,1,6.166667,discrete,daily_metrics_uv_254.csv
1,05531500,2013-05-29,uv_254,units/cm,discrete,NaN,0.174,0.174,0.174,0.174,NaN,50624,1,4.166667,discrete,daily_metrics_uv_254.csv
2,05531500,2013-06-12,uv_254,units/cm,discrete,NaN,0.241,0.241,0.241,0.241,NaN,50624,1,5.000000,discrete,daily_metrics_uv_254.csv
3,05531500,2013-06-17,uv_254,units/cm,discrete,NaN,0.155,0.155,0.155,0.155,NaN,50624,1,6.000000,discrete,daily_metrics_uv_254.csv
4,05531500,2013-06-28,uv_254,units/cm,discrete,NaN,0.191,0.191,0.191,0.191,NaN,50624,1,3.333333,discrete,daily_metrics_uv_254.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_SC.csv
Location:../data/daily_metrics_SC.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-11-16,SC,uS/cm @25C,instantaneous,NaN,980.807980,982.0,969.0,989.0,5.172092,95,401.0,18.926309,continuous,daily_metrics_SC.csv
1,05537980,2017-11-17,SC,uS/cm @25C,instantaneous,NaN,978.775974,980.0,951.0,990.0,7.208067,95,616.0,6.287229,continuous,daily_metrics_SC.csv
2,05537980,2017-11-18,SC,uS/cm @25C,instantaneous,NaN,927.395833,939.5,700.0,973.0,51.711035,95,96.0,11.875000,continuous,daily_metrics_SC.csv
3,05537980,2017-11-19,SC,uS/cm @25C,instantaneous,NaN,872.260417,868.0,778.0,944.0,45.861862,95,96.0,11.875000,continuous,daily_metrics_SC.csv
4,05537980,2017-11-20,SC,uS/cm @25C,instantaneous,NaN,759.916667,771.0,691.0,827.0,42.507873,95,96.0,11.875000,continuous,daily_metrics_SC.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_mats.csv
Location:../data/daily_metrics_mats.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05520500,2015-10-27,mats,code,discrete,NaN,0,0,0,0,NaN,1325,1,1.950000,discrete,daily_metrics_mats.csv
1,05520500,2015-11-23,mats,code,discrete,NaN,0,0,0,0,NaN,1325,1,8.666667,discrete,daily_metrics_mats.csv
2,05520500,2016-02-01,mats,code,discrete,NaN,0,0,0,0,NaN,1325,1,4.333333,discrete,daily_metrics_mats.csv
3,05520500,2016-03-07,mats,code,discrete,NaN,0,0,0,0,NaN,1325,1,6.666667,discrete,daily_metrics_mats.csv
4,05520500,2016-04-11,mats,code,discrete,NaN,0,0,0,0,NaN,1325,1,7.416667,discrete,daily_metrics_mats.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_q.csv
Location:../data/daily_metrics_q.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05520500,2013-11-06,Q,m3/sec,discrete,NaN,58.162082,58.162082,58.000000,58.324165,0.229219,00061;30209,2,5.25,discrete,daily_metrics_q.csv
1,05520500,2013-12-18,Q,m3/sec,discrete,NaN,143.131135,143.131135,143.000000,143.262269,0.185452,00061;30209,2,6.00,discrete,daily_metrics_q.csv
2,05520500,2017-11-01,Q,m3/sec,discrete,NaN,68.899932,68.899932,68.799864,69.000000,0.141517,00061;30209,2,11.25,discrete,daily_metrics_q.csv
3,05520500,2017-12-12,Q,m3/sec,discrete,NaN,55.888011,55.888011,55.776022,56.000000,0.158377,00061;30209,2,1.75,discrete,daily_metrics_q.csv
4,05520500,2018-01-25,Q,m3/sec,discrete,NaN,94.923775,94.923775,94.847550,95.000000,0.107799,00061;30209,2,1.75,discrete,daily_metrics_q.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_NO3_NO2.csv
Location:../data/daily_metrics_NO3_NO2.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-11-16,NO3_NO2,mg/l as N,instantaneous,NaN,4.769701,4.760,4.62,4.89,0.071662,99133,401.0,18.926309,continuous,daily_metrics_NO3_NO2.csv
1,05537980,2017-11-17,NO3_NO2,mg/l as N,instantaneous,NaN,4.975516,4.960,4.76,5.62,0.116862,99133,620.0,6.276828,continuous,daily_metrics_NO3_NO2.csv
2,05537980,2017-11-18,NO3_NO2,mg/l as N,instantaneous,NaN,5.212813,5.255,4.09,5.89,0.523616,99133,96.0,11.875000,continuous,daily_metrics_NO3_NO2.csv
3,05537980,2017-11-19,NO3_NO2,mg/l as N,instantaneous,NaN,4.351979,4.305,3.86,4.93,0.308110,99133,96.0,11.875000,continuous,daily_metrics_NO3_NO2.csv
4,05537980,2017-11-20,NO3_NO2,mg/l as N,instantaneous,NaN,3.733542,3.785,3.13,4.36,0.375023,99133,96.0,11.875000,continuous,daily_metrics_NO3_NO2.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_NO3.csv
Location:../data/daily_metrics_NO3.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05525500,2009-11-04,NO3,mg/l as N,discrete,NaN,4.16,4.16,4.16,4.16,NaN,618,1,6.250000,discrete,daily_metrics_NO3.csv
1,05527500,2009-11-04,NO3,mg/l as N,discrete,NaN,2.85,2.85,2.85,2.85,NaN,618,1,12.000000,discrete,daily_metrics_NO3.csv
2,05527500,2015-06-22,NO3,mg/l as N,discrete,NaN,4.17,4.17,4.17,4.17,NaN,618,1,5.000000,discrete,daily_metrics_NO3.csv
3,05527500,2015-08-24,NO3,mg/l as N,discrete,NaN,1.55,1.55,1.55,1.55,NaN,618,1,6.166667,discrete,daily_metrics_NO3.csv
4,05527500,2015-10-05,NO3,mg/l as N,discrete,NaN,2.26,2.26,2.26,2.26,NaN,618,1,4.500000,discrete,daily_metrics_NO3.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_pH.csv
Location:../data/daily_metrics_pH.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-11-16,pH,std units,instantaneous,NaN,7.578554,7.6,7.5,7.7,0.044033,400,401.0,18.926309,continuous,daily_metrics_pH.csv
1,05537980,2017-11-17,pH,std units,instantaneous,NaN,7.581129,7.6,7.4,7.6,0.039976,400,620.0,6.276828,continuous,daily_metrics_pH.csv
2,05537980,2017-11-18,pH,std units,instantaneous,NaN,7.444792,7.4,7.4,7.6,0.055951,400,96.0,11.875000,continuous,daily_metrics_pH.csv
3,05537980,2017-11-19,pH,std units,instantaneous,NaN,7.430208,7.4,7.4,7.5,0.046157,400,96.0,11.875000,continuous,daily_metrics_pH.csv
4,05537980,2017-11-20,pH,std units,instantaneous,NaN,7.428125,7.4,7.3,7.5,0.047469,400,96.0,11.875000,continuous,daily_metrics_pH.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_pheo.csv
Location:../data/daily_metrics_pheo.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2018-03-15,pheo,ug/l,discrete,NaN,2.1,2.1,2.1,2.1,NaN,62360,1,5.500000,discrete,daily_metrics_pheo.csv
1,05537980,2018-05-24,pheo,ug/l,discrete,NaN,4.5,4.5,4.5,4.5,NaN,62360,1,6.000000,discrete,daily_metrics_pheo.csv
2,05537980,2019-04-11,pheo,ug/l,discrete,NaN,6.8,6.8,6.8,6.8,NaN,62360,1,6.000000,discrete,daily_metrics_pheo.csv
3,05537980,2019-07-01,pheo,ug/l,discrete,NaN,11.7,11.7,11.7,11.7,NaN,62360,1,6.583333,discrete,daily_metrics_pheo.csv
4,05537980,2020-05-15,pheo,ug/l,discrete,NaN,12.6,12.6,12.6,12.6,NaN,62360,1,6.250000,discrete,daily_metrics_pheo.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

daily_metrics_DO.csv
Location:../data/daily_metrics_DO.csv

,site_no,date,parm_abbrev,units,derived_from,sensor_description,mean_result,median_result,minimum_result,maximum_result,sd_result,pcodes,n_results,mean_time_of_day_hrs,freq,filename
0,05537980,2017-11-16,DO,mg/l,instantaneous,NaN,8.869077,8.8,8.0,9.8,0.475175,300,401.0,18.926309,continuous,daily_metrics_DO.csv
1,05537980,2017-11-17,DO,mg/l,instantaneous,NaN,8.712581,8.7,7.7,9.4,0.239013,300,620.0,6.276828,continuous,daily_metrics_DO.csv
2,05537980,2017-11-18,DO,mg/l,instantaneous,NaN,8.044792,8.0,7.4,9.3,0.434043,300,96.0,11.875000,continuous,daily_metrics_DO.csv
3,05537980,2017-11-19,DO,mg/l,instantaneous,NaN,8.930208,8.9,7.9,9.8,0.352769,300,96.0,11.875000,continuous,daily_metrics_DO.csv
4,05537980,2017-11-20,DO,mg/l,instantaneous,NaN,8.867708,8.9,7.8,10.0,0.500630,300,96.0,11.875000,continuous,daily_metrics_DO.csv

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

In [5]:
d = dict(zip(d_m_names, d_m_df))

print('Number of daily metric datasets: ',
      len(d_m_names))

Number of daily metric datasets:  19

In [6]:

for i in d_m_df:
    display(i.columns)

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

Index(['site_no', 'date', 'parm_abbrev', 'units', 'derived_from',
       'sensor_description', 'mean_result', 'median_result', 'minimum_result',
       'maximum_result', 'sd_result', 'pcodes', 'n_results',
       'mean_time_of_day_hrs', 'freq', 'filename'],
      dtype='object')

In [7]:
def print_df_specs(df):
    print(df.filename[0])
    print(df.dtypes)
    print('\n')
    print(df.describe())
    print('\n Any duplicates: \n')
    print(df[df.duplicated()])
    print('\n')

counter = 1
for df in d_m_df:
    print('data file', counter)
    ## run df specs function
    print_df_specs(df)
    counter = counter + 1

data file 1
daily_metrics_phyto_biomass.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0          1.0            1.0             1.0
mean                  NaN         22.7           22.7            22.7
std                   NaN          NaN            NaN             NaN
min                   NaN         22.7           22.7            22.7
25%                   NaN         22.7           22.7            22.7
50%                   NaN         22.7           22.7            22.7
75%                   NaN         22.7           22.7            22.7
max                   NaN         22.7           22.7            22.7

       maximum_result  sd_result   pcodes  n_results  mean_time_of_day_hrs
count             1.0        0.0      1.0        1.0              1.000000
mean             22.7        NaN  49953.0        1.0              9.333333
std               NaN        NaN      NaN        NaN                   NaN
min              22.7        NaN  49953.0        1.0              9.333333
25%              22.7        NaN  49953.0        1.0              9.333333
50%              22.7        NaN  49953.0        1.0              9.333333
75%              22.7        NaN  49953.0        1.0              9.333333
max              22.7        NaN  49953.0        1.0              9.333333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 2
daily_metrics_temp_air.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0  2271.000000    2271.000000     2271.000000
mean                  NaN    15.426995      15.427122       15.416317
std                   NaN    11.135001      11.135003       11.144030
min                   NaN   -20.500000     -20.500000      -20.500000
25%                   NaN     6.000000       6.000000        6.000000
50%                   NaN    16.700000      16.700000       16.700000
75%                   NaN    24.500000      24.500000       24.500000
max                   NaN    42.000000      42.000000       42.000000

       maximum_result   sd_result    n_results  mean_time_of_day_hrs
count     2271.000000  108.000000  2271.000000           2271.000000
mean        15.437311    0.270506     1.068252              6.302319
std         11.133152    1.706639     0.376876              2.520561
min        -20.500000    0.000000     1.000000              0.650000
25%          6.000000    0.000000     1.000000              4.500000
50%         16.700000    0.000000     1.000000              6.033333
75%         24.500000    0.023570     1.000000              8.000000
max         42.000000   16.829141     7.000000             15.000000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 3
daily_metrics_OP.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       mean_result  median_result  minimum_result  maximum_result  \
count  5403.000000    5385.000000     5406.000000     5413.000000
mean      0.250593       0.249565        0.225668        0.277746
std       0.247180       0.246670        0.223418        0.279214
min       0.000400       0.000400        0.000100        0.000400
25%       0.081000       0.081000        0.074000        0.087000
50%       0.196583       0.196000        0.184000        0.205000
75%       0.337948       0.335000        0.300750        0.373000
max       3.080000       3.080000        3.080000        3.080000

         sd_result        pcodes    n_results  mean_time_of_day_hrs
count  4020.000000   5418.000000  5385.000000           5385.000000
mean      0.018924  37555.434109    21.032498             10.478416
std       0.028411  22508.849776    31.501413              2.698325
min       0.000000    671.000000     1.000000              0.166667
25%       0.002891    671.000000     1.000000             10.166667
50%       0.006773  51289.000000    12.000000             11.285714
75%       0.024039  51289.000000    12.000000             12.000000
max       0.451841  51289.000000   100.000000             23.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 4
daily_metrics_fPC.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       mean_result  median_result  minimum_result  maximum_result  \
count  5043.000000    3645.000000     5104.000000     5137.000000
mean      1.781673       2.246169        1.380551        2.396190
std       2.047504       2.160588        1.697127        2.873731
min       0.010000       0.050000        0.001000        0.040000
25%       0.345190       0.700000        0.240000        0.520000
50%       0.956875       1.520000        0.720000        1.300000
75%       2.519742       3.215000        1.840000        3.400000
max      22.650000      22.350000       21.500000       67.100000

         sd_result   pcodes    n_results  mean_time_of_day_hrs
count  3645.000000   5162.0  3645.000000           3645.000000
mean      0.278240  32319.0    94.122908             11.820321
std       0.297974      0.0     9.205588              1.123285
min       0.010675  32319.0     3.000000              0.375000
25%       0.062954  32319.0    95.000000             11.875000
50%       0.186905  32319.0    96.000000             11.875000
75%       0.392870  32319.0    96.000000             11.875000
max       3.413095  32319.0   100.000000             19.250000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 5
daily_metrics_sediment.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description   mean_result  median_result  minimum_result  \
count                 0.0   8699.000000    8699.000000     8699.000000
mean                  NaN    209.954024     208.874238      182.690654
std                   NaN    652.485538     660.794614      571.884432
min                   NaN      0.500000       0.500000        0.500000
25%                   NaN     39.000000      39.000000       37.000000
50%                   NaN     71.935484      71.000000       68.000000
75%                   NaN    160.000000     160.000000      148.000000
max                   NaN  23900.000000   23900.000000    23900.000000

       maximum_result     sd_result    n_results  mean_time_of_day_hrs
count     8699.000000   1415.000000  8699.000000           8699.000000
mean       242.965628    166.289266     1.389815              8.344396
std        879.857890    536.168472     1.455682              4.339120
min          0.500000      0.000000     1.000000              0.000000
25%         40.000000      7.000000     1.000000              5.250000
50%         73.000000     22.627417     1.000000              8.166667
75%        169.500000     89.449008     1.000000             10.500000
max      41300.000000  10734.034776    56.000000             23.983333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 6
daily_metrics_fDOM.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0  1727.000000    1723.000000     1723.000000
mean                  NaN    47.802365      47.983784       44.084306
std                   NaN    10.640896      10.608163       12.031787
min                   NaN     5.511458       5.800000        0.330000
25%                   NaN    40.993337      41.300000       37.400000
50%                   NaN    47.085567      47.200000       44.000000
75%                   NaN    55.392188      55.500000       52.300000
max                   NaN    75.670833      76.350000       74.200000

       maximum_result    sd_result   pcodes    n_results  mean_time_of_day_hrs
count     1723.000000  1723.000000   1727.0  1723.000000           1723.000000
mean        50.453430     1.481896  32295.0    94.868833             11.841013
std          9.932887     1.695511      0.0     7.451132              0.907532
min          9.100000     0.120757  32295.0     4.000000              0.375000
25%         43.440000     0.666091  32295.0    96.000000             11.875000
50%         49.330000     1.070206  32295.0    96.000000             11.875000
75%         57.350000     1.638969  32295.0    96.000000             11.875000
max         78.900000    19.880374  32295.0   100.000000             20.953125

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 7
daily_metrics_chl_a.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0   340.000000     340.000000      340.000000
mean                  NaN    10.701338      10.701559       10.689353
std                   NaN    14.233322      14.232884       14.239415
min                   NaN     0.310000       0.310000        0.310000
25%                   NaN     2.815000       2.815000        2.815000
50%                   NaN     5.300000       5.300000        5.250000
75%                   NaN    12.625000      12.625000       12.625000
max                   NaN    97.600000      97.600000       97.600000

       maximum_result  sd_result        pcodes   n_results  \
count      340.000000   6.000000    340.000000  340.000000
mean        10.713471   0.639163  52834.950000    1.050000
std         14.228672   0.385917  19359.395333    0.376876
min          0.310000   0.340343  32210.000000    1.000000
25%          2.880000   0.386713  32210.000000    1.000000
50%          5.300000   0.511219  70953.000000    1.000000
75%         12.625000   0.700178  70953.000000    1.000000
max         97.600000   1.363818  70953.000000    4.000000

       mean_time_of_day_hrs
count            340.000000
mean               6.467316
std                2.040099
min                1.750000
25%                5.000000
50%                6.002083
75%                7.500000
max               14.833333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 8
daily_metrics_fchl.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       mean_result  median_result  minimum_result  maximum_result  \
count  9114.000000    8954.000000     9117.000000     9116.000000
mean     12.210375      12.098621        9.150854       17.680529
std      12.471690      12.286145        9.231484       19.463310
min       0.400000       0.400000        0.010000        0.400000
25%       4.495833       4.500000        3.200000        6.500000
50%       7.670896       7.600000        5.500000       11.200000
75%      15.250263      15.187500       11.900000       21.400000
max     154.517204     136.000000      103.000000      266.000000

         sd_result    n_results  mean_time_of_day_hrs
count  8846.000000  8954.000000           8954.000000
mean      1.761840    91.104758             11.698855
std       2.431326    17.334347              1.446116
min       0.000000     1.000000              0.000000
25%       0.498331    95.000000             11.875000
50%       0.935052    96.000000             11.875000
75%       2.003371    96.000000             11.875000
max      39.776267   619.000000             23.000000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 9
daily_metrics_temp_water.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


        mean_result  median_result  minimum_result  maximum_result  \
count  66393.000000   63309.000000    66456.000000    66465.000000
mean      14.089193      14.008616       13.292452       15.011343
std        8.474733       8.449090        8.355864        8.731320
min       -1.300000      -1.300000       -1.700000       -1.300000
25%        6.400000       6.300000        5.700000        7.100000
50%       14.064583      13.950000       13.100000       15.200000
75%       21.667708      21.550000       20.700000       22.800000
max       32.795789      32.900000       32.200000       37.800000

          sd_result     n_results  mean_time_of_day_hrs
count  60324.000000  63309.000000          63309.000000
mean       0.568245     98.013568             11.597457
std        0.605759     41.898735              1.497624
min        0.000000      1.000000              0.000000
25%        0.204164     96.000000             11.875000
50%        0.382643     96.000000             11.875000
75%        0.706966     96.000000             11.875000
max        8.529781    620.000000             23.833333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 10
daily_metrics_turb.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


        mean_result  median_result  minimum_result  maximum_result  \
count  32945.000000   31984.000000    32094.000000    32084.000000
mean      25.492471      24.894726       18.446140       41.107399
std       46.342842      45.895111       35.247455       84.280988
min        0.055000       0.010000        0.010000        0.100000
25%        6.948958       6.600000        4.700000       10.400000
50%       12.338710      12.000000        8.900000       19.300000
75%       25.843750      25.200000       19.000000       42.000000
max     1240.000000    1240.000000     1240.000000     2460.000000

          sd_result     n_results  mean_time_of_day_hrs
count  29773.000000  31984.000000          31984.000000
mean       5.615849     83.425619             11.492335
std       17.807869     29.275739              2.061895
min        0.000000      1.000000              0.000000
25%        1.013072     94.000000             11.875000
50%        2.088124     96.000000             11.875000
75%        4.767581     96.000000             11.875000
max      622.816284    620.000000             23.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 11
daily_metrics_uv_254.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0   193.000000     193.000000      193.000000
mean                  NaN     0.127839       0.127839        0.127839
std                   NaN     0.052605       0.052605        0.052605
min                   NaN     0.036000       0.036000        0.036000
25%                   NaN     0.103000       0.103000        0.103000
50%                   NaN     0.123000       0.123000        0.123000
75%                   NaN     0.149000       0.149000        0.149000
max                   NaN     0.371000       0.371000        0.371000

       maximum_result  sd_result   pcodes  n_results  mean_time_of_day_hrs
count      193.000000        0.0    193.0      193.0            193.000000
mean         0.127839        NaN  50624.0        1.0              6.166235
std          0.052605        NaN      0.0        0.0              1.627302
min          0.036000        NaN  50624.0        1.0              2.500000
25%          0.103000        NaN  50624.0        1.0              5.500000
50%          0.123000        NaN  50624.0        1.0              6.166667
75%          0.149000        NaN  50624.0        1.0              6.833333
max          0.371000        NaN  50624.0        1.0             12.500000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 12
daily_metrics_SC.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


        mean_result  median_result  minimum_result  maximum_result  \
count  38568.000000   35155.000000    37543.000000    37586.000000
mean     760.196765     768.932399      743.285646      786.482760
std      265.912703     273.376263      258.566366      281.065374
min      115.000000     108.000000       52.000000      115.000000
25%      617.000000     621.000000      609.000000      634.000000
50%      696.000000     703.000000      685.000000      718.000000
75%      830.856771     846.000000      817.000000      859.000000
max     4250.000000    4250.000000     4250.000000     4250.000000

          sd_result   pcodes     n_results  mean_time_of_day_hrs
count  32427.000000  38753.0  35155.000000          35155.000000
mean      13.211324     95.0     99.550192             11.377014
std       20.866913      0.0     54.831321              2.051545
min        0.000000     95.0      1.000000              0.000000
25%        3.237694     95.0     96.000000             11.875000
50%        7.147682     95.0     96.000000             11.875000
75%       15.001574     95.0     96.000000             11.916667
max      600.505869     95.0    616.000000             23.833333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 13
daily_metrics_mats.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result               int64
median_result             int64
minimum_result            int64
maximum_result            int64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0   556.000000     556.000000      556.000000
mean                  NaN     0.192446       0.192446        0.192446
std                   NaN     0.465781       0.465781        0.465781
min                   NaN     0.000000       0.000000        0.000000
25%                   NaN     0.000000       0.000000        0.000000
50%                   NaN     0.000000       0.000000        0.000000
75%                   NaN     0.000000       0.000000        0.000000
max                   NaN     2.000000       2.000000        2.000000

       maximum_result  sd_result  pcodes   n_results  mean_time_of_day_hrs
count      556.000000       18.0   556.0  556.000000            556.000000
mean         0.192446        0.0  1325.0    1.032374              8.009323
std          0.465781        0.0     0.0    0.177151              3.153550
min          0.000000        0.0  1325.0    1.000000              1.250000
25%          0.000000        0.0  1325.0    1.000000              5.666667
50%          0.000000        0.0  1325.0    1.000000              7.708333
75%          0.000000        0.0  1325.0    1.000000             10.333333
max          2.000000        0.0  1325.0    2.000000             16.333333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 14
daily_metrics_q.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0  1218.000000    1218.000000     1218.000000
mean                  NaN   158.738468     158.737782      158.612922
std                   NaN   389.170707     389.170957      388.950632
min                   NaN     0.000000       0.000000        0.000000
25%                   NaN     0.738065       0.738065        0.679505
50%                   NaN     5.251003       5.251003        5.176456
75%                   NaN    46.662197      46.662197       46.536968
max                   NaN  2947.260473    2947.260473     2944.520947

       maximum_result    sd_result    n_results  mean_time_of_day_hrs
count     1218.000000  1153.000000  1218.000000           1218.000000
mean       158.866689     0.174925     2.408046              7.021973
std        389.390084     0.499409     1.679839              2.845913
min          0.000000     0.000000     1.000000              0.500000
25%          0.740000     0.002683     2.000000              5.250000
50%          5.300000     0.020518     2.000000              6.500000
75%         46.787426     0.138280     2.000000              8.666667
max       2950.000000     5.917969    22.000000             23.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 15
daily_metrics_NO3_NO2.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                   object
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description   mean_result  median_result  minimum_result  \
count                 0.0  24088.000000   23931.000000    24127.000000
mean                  NaN      4.307066       4.307716        4.072150
std                   NaN      3.944946       3.959330        3.779171
min                   NaN      0.001000       0.001000        0.001000
25%                   NaN      1.492500       1.495000        1.420000
50%                   NaN      3.141302       3.140000        2.940000
75%                   NaN      5.533620       5.505000        5.250000
max                   NaN     28.482609      28.700000       26.600000

       maximum_result     sd_result     n_results  mean_time_of_day_hrs
count    24113.000000  22702.000000  23931.000000          23931.000000
mean         4.528677      0.135938    109.033513             11.519444
std          4.087864      0.280380     67.781756              1.742638
min          0.001000      0.000000      1.000000              0.125000
25%          1.590000      0.032439     96.000000             11.875000
50%          3.340000      0.062717     96.000000             11.875000
75%          5.820000      0.130662     96.000000             11.875000
max         29.200000      6.674075    620.000000             23.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 16
daily_metrics_NO3.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0   868.000000     868.000000      868.000000
mean                  NaN     4.275744       4.269452        4.254173
std                   NaN     4.117757       4.111659        4.092312
min                   NaN     0.019000       0.019000        0.019000
25%                   NaN     1.347500       1.347500        1.347500
50%                   NaN     2.890000       2.885000        2.885000
75%                   NaN     5.587500       5.587500        5.587500
max                   NaN    19.100000      19.100000       19.100000

       maximum_result  sd_result  pcodes   n_results  mean_time_of_day_hrs
count      868.000000  46.000000   868.0  868.000000            868.000000
mean         4.305986   0.518539   618.0    1.117512              7.178629
std          4.161973   0.774710     0.0    0.649739              2.821095
min          0.019000   0.007071   618.0    1.000000              0.166667
25%          1.347500   0.035969   618.0    1.000000              5.500000
50%          2.890000   0.113831   618.0    1.000000              6.500000
75%          5.587500   0.745897   618.0    1.000000              8.472222
max         19.100000   3.416946   618.0    9.000000             23.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 17
daily_metrics_pH.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


        mean_result  median_result  minimum_result  maximum_result  \
count  22869.000000   22869.000000    24523.000000    24531.000000
mean       7.942973       7.940091        7.869751        8.010297
std        0.372708       0.374365        0.369797        0.389181
min        5.700000       5.700000        5.700000        5.700000
25%        7.700000       7.700000        7.600000        7.800000
50%        7.932292       7.900000        7.900000        8.000000
75%        8.186458       8.200000        8.100000        8.200000
max       10.400000      10.400000       10.400000       10.400000

          sd_result   pcodes     n_results  mean_time_of_day_hrs
count  20335.000000  25611.0  22869.000000          22869.000000
mean       0.050750    400.0     84.474135             11.154452
std        0.056362      0.0     40.774906              2.276740
min        0.000000    400.0      1.000000              0.000000
25%        0.014358    400.0     93.000000             11.875000
50%        0.045772    400.0     96.000000             11.875000
75%        0.060636    400.0     96.000000             11.875000
max        0.919239    400.0    620.000000             22.633333

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 18
daily_metrics_pheo.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description      float64
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results                 int64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


       sensor_description  mean_result  median_result  minimum_result  \
count                 0.0   181.000000     181.000000      181.000000
mean                  NaN     8.658610       8.656630        8.630939
std                   NaN     7.862669       7.862802        7.879744
min                   NaN     0.400000       0.400000        0.400000
25%                   NaN     3.300000       3.300000        3.300000
50%                   NaN     5.775000       5.700000        5.700000
75%                   NaN    10.800000      10.800000       10.800000
max                   NaN    45.300000      45.300000       45.300000

       maximum_result  sd_result   pcodes   n_results  mean_time_of_day_hrs
count      181.000000   6.000000    181.0  181.000000            181.000000
mean         8.690608   0.813735  62360.0    1.093923              6.159876
std          7.850582   0.602413      0.0    0.513178              1.959488
min          0.400000   0.331662  62360.0    1.000000              1.750000
25%          3.300000   0.468153  62360.0    1.000000              4.916667
50%          6.000000   0.678896  62360.0    1.000000              6.000000
75%         10.800000   0.775574  62360.0    1.000000              7.333333
max         45.300000   1.987251  62360.0    4.000000             11.750000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []


data file 19
daily_metrics_DO.csv
site_no                  object
date                     object
parm_abbrev              object
units                    object
derived_from             object
sensor_description       object
mean_result             float64
median_result           float64
minimum_result          float64
maximum_result          float64
sd_result               float64
pcodes                    int64
n_results               float64
mean_time_of_day_hrs    float64
freq                     object
filename                 object
dtype: object


        mean_result  median_result  minimum_result  maximum_result  \
count  27499.000000   25801.000000    27506.000000    27525.000000
mean       9.162468       9.099810        8.513173        9.932169
std        2.855645       2.893899        3.065414        2.924654
min        0.010000       0.010000        0.010000        0.010000
25%        7.289583       7.200000        6.700000        7.900000
50%        9.119444       9.000000        8.400000        9.900000
75%       11.171875      11.100000       10.700000       11.900000
max       27.200000      27.200000       27.200000       29.200000

          sd_result   pcodes     n_results  mean_time_of_day_hrs
count  23295.000000  27549.0  25801.000000          25801.000000
mean       0.455994    300.0     85.498043             11.241329
std        0.613468      0.0     38.556131              2.159326
min        0.000000    300.0      1.000000              0.000000
25%        0.113311    300.0     94.000000             11.875000
50%        0.236129    300.0     96.000000             11.875000
75%        0.517166    300.0     96.000000             11.875000
max        6.972633    300.0    620.000000             23.200000

 Any duplicates:

Empty DataFrame
Columns: [site_no, date, parm_abbrev, units, derived_from, sensor_description, mean_result, median_result, minimum_result, maximum_result, sd_result, pcodes, n_results, mean_time_of_day_hrs, freq, filename]
Index: []

### Dates Check

In [9]:
for z in d_m_df:
    
    filename = z['filename'].iloc[0]
    
    print('\n', filename)
    
    print(z.iloc[:,0:5].head())
    
    if (z.columns.str.contains('date').any() == True):
        z.sort_values('date')
        functions_notebook.check_date(z, date_col = 'date')
    else:
        print(f'No date column in {filename}')
        print('columns: ', z.columns)

           site_no       date    parm_abbrev units derived_from
0  422416088203600 2010-08-11  phyto_biomass  mg/l     discrete

 daily_metrics_phyto_biomass.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
0    date format e.g. 2010-08-11 correct
Name: date, dtype: object

End of month dates:
 []

Leap year dates:
 []

Earliest date: 2010-08-11 00:00:00
Latest date: 2010-08-11 00:00:00
    site_no       date parm_abbrev  units derived_from
0  05520500 2008-12-17    temp_air  deg C     discrete
1  05520500 2009-01-22    temp_air  deg C     discrete
2  05520500 2009-03-03    temp_air  deg C     discrete
3  05520500 2009-06-02    temp_air  deg C     discrete
4  05520500 2009-07-07    temp_air  deg C     discrete

 daily_metrics_temp_air.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
388    date format e.g. 2010-05-20 correct
Name: date, dtype: object

End of month dates:
 ['01-31' '05-31' '08-31' '07-31' '10-31' '03-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-22 00:00:00
    site_no       date parm_abbrev      units   derived_from
0  05537980 2017-12-14          OP  mg/l as P  instantaneous
1  05537980 2017-12-15          OP  mg/l as P  instantaneous
2  05537980 2017-12-16          OP  mg/l as P  instantaneous
3  05537980 2017-12-17          OP  mg/l as P  instantaneous
4  05537980 2017-12-18          OP  mg/l as P  instantaneous

 daily_metrics_OP.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
2354    date format e.g. 2014-04-26 correct
Name: date, dtype: object

End of month dates:
 ['01-31' '03-31' '05-31' '07-31' '08-31' '10-31' '12-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2008-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev units   derived_from
0  05543010 2019-02-14         fPC  ug/l  instantaneous
1  05543010 2019-02-15         fPC  ug/l  instantaneous
2  05543010 2019-02-16         fPC  ug/l  instantaneous
3  05543010 2019-02-17         fPC  ug/l  instantaneous
4  05543010 2019-02-18         fPC  ug/l  instantaneous

 daily_metrics_fPC.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
3562    date format e.g. 2020-09-15 correct
Name: date, dtype: object

End of month dates:
 ['03-31' '05-31' '07-31' '08-31' '10-31' '12-31' '01-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000']

Earliest date: 2013-06-26 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev units derived_from
0  05525500 2009-11-04    sediment  mg/l     discrete
1  05527500 2009-11-04    sediment  mg/l     discrete
2  05527656 2008-09-17    sediment  mg/l     discrete
3  05527900 2007-10-17    sediment  mg/l     discrete
4  05527900 2008-01-10    sediment  mg/l     discrete

 daily_metrics_sediment.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
8227    date format e.g. 2015-07-23 correct
Name: date, dtype: object

End of month dates:
 ['03-31' '05-31' '01-31' '07-31' '10-31' '12-31' '08-31']

Leap year dates:
 ['2012-02-29T00:00:00.000000000' '2008-02-29T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-08 00:00:00
    site_no       date parm_abbrev     units   derived_from
0  05586300 2014-11-06        fDOM  ug/l QSE  instantaneous
1  05586300 2014-11-07        fDOM  ug/l QSE  instantaneous
2  05586300 2014-11-08        fDOM  ug/l QSE  instantaneous
3  05586300 2014-11-09        fDOM  ug/l QSE  instantaneous
4  05586300 2014-11-10        fDOM  ug/l QSE  instantaneous

 daily_metrics_fDOM.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
777    date format e.g. 2017-02-06 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2014-11-06 00:00:00
Latest date: 2020-03-03 00:00:00
    site_no       date parm_abbrev units derived_from
0  05527656 2008-06-25       chl_a  ug/l     discrete
1  05527656 2008-07-17       chl_a  ug/l     discrete
2  05527656 2008-08-11       chl_a  ug/l     discrete
3  05527656 2008-09-17       chl_a  ug/l     discrete
4  05527656 2008-10-13       chl_a  ug/l     discrete

 daily_metrics_chl_a.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
33    date format e.g. 2017-04-18 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '05-31' '08-31']

Leap year dates:
 []

Earliest date: 2005-11-14 00:00:00
Latest date: 2020-09-28 00:00:00
    site_no       date parm_abbrev units   derived_from
0  05537980 2017-11-16        fchl  ug/l  instantaneous
1  05537980 2017-11-17        fchl  ug/l  instantaneous
2  05537980 2017-11-18        fchl  ug/l  instantaneous
3  05537980 2017-11-19        fchl  ug/l  instantaneous
4  05537980 2017-11-20        fchl  ug/l  instantaneous

 daily_metrics_fchl.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
7766    date format e.g. 2016-09-10 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000']

Earliest date: 2013-06-26 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev  units   derived_from
0  05527500 2013-10-01  temp_water  deg C  instantaneous
1  05527500 2013-10-02  temp_water  deg C  instantaneous
2  05527500 2013-10-03  temp_water  deg C  instantaneous
3  05527500 2013-10-04  temp_water  deg C  instantaneous
4  05527500 2013-10-05  temp_water  deg C  instantaneous

 daily_metrics_temp_water.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
9640    date format e.g. 2015-01-24 correct
Name: date, dtype: object

End of month dates:
 ['10-31' '12-31' '01-31' '03-31' '05-31' '07-31' '08-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2012-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev units   derived_from
0  05527910 2015-04-01        turb   FNU  instantaneous
1  05527910 2015-04-02        turb   FNU  instantaneous
2  05527910 2015-04-03        turb   FNU  instantaneous
3  05527910 2015-04-04        turb   FNU  instantaneous
4  05527910 2015-04-05        turb   FNU  instantaneous

 daily_metrics_turb.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
8088    date format e.g. 2018-11-01 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '08-31' '10-31' '05-31' '12-31' '01-31' '03-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000']

Earliest date: 2006-04-05 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev     units derived_from
0  05531500 2013-05-07      uv_254  units/cm     discrete
1  05531500 2013-05-29      uv_254  units/cm     discrete
2  05531500 2013-06-12      uv_254  units/cm     discrete
3  05531500 2013-06-17      uv_254  units/cm     discrete
4  05531500 2013-06-28      uv_254  units/cm     discrete

 daily_metrics_uv_254.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
77    date format e.g. 2012-03-08 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '03-31' '05-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2007-11-06 00:00:00
Latest date: 2018-10-23 00:00:00
    site_no       date parm_abbrev       units   derived_from
0  05537980 2017-11-16          SC  uS/cm @25C  instantaneous
1  05537980 2017-11-17          SC  uS/cm @25C  instantaneous
2  05537980 2017-11-18          SC  uS/cm @25C  instantaneous
3  05537980 2017-11-19          SC  uS/cm @25C  instantaneous
4  05537980 2017-11-20          SC  uS/cm @25C  instantaneous

 daily_metrics_SC.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]

29859    date format e.g. 2013-10-23 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev units derived_from
0  05520500 2015-10-27        mats  code     discrete
1  05520500 2015-11-23        mats  code     discrete
2  05520500 2016-02-01        mats  code     discrete
3  05520500 2016-03-07        mats  code     discrete
4  05520500 2016-04-11        mats  code     discrete

 daily_metrics_mats.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
442    date format e.g. 2016-08-29 correct
Name: date, dtype: object

End of month dates:
 ['01-31' '07-31' '05-31' '08-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2013-05-08 00:00:00
Latest date: 2020-12-16 00:00:00
    site_no       date parm_abbrev   units derived_from
0  05520500 2013-11-06           Q  m3/sec     discrete
1  05520500 2013-12-18           Q  m3/sec     discrete
2  05520500 2017-11-01           Q  m3/sec     discrete
3  05520500 2017-12-12           Q  m3/sec     discrete
4  05520500 2018-01-25           Q  m3/sec     discrete

 daily_metrics_q.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
1088    date format e.g. 2020-09-21 correct
Name: date, dtype: object

End of month dates:
 ['03-31' '01-31' '05-31' '08-31' '07-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-14 00:00:00
    site_no       date parm_abbrev      units   derived_from
0  05537980 2017-11-16     NO3_NO2  mg/l as N  instantaneous
1  05537980 2017-11-17     NO3_NO2  mg/l as N  instantaneous
2  05537980 2017-11-18     NO3_NO2  mg/l as N  instantaneous
3  05537980 2017-11-19     NO3_NO2  mg/l as N  instantaneous
4  05537980 2017-11-20     NO3_NO2  mg/l as N  instantaneous

 daily_metrics_NO3_NO2.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
17549    date format e.g. 2018-02-05 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2008-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev      units derived_from
0  05525500 2009-11-04         NO3  mg/l as N     discrete
1  05527500 2009-11-04         NO3  mg/l as N     discrete
2  05527500 2015-06-22         NO3  mg/l as N     discrete
3  05527500 2015-08-24         NO3  mg/l as N     discrete
4  05527500 2015-10-05         NO3  mg/l as N     discrete

 daily_metrics_NO3.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
624    date format e.g. 2014-03-12 correct
Name: date, dtype: object

End of month dates:
 ['05-31' '08-31' '07-31' '03-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-12 00:00:00
Latest date: 2020-12-08 00:00:00
    site_no       date parm_abbrev      units   derived_from
0  05537980 2017-11-16          pH  std units  instantaneous
1  05537980 2017-11-17          pH  std units  instantaneous
2  05537980 2017-11-18          pH  std units  instantaneous
3  05537980 2017-11-19          pH  std units  instantaneous
4  05537980 2017-11-20          pH  std units  instantaneous

 daily_metrics_pH.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
23240    date format e.g. 2015-03-24 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-31 00:00:00
    site_no       date parm_abbrev units derived_from
0  05537980 2018-03-15        pheo  ug/l     discrete
1  05537980 2018-05-24        pheo  ug/l     discrete
2  05537980 2019-04-11        pheo  ug/l     discrete
3  05537980 2019-07-01        pheo  ug/l     discrete
4  05537980 2020-05-15        pheo  ug/l     discrete

 daily_metrics_pheo.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
68    date format e.g. 2019-06-06 correct
Name: date, dtype: object

End of month dates:
 ['07-31' '05-31']

Leap year dates:
 []

Earliest date: 2010-08-11 00:00:00
Latest date: 2020-09-28 00:00:00
    site_no       date parm_abbrev units   derived_from
0  05537980 2017-11-16          DO  mg/l  instantaneous
1  05537980 2017-11-17          DO  mg/l  instantaneous
2  05537980 2017-11-18          DO  mg/l  instantaneous
3  05537980 2017-11-19          DO  mg/l  instantaneous
4  05537980 2017-11-20          DO  mg/l  instantaneous

 daily_metrics_DO.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
16625    date format e.g. 2020-12-05 correct
Name: date, dtype: object

End of month dates:
 ['12-31' '01-31' '03-31' '05-31' '07-31' '08-31' '10-31']

Leap year dates:
 ['2020-02-29T00:00:00.000000000' '2016-02-29T00:00:00.000000000']

Earliest date: 2005-10-11 00:00:00
Latest date: 2020-12-31 00:00:00

### Tabular Values check

In [2]:

counter = 1
for df_1 in d_m_df:
    print(f'\n{counter}. {df_1.filename[0]}')
    cols = df_1.columns
    for col in cols:
        print('   ', df_1[col].name,'  - dtype:', df_1[col].dtypes)
        if df_1[col].dtypes == 'O':
            functions_notebook.check_whitespace(df_col = df_1[col])
        if (df_1[col].dtypes == 'float64') or (df_1[col].dtypes == 'int64'):
            functions_notebook.calc_metrics(df_col = df_1[col])
        else: 
            pass
    counter = counter + 1
    print(f'\n   > whitespace scan complete for {df_1.filename[0]}')

NameError: name 'd_m_df' is not defined

### Review specific cols for daily metrics

In [18]:
## Checking n_results min max values 

for df in d_m_df:
    print(df.n_results.min())
    print(df.n_results.max())

1
1
1
7
1.0
100.0
3.0
100.0
1
56
4.0
100.0
1
4
1.0
619.0
1.0
620.0
1.0
620.0
1
1
1.0
616.0
1
2
1
22
1.0
620.0
1
9
1.0
620.0
1
4
1.0
620.0

In [ ]:
## Checking sd_result min max values 

for df in d_m_df:
    print(df.sd_results.min())
    print(df.sd_results.max())

In [19]:
## Checking mean_time_of_day_hrs min max values 

for df in d_m_df:
    print(df.mean_time_of_day_hrs.min())
    print(df.mean_time_of_day_hrs.max())

9.333333333333334
9.333333333333334
0.65
15.0
0.1666666666666666
23.75
0.375
19.25
0.0
23.98333333333333
0.375
20.953125
1.75
14.833333333333334
0.0
23.0
0.0
23.83333333333333
0.0
23.75
2.5
12.5
0.0
23.83333333333333
1.25
16.333333333333332
0.5
23.75
0.125
23.75
0.1666666666666666
23.75
0.0
22.633333333333333
1.75
11.75
0.0
23.2