In [1]:
import pandas as pd
import numpy as np
import os
import glob
import import_ipynb
import functions_notebook

importing Jupyter notebook from functions_notebook.ipynb

### General Checks

In [2]:
!ls -lh ../data/data_gage_height_combined/

total 8018064
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05515500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    30M Jun 29 12:57 clean_data_05516665_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05517000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05517500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    42M Jun 29 12:57 clean_data_05518000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   439K Jun 29 12:57 clean_data_05520500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05520500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    43M Jun 29 12:57 clean_data_05524500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   439K Jun 29 12:57 clean_data_05525000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05525000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   435K Jun 29 12:57 clean_data_05525500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05525500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   433K Jun 29 12:57 clean_data_05526000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05526000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   437K Jun 29 12:57 clean_data_05527500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05527500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   315K Jun 29 12:57 clean_data_05527900_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    38M Jun 29 12:57 clean_data_05527900_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   279K Jun 29 12:57 clean_data_05527905_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    34M Jun 29 12:57 clean_data_05527905_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   342K Jun 29 12:57 clean_data_05527910_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    41M Jun 29 12:57 clean_data_05527910_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   440K Jun 29 12:57 clean_data_05531500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   139M Jun 29 12:57 clean_data_05531500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   438K Jun 29 12:57 clean_data_05532500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05532500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   1.5K Jun 29 12:57 clean_data_05536118_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   459K Jun 29 12:57 clean_data_05536118_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   1.5K Jun 29 12:57 clean_data_05536123_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   908K Jun 29 12:57 clean_data_05536123_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   634B Jun 29 12:57 clean_data_05536137_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    96K Jun 29 12:57 clean_data_05536137_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    41M Jun 29 12:57 clean_data_05536160_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    47M Jun 29 12:57 clean_data_05536179_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    38M Jun 29 12:57 clean_data_05536190_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    43M Jun 29 12:57 clean_data_05536195_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   437K Jun 29 12:57 clean_data_05536275_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05536275_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    44K Jun 29 12:57 clean_data_05536366_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    76M Jun 29 12:57 clean_data_05536366_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   440K Jun 29 12:57 clean_data_05536890_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   485M Jun 29 12:57 clean_data_05536890_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   358K Jun 29 12:57 clean_data_05536995_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   100M Jun 29 12:57 clean_data_05536995_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   424K Jun 29 12:57 clean_data_05537980_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    37M Jun 29 12:57 clean_data_05537980_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    38M Jun 29 12:57 clean_data_05538020_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   438K Jun 29 12:57 clean_data_05540275_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    73M Jun 29 12:57 clean_data_05540275_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   441K Jun 29 12:57 clean_data_05540500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05540500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   391K Jun 29 12:57 clean_data_05541710_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    44M Jun 29 12:57 clean_data_05541710_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   437K Jun 29 12:57 clean_data_05542000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05542000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   213K Jun 29 12:57 clean_data_05543010_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    26M Jun 29 12:57 clean_data_05543010_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   436K Jun 29 12:57 clean_data_05543500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05543500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    32M Jun 29 12:57 clean_data_055451345_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    11M Jun 29 12:57 clean_data_05545750_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   319K Jun 29 12:57 clean_data_05548105_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    38M Jun 29 12:57 clean_data_05548105_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   425K Jun 29 12:57 clean_data_05548280_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    44M Jun 29 12:57 clean_data_05548280_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   233K Jun 29 12:57 clean_data_05549000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    28M Jun 29 12:57 clean_data_05549000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   437K Jun 29 12:57 clean_data_05549500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    80M Jun 29 12:57 clean_data_05549500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   434K Jun 29 12:57 clean_data_05549501_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    78M Jun 29 12:57 clean_data_05549501_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   600K Jun 29 12:57 clean_data_05550001_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    39M Jun 29 12:57 clean_data_05550001_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   438K Jun 29 12:57 clean_data_05550500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05550500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    34K Jun 29 12:57 clean_data_05551029_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    54K Jun 29 12:57 clean_data_05551030_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   443K Jun 29 12:57 clean_data_05551540_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    47M Jun 29 12:57 clean_data_05551540_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   230K Jun 29 12:57 clean_data_05551580_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    28M Jun 29 12:57 clean_data_05551580_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   436K Jun 29 12:57 clean_data_05551700_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05551700_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   432K Jun 29 12:57 clean_data_05552500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    44M Jun 29 12:57 clean_data_05552500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   218K Jun 29 12:57 clean_data_05554300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    26M Jun 29 12:57 clean_data_05554300_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   430K Jun 29 12:57 clean_data_05555300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    44M Jun 29 12:57 clean_data_05555300_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   428K Jun 29 12:57 clean_data_05556500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05556500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    66K Jun 29 12:57 clean_data_05557500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   8.0M Jun 29 12:57 clean_data_05557500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   439K Jun 29 12:57 clean_data_05558300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    37M Jun 29 12:57 clean_data_05558300_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   162K Jun 29 12:57 clean_data_05559700_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    19M Jun 29 12:57 clean_data_05559700_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   416K Jun 29 12:57 clean_data_05560500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05560500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   427K Jun 29 12:57 clean_data_05568500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    18M Jun 29 12:57 clean_data_05568500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   441K Jun 29 12:57 clean_data_05570000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05570000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   436K Jun 29 12:57 clean_data_05570910_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05570910_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   444K Jun 29 12:57 clean_data_05572000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    47M Jun 29 12:57 clean_data_05572000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    14K Jun 29 12:57 clean_data_05575550_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   1.7M Jun 29 12:57 clean_data_05575550_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    11M Jun 29 12:57 clean_data_05576100_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    95K Jun 29 12:57 clean_data_05576195_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    12M Jun 29 12:57 clean_data_05576195_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   129K Jun 29 12:57 clean_data_05578100_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    23M Jun 29 12:57 clean_data_05578100_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   139K Jun 29 12:57 clean_data_05578250_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    22M Jun 29 12:57 clean_data_05578250_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   359K Jun 29 12:57 clean_data_05578300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    43M Jun 29 12:57 clean_data_05578300_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   432K Jun 29 12:57 clean_data_05579500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05579500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   258K Jun 29 12:57 clean_data_05579610_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    82M Jun 29 12:57 clean_data_05579610_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   254K Jun 29 12:57 clean_data_05579620_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    82M Jun 29 12:57 clean_data_05579620_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   284K Jun 29 12:57 clean_data_05579630_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    73M Jun 29 12:57 clean_data_05579630_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   430K Jun 29 12:57 clean_data_05580000_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    46M Jun 29 12:57 clean_data_05580000_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   441K Jun 29 12:57 clean_data_05584500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_05584500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    73K Jun 29 12:57 clean_data_05585830_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   442K Jun 29 12:57 clean_data_05586100_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    14M Jun 29 12:57 clean_data_05586100_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   243K Jun 29 12:57 clean_data_05586300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    35M Jun 29 12:57 clean_data_05586300_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    88K Jun 29 12:57 clean_data_05586647_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    11M Jun 29 12:57 clean_data_05586647_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    89K Jun 29 12:57 clean_data_05586745_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    11M Jun 29 12:57 clean_data_05586745_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   247K Jun 29 12:57 clean_data_412320088154101_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    29M Jun 29 12:57 clean_data_412320088154101_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   310K Jun 29 12:57 clean_data_413339087223001_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    36M Jun 29 12:57 clean_data_413339087223001_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    18K Jun 29 12:57 clean_data_414130087521301_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users   2.1M Jun 29 12:57 clean_data_414130087521301_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users    97M Jun 29 12:57 clean_data_alt_metab_05536356_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   424K Jun 29 12:57 clean_data_alt_metab_05538010_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    37M Jun 29 12:57 clean_data_alt_metab_05538010_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   424K Jun 29 12:57 clean_data_alt_metab_05538020_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    37M Jun 29 12:57 clean_data_alt_metab_05538020_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   436K Jun 29 12:57 clean_data_alt_metab_05543010_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_alt_metab_05543010_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   600K Jun 29 12:57 clean_data_alt_metab_05549500_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    39M Jun 29 12:57 clean_data_alt_metab_05549500_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   436K Jun 29 12:57 clean_data_alt_metab_05553700_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    45M Jun 29 12:57 clean_data_alt_metab_05553700_00065_uv.csv
-rw-------@ 1 msleckman  GS\Domain Users   442K Jun 29 12:57 clean_data_alt_metab_05586300_00065_dv.csv
-rw-------@ 1 msleckman  GS\Domain Users    14M Jun 29 12:57 clean_data_alt_metab_05586300_00065_uv.csv

In [3]:
### function outputs two items list of file names and list of dataframe items
gheight_names, gheight_dfs = functions_notebook.read_in_csv_gp(
    base_folder = '../data/data_gage_height_combined/',
    file_string = '*',
    dtype_dict = {'site_no':str})

clean_data_05570910_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05570910_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05570910,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.438586,m,NaN,NaN,NaN,clean_data_05570910_00065_uv.csv
1,NWIS,05570910,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.438586,m,NaN,NaN,NaN,clean_data_05570910_00065_uv.csv
2,NWIS,05570910,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.441634,m,NaN,NaN,NaN,clean_data_05570910_00065_uv.csv
3,NWIS,05570910,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.438586,m,NaN,NaN,NaN,clean_data_05570910_00065_uv.csv
4,NWIS,05570910,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.438586,m,NaN,NaN,NaN,clean_data_05570910_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05584500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05584500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05584500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05584500_00065_uv.csv
1,NWIS,05584500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05584500_00065_uv.csv
2,NWIS,05584500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05584500_00065_uv.csv
3,NWIS,05584500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05584500_00065_uv.csv
4,NWIS,05584500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05584500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536123_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536123_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536123,2007-08-24,NaN,UTC,65,daily,mean,NaN,0.149345,m,NaN,NaN,NaN,clean_data_05536123_00065_dv.csv
1,NWIS,05536123,2008-09-13,NaN,UTC,65,daily,mean,NaN,0.274307,m,NaN,NaN,NaN,clean_data_05536123_00065_dv.csv
2,NWIS,05536123,2008-09-14,NaN,UTC,65,daily,mean,NaN,0.326120,m,NaN,NaN,NaN,clean_data_05536123_00065_dv.csv
3,NWIS,05536123,2008-09-15,NaN,UTC,65,daily,mean,NaN,0.100579,m,NaN,NaN,NaN,clean_data_05536123_00065_dv.csv
4,NWIS,05536123,2008-12-27,NaN,UTC,65,daily,mean,NaN,0.368790,m,NaN,NaN,NaN,clean_data_05536123_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05541710_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05541710_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05541710,2007-03-20,NaN,UTC,65,daily,mean,NaN,1.274002,m,NaN,NaN,NaN,clean_data_05541710_00065_dv.csv
1,NWIS,05541710,2007-03-21,NaN,UTC,65,daily,mean,NaN,1.350198,m,NaN,NaN,NaN,clean_data_05541710_00065_dv.csv
2,NWIS,05541710,2007-03-22,NaN,UTC,65,daily,mean,NaN,1.642792,m,NaN,NaN,NaN,clean_data_05541710_00065_dv.csv
3,NWIS,05541710,2007-03-23,NaN,UTC,65,daily,mean,NaN,2.039012,m,NaN,NaN,NaN,clean_data_05541710_00065_dv.csv
4,NWIS,05541710,2007-03-24,NaN,UTC,65,daily,mean,NaN,2.017678,m,NaN,NaN,NaN,clean_data_05541710_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586100_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05586100_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586100,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.713197,m,NaN,NaN,NaN,clean_data_05586100_00065_dv.csv
1,NWIS,05586100,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.704054,m,NaN,NaN,NaN,clean_data_05586100_00065_dv.csv
2,NWIS,05586100,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.691862,m,NaN,NaN,NaN,clean_data_05586100_00065_dv.csv
3,NWIS,05586100,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.637001,m,NaN,NaN,NaN,clean_data_05586100_00065_dv.csv
4,NWIS,05586100,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.691862,m,NaN,NaN,NaN,clean_data_05586100_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549501_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05549501_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549501,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.402316,m,NaN,NaN,NaN,clean_data_05549501_00065_uv.csv
1,NWIS,05549501,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,0.408412,m,NaN,NaN,NaN,clean_data_05549501_00065_uv.csv
2,NWIS,05549501,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,0.405364,m,NaN,NaN,NaN,clean_data_05549501_00065_uv.csv
3,NWIS,05549501,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.399269,m,NaN,NaN,NaN,clean_data_05549501_00065_uv.csv
4,NWIS,05549501,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,0.396221,m,NaN,NaN,NaN,clean_data_05549501_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05545750_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05545750_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05545750,2017-10-01,2017-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.743371,m,NaN,NaN,NaN,clean_data_05545750_00065_uv.csv
1,NWIS,05545750,2017-10-01,2017-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.746419,m,NaN,NaN,NaN,clean_data_05545750_00065_uv.csv
2,NWIS,05545750,2017-10-01,2017-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.743371,m,NaN,NaN,NaN,clean_data_05545750_00065_uv.csv
3,NWIS,05545750,2017-10-01,2017-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.749467,m,NaN,NaN,NaN,clean_data_05545750_00065_uv.csv
4,NWIS,05545750,2017-10-01,2017-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.743371,m,NaN,NaN,NaN,clean_data_05545750_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536366_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536366_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536366,2017-04-28,2017-04-28T16:00:00Z,UTC,65,instantaneous,NaN,NaN,7.470283,m,NaN,NaN,NaN,clean_data_05536366_00065_uv.csv
1,NWIS,05536366,2017-04-28,2017-04-28T16:02:00Z,UTC,65,instantaneous,NaN,NaN,7.470283,m,NaN,NaN,NaN,clean_data_05536366_00065_uv.csv
2,NWIS,05536366,2017-04-28,2017-04-28T16:04:00Z,UTC,65,instantaneous,NaN,NaN,7.470283,m,NaN,NaN,NaN,clean_data_05536366_00065_uv.csv
3,NWIS,05536366,2017-04-28,2017-04-28T16:06:00Z,UTC,65,instantaneous,NaN,NaN,7.470283,m,NaN,NaN,NaN,clean_data_05536366_00065_uv.csv
4,NWIS,05536366,2017-04-28,2017-04-28T16:08:00Z,UTC,65,instantaneous,NaN,NaN,7.473331,m,NaN,NaN,NaN,clean_data_05536366_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05554300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05554300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05554300,2011-07-07,NaN,UTC,65,daily,mean,NaN,2.575434,m,NaN,NaN,NaN,clean_data_05554300_00065_dv.csv
1,NWIS,05554300,2011-07-08,NaN,UTC,65,daily,mean,NaN,2.566291,m,NaN,NaN,NaN,clean_data_05554300_00065_dv.csv
2,NWIS,05554300,2011-07-09,NaN,UTC,65,daily,mean,NaN,2.554099,m,NaN,NaN,NaN,clean_data_05554300_00065_dv.csv
3,NWIS,05554300,2011-07-10,NaN,UTC,65,daily,mean,NaN,2.544956,m,NaN,NaN,NaN,clean_data_05554300_00065_dv.csv
4,NWIS,05554300,2011-07-11,NaN,UTC,65,daily,mean,NaN,2.535812,m,NaN,NaN,NaN,clean_data_05554300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_413339087223001_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_413339087223001_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,413339087223001,2010-10-01,NaN,UTC,65,daily,32400,NaN,1.557452,m,NaN,NaN,NaN,clean_data_413339087223001_00065_dv.csv
1,NWIS,413339087223001,2010-10-02,NaN,UTC,65,daily,32400,NaN,1.737275,m,NaN,NaN,NaN,clean_data_413339087223001_00065_dv.csv
2,NWIS,413339087223001,2010-10-03,NaN,UTC,65,daily,32400,NaN,1.703749,m,NaN,NaN,NaN,clean_data_413339087223001_00065_dv.csv
3,NWIS,413339087223001,2010-10-04,NaN,UTC,65,daily,32400,NaN,1.670222,m,NaN,NaN,NaN,clean_data_413339087223001_00065_dv.csv
4,NWIS,413339087223001,2010-10-05,NaN,UTC,65,daily,32400,NaN,1.645840,m,NaN,NaN,NaN,clean_data_413339087223001_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05538020_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05538020_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05538020,2005-10-01,NaN,UTC,65,daily,mean,NaN,164.221274,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_dv.csv
1,NWIS,05538020,2005-10-02,NaN,UTC,65,daily,mean,NaN,164.251753,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_dv.csv
2,NWIS,05538020,2005-10-03,NaN,UTC,65,daily,mean,NaN,164.218226,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_dv.csv
3,NWIS,05538020,2005-10-04,NaN,UTC,65,daily,mean,NaN,164.263944,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_dv.csv
4,NWIS,05538020,2005-10-05,NaN,UTC,65,daily,mean,NaN,164.230418,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536179_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536179_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536179,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,0.713197,m,NaN,NaN,NaN,clean_data_05536179_00065_uv.csv
1,NWIS,05536179,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,0.713197,m,NaN,NaN,NaN,clean_data_05536179_00065_uv.csv
2,NWIS,05536179,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,0.710149,m,NaN,NaN,NaN,clean_data_05536179_00065_uv.csv
3,NWIS,05536179,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,0.710149,m,NaN,NaN,NaN,clean_data_05536179_00065_uv.csv
4,NWIS,05536179,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.710149,m,NaN,NaN,NaN,clean_data_05536179_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536275_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536275_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536275,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.856446,m,NaN,NaN,NaN,clean_data_05536275_00065_uv.csv
1,NWIS,05536275,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.865590,m,NaN,NaN,NaN,clean_data_05536275_00065_uv.csv
2,NWIS,05536275,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05536275_00065_uv.csv
3,NWIS,05536275,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05536275_00065_uv.csv
4,NWIS,05536275,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05536275_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579630_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05579630_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579630,2006-10-01,NaN,UTC,65,daily,mean,NaN,0.889973,m,NaN,NaN,NaN,clean_data_05579630_00065_dv.csv
1,NWIS,05579630,2006-10-02,NaN,UTC,65,daily,mean,NaN,0.886925,m,NaN,NaN,NaN,clean_data_05579630_00065_dv.csv
2,NWIS,05579630,2006-10-03,NaN,UTC,65,daily,mean,NaN,0.886925,m,NaN,NaN,NaN,clean_data_05579630_00065_dv.csv
3,NWIS,05579630,2006-10-04,NaN,UTC,65,daily,mean,NaN,0.883877,m,NaN,NaN,NaN,clean_data_05579630_00065_dv.csv
4,NWIS,05579630,2006-10-05,NaN,UTC,65,daily,mean,NaN,0.874733,m,NaN,NaN,NaN,clean_data_05579630_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05572000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05572000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05572000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.246571,m,NaN,NaN,NaN,clean_data_05572000_00065_uv.csv
1,NWIS,05572000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.243523,m,NaN,NaN,NaN,clean_data_05572000_00065_uv.csv
2,NWIS,05572000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.243523,m,NaN,NaN,NaN,clean_data_05572000_00065_uv.csv
3,NWIS,05572000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.246571,m,NaN,NaN,NaN,clean_data_05572000_00065_uv.csv
4,NWIS,05572000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.246571,m,NaN,NaN,NaN,clean_data_05572000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05559700_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05559700_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05559700,2007-12-03,2007-12-03T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.709845,m,NaN,NaN,NaN,clean_data_05559700_00065_uv.csv
1,NWIS,05559700,2007-12-03,2007-12-03T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.709845,m,NaN,NaN,NaN,clean_data_05559700_00065_uv.csv
2,NWIS,05559700,2007-12-03,2007-12-03T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.709845,m,NaN,NaN,NaN,clean_data_05559700_00065_uv.csv
3,NWIS,05559700,2007-12-03,2007-12-03T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.709845,m,NaN,NaN,NaN,clean_data_05559700_00065_uv.csv
4,NWIS,05559700,2007-12-03,2007-12-03T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.706797,m,NaN,NaN,NaN,clean_data_05559700_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05576195_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05576195_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05576195,2015-06-26,2015-06-26T00:15:00Z,UTC,65,instantaneous,NaN,NaN,170.947882,m,NaN,NaN,NaN,clean_data_05576195_00065_uv.csv
1,NWIS,05576195,2015-06-26,2015-06-26T00:30:00Z,UTC,65,instantaneous,NaN,NaN,170.944834,m,NaN,NaN,NaN,clean_data_05576195_00065_uv.csv
2,NWIS,05576195,2015-06-26,2015-06-26T00:45:00Z,UTC,65,instantaneous,NaN,NaN,170.944834,m,NaN,NaN,NaN,clean_data_05576195_00065_uv.csv
3,NWIS,05576195,2015-06-26,2015-06-26T01:00:00Z,UTC,65,instantaneous,NaN,NaN,170.941786,m,NaN,NaN,NaN,clean_data_05576195_00065_uv.csv
4,NWIS,05576195,2015-06-26,2015-06-26T01:15:00Z,UTC,65,instantaneous,NaN,NaN,170.941786,m,NaN,NaN,NaN,clean_data_05576195_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05538020_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05538020_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05538020,2015-03-03,2015-03-03T14:30:00Z,UTC,65,instantaneous,NaN,NaN,153.706187,m,NaN,NaN,NaN,clean_data_05538020_00065_uv.csv
1,NWIS,05538020,2015-03-03,2015-03-03T14:35:00Z,UTC,65,instantaneous,NaN,NaN,153.706187,m,NaN,NaN,NaN,clean_data_05538020_00065_uv.csv
2,NWIS,05538020,2015-03-03,2015-03-03T14:40:00Z,UTC,65,instantaneous,NaN,NaN,153.706187,m,NaN,NaN,NaN,clean_data_05538020_00065_uv.csv
3,NWIS,05538020,2015-03-03,2015-03-03T14:45:00Z,UTC,65,instantaneous,NaN,NaN,153.706187,m,NaN,NaN,NaN,clean_data_05538020_00065_uv.csv
4,NWIS,05538020,2015-03-03,2015-03-03T14:50:00Z,UTC,65,instantaneous,NaN,NaN,153.706187,m,NaN,NaN,NaN,clean_data_05538020_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586647_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05586647_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586647,2017-10-24,NaN,UTC,65,daily,mean,NaN,2.468760,m,NaN,NaN,NaN,clean_data_05586647_00065_dv.csv
1,NWIS,05586647,2017-10-25,NaN,UTC,65,daily,mean,NaN,2.462664,m,NaN,NaN,NaN,clean_data_05586647_00065_dv.csv
2,NWIS,05586647,2017-10-26,NaN,UTC,65,daily,mean,NaN,2.462664,m,NaN,NaN,NaN,clean_data_05586647_00065_dv.csv
3,NWIS,05586647,2017-10-27,NaN,UTC,65,daily,mean,NaN,2.462664,m,NaN,NaN,NaN,clean_data_05586647_00065_dv.csv
4,NWIS,05586647,2017-10-28,NaN,UTC,65,daily,mean,NaN,2.459616,m,NaN,NaN,NaN,clean_data_05586647_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05557500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05557500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05557500,2012-05-30,2012-05-30T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_uv.csv
1,NWIS,05557500,2012-05-30,2012-05-30T06:15:00Z,UTC,65,instantaneous,NaN,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_uv.csv
2,NWIS,05557500,2012-05-30,2012-05-30T06:30:00Z,UTC,65,instantaneous,NaN,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_uv.csv
3,NWIS,05557500,2012-05-30,2012-05-30T06:45:00Z,UTC,65,instantaneous,NaN,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_uv.csv
4,NWIS,05557500,2012-05-30,2012-05-30T07:00:00Z,UTC,65,instantaneous,NaN,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05578300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578300,2008-08-29,NaN,UTC,65,daily,mean,NaN,210.280402,m,NaN,NaN,NaN,clean_data_05578300_00065_dv.csv
1,NWIS,05578300,2008-08-30,NaN,UTC,65,daily,mean,NaN,210.277354,m,NaN,NaN,NaN,clean_data_05578300_00065_dv.csv
2,NWIS,05578300,2008-08-31,NaN,UTC,65,daily,mean,NaN,210.271259,m,NaN,NaN,NaN,clean_data_05578300_00065_dv.csv
3,NWIS,05578300,2008-09-01,NaN,UTC,65,daily,mean,NaN,210.265163,m,NaN,NaN,NaN,clean_data_05578300_00065_dv.csv
4,NWIS,05578300,2008-09-02,NaN,UTC,65,daily,mean,NaN,210.259067,m,NaN,NaN,NaN,clean_data_05578300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05550500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05550500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05550500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.405364,m,NaN,NaN,NaN,clean_data_05550500_00065_uv.csv
1,NWIS,05550500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.417556,m,NaN,NaN,NaN,clean_data_05550500_00065_uv.csv
2,NWIS,05550500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.414508,m,NaN,NaN,NaN,clean_data_05550500_00065_uv.csv
3,NWIS,05550500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.411460,m,NaN,NaN,NaN,clean_data_05550500_00065_uv.csv
4,NWIS,05550500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.411460,m,NaN,NaN,NaN,clean_data_05550500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536995_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536995_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536995,2009-02-18,2009-02-18T06:00:00Z,UTC,65,instantaneous,NaN,NaN,7.619628,m,NaN,NaN,NaN,clean_data_05536995_00065_uv.csv
1,NWIS,05536995,2009-02-18,2009-02-18T06:05:00Z,UTC,65,instantaneous,NaN,NaN,7.610485,m,NaN,NaN,NaN,clean_data_05536995_00065_uv.csv
2,NWIS,05536995,2009-02-18,2009-02-18T06:10:00Z,UTC,65,instantaneous,NaN,NaN,7.631820,m,NaN,NaN,NaN,clean_data_05536995_00065_uv.csv
3,NWIS,05536995,2009-02-18,2009-02-18T06:15:00Z,UTC,65,instantaneous,NaN,NaN,7.631820,m,NaN,NaN,NaN,clean_data_05536995_00065_uv.csv
4,NWIS,05536995,2009-02-18,2009-02-18T06:20:00Z,UTC,65,instantaneous,NaN,NaN,7.665346,m,NaN,NaN,NaN,clean_data_05536995_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536137_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536137_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536137,2017-10-14,NaN,UTC,65,daily,mean,NaN,0.076196,m,NaN,NaN,NaN,clean_data_05536137_00065_dv.csv
1,NWIS,05536137,2017-10-15,NaN,UTC,65,daily,mean,NaN,0.380981,m,NaN,NaN,NaN,clean_data_05536137_00065_dv.csv
2,NWIS,05536137,2018-02-21,NaN,UTC,65,daily,mean,NaN,0.073148,m,NaN,NaN,NaN,clean_data_05536137_00065_dv.csv
3,NWIS,05536137,2019-05-01,NaN,UTC,65,daily,mean,NaN,0.207254,m,NaN,NaN,NaN,clean_data_05536137_00065_dv.csv
4,NWIS,05536137,2020-05-17,NaN,UTC,65,daily,mean,NaN,0.185919,m,NaN,NaN,NaN,clean_data_05536137_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05517500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05517500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05517500,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.109418,m,NaN,NaN,NaN,clean_data_05517500_00065_uv.csv
1,NWIS,05517500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.109418,m,NaN,NaN,NaN,clean_data_05517500_00065_uv.csv
2,NWIS,05517500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.106370,m,NaN,NaN,NaN,clean_data_05517500_00065_uv.csv
3,NWIS,05517500,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,1.103322,m,NaN,NaN,NaN,clean_data_05517500_00065_uv.csv
4,NWIS,05517500,2007-10-01,2007-10-01T09:00:00Z,UTC,65,instantaneous,NaN,NaN,1.118561,m,NaN,NaN,NaN,clean_data_05517500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536195_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536195_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536195,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.612313,m,NaN,NaN,NaN,clean_data_05536195_00065_uv.csv
1,NWIS,05536195,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,1.612313,m,NaN,NaN,NaN,clean_data_05536195_00065_uv.csv
2,NWIS,05536195,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.612313,m,NaN,NaN,NaN,clean_data_05536195_00065_uv.csv
3,NWIS,05536195,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.615361,m,NaN,NaN,NaN,clean_data_05536195_00065_uv.csv
4,NWIS,05536195,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.615361,m,NaN,NaN,NaN,clean_data_05536195_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05549500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.206949,m,NaN,NaN,NaN,clean_data_05549500_00065_uv.csv
1,NWIS,05549500,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,1.206949,m,NaN,NaN,NaN,clean_data_05549500_00065_uv.csv
2,NWIS,05549500,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,1.206949,m,NaN,NaN,NaN,clean_data_05549500_00065_uv.csv
3,NWIS,05549500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.209997,m,NaN,NaN,NaN,clean_data_05549500_00065_uv.csv
4,NWIS,05549500,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,1.213045,m,NaN,NaN,NaN,clean_data_05549500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_414130087521301_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_414130087521301_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,414130087521301,2013-03-30,NaN,UTC,65,daily,mean,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_dv.csv
1,NWIS,414130087521301,2013-03-31,NaN,UTC,65,daily,mean,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_dv.csv
2,NWIS,414130087521301,2013-04-01,NaN,UTC,65,daily,mean,NaN,180.615666,m,NaN,NaN,NaN,clean_data_414130087521301_00065_dv.csv
3,NWIS,414130087521301,2013-04-02,NaN,UTC,65,daily,mean,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_dv.csv
4,NWIS,414130087521301,2013-04-03,NaN,UTC,65,daily,mean,NaN,180.615666,m,NaN,NaN,NaN,clean_data_414130087521301_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05558300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05558300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05558300,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,4.529107,m,NaN,NaN,NaN,clean_data_05558300_00065_uv.csv
1,NWIS,05558300,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,4.541298,m,NaN,NaN,NaN,clean_data_05558300_00065_uv.csv
2,NWIS,05558300,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,4.541298,m,NaN,NaN,NaN,clean_data_05558300_00065_uv.csv
3,NWIS,05558300,2007-10-01,2007-10-01T09:00:00Z,UTC,65,instantaneous,NaN,NaN,4.541298,m,NaN,NaN,NaN,clean_data_05558300_00065_uv.csv
4,NWIS,05558300,2007-10-01,2007-10-01T10:00:00Z,UTC,65,instantaneous,NaN,NaN,4.541298,m,NaN,NaN,NaN,clean_data_05558300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05540275_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05540275_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05540275,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.774154,m,NaN,NaN,NaN,clean_data_05540275_00065_dv.csv
1,NWIS,05540275,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.755867,m,NaN,NaN,NaN,clean_data_05540275_00065_dv.csv
2,NWIS,05540275,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.755867,m,NaN,NaN,NaN,clean_data_05540275_00065_dv.csv
3,NWIS,05540275,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.746724,m,NaN,NaN,NaN,clean_data_05540275_00065_dv.csv
4,NWIS,05540275,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.737580,m,NaN,NaN,NaN,clean_data_05540275_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551700_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05551700_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551700,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.008839,m,NaN,NaN,NaN,clean_data_05551700_00065_uv.csv
1,NWIS,05551700,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.008839,m,NaN,NaN,NaN,clean_data_05551700_00065_uv.csv
2,NWIS,05551700,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.011887,m,NaN,NaN,NaN,clean_data_05551700_00065_uv.csv
3,NWIS,05551700,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.011887,m,NaN,NaN,NaN,clean_data_05551700_00065_uv.csv
4,NWIS,05551700,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.011887,m,NaN,NaN,NaN,clean_data_05551700_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527900_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05527900_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527900,2007-10-18,NaN,UTC,65,daily,mean,NaN,2.639439,m,NaN,NaN,NaN,clean_data_05527900_00065_dv.csv
1,NWIS,05527900,2007-10-19,NaN,UTC,65,daily,mean,NaN,2.624200,m,NaN,NaN,NaN,clean_data_05527900_00065_dv.csv
2,NWIS,05527900,2007-10-20,NaN,UTC,65,daily,mean,NaN,2.587626,m,NaN,NaN,NaN,clean_data_05527900_00065_dv.csv
3,NWIS,05527900,2007-10-21,NaN,UTC,65,daily,mean,NaN,2.578482,m,NaN,NaN,NaN,clean_data_05527900_00065_dv.csv
4,NWIS,05527900,2007-10-22,NaN,UTC,65,daily,mean,NaN,2.575434,m,NaN,NaN,NaN,clean_data_05527900_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05549500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05549500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549500,2005-10-01,NaN,UTC,65,daily,mean,NaN,2.032917,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_dv.csv
1,NWIS,05549500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.996343,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_dv.csv
2,NWIS,05549500,2005-10-03,NaN,UTC,65,daily,mean,NaN,2.020725,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_dv.csv
3,NWIS,05549500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.975008,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_dv.csv
4,NWIS,05549500,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.941481,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05516665_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05516665_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05516665,2012-05-10,2012-05-10T16:30:00Z,UTC,65,instantaneous,NaN,NaN,1.514782,m,NaN,NaN,NaN,clean_data_05516665_00065_uv.csv
1,NWIS,05516665,2012-05-10,2012-05-10T16:45:00Z,UTC,65,instantaneous,NaN,NaN,1.514782,m,NaN,NaN,NaN,clean_data_05516665_00065_uv.csv
2,NWIS,05516665,2012-05-10,2012-05-10T17:00:00Z,UTC,65,instantaneous,NaN,NaN,1.511734,m,NaN,NaN,NaN,clean_data_05516665_00065_uv.csv
3,NWIS,05516665,2012-05-10,2012-05-10T17:15:00Z,UTC,65,instantaneous,NaN,NaN,1.511734,m,NaN,NaN,NaN,clean_data_05516665_00065_uv.csv
4,NWIS,05516665,2012-05-10,2012-05-10T17:30:00Z,UTC,65,instantaneous,NaN,NaN,1.505639,m,NaN,NaN,NaN,clean_data_05516665_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05525500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05525500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05525500_00065_uv.csv
1,NWIS,05525500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05525500_00065_uv.csv
2,NWIS,05525500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05525500_00065_uv.csv
3,NWIS,05525500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.859494,m,NaN,NaN,NaN,clean_data_05525500_00065_uv.csv
4,NWIS,05525500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.862542,m,NaN,NaN,NaN,clean_data_05525500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05575550_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05575550_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05575550,2014-06-19,NaN,UTC,65,daily,mean,NaN,4.178604,m,NaN,NaN,NaN,clean_data_05575550_00065_dv.csv
1,NWIS,05575550,2014-06-20,NaN,UTC,65,daily,mean,NaN,4.175556,m,NaN,NaN,NaN,clean_data_05575550_00065_dv.csv
2,NWIS,05575550,2014-06-21,NaN,UTC,65,daily,mean,NaN,4.160317,m,NaN,NaN,NaN,clean_data_05575550_00065_dv.csv
3,NWIS,05575550,2014-06-22,NaN,UTC,65,daily,mean,NaN,4.145078,m,NaN,NaN,NaN,clean_data_05575550_00065_dv.csv
4,NWIS,05575550,2014-06-23,NaN,UTC,65,daily,mean,NaN,4.163365,m,NaN,NaN,NaN,clean_data_05575550_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05538010_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05538010_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05538010,2005-10-01,NaN,UTC,65,daily,mean,NaN,164.221274,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_dv.csv
1,NWIS,05538010,2005-10-02,NaN,UTC,65,daily,mean,NaN,164.251753,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_dv.csv
2,NWIS,05538010,2005-10-03,NaN,UTC,65,daily,mean,NaN,164.218226,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_dv.csv
3,NWIS,05538010,2005-10-04,NaN,UTC,65,daily,mean,NaN,164.263944,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_dv.csv
4,NWIS,05538010,2005-10-05,NaN,UTC,65,daily,mean,NaN,164.230418,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527905_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05527905_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527905,2007-10-20,2007-10-20T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.480646,m,NaN,NaN,NaN,clean_data_05527905_00065_uv.csv
1,NWIS,05527905,2007-10-20,2007-10-20T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.477598,m,NaN,NaN,NaN,clean_data_05527905_00065_uv.csv
2,NWIS,05527905,2007-10-20,2007-10-20T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.480646,m,NaN,NaN,NaN,clean_data_05527905_00065_uv.csv
3,NWIS,05527905,2007-10-20,2007-10-20T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.480646,m,NaN,NaN,NaN,clean_data_05527905_00065_uv.csv
4,NWIS,05527905,2007-10-20,2007-10-20T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.483694,m,NaN,NaN,NaN,clean_data_05527905_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05517000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05517000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05517000,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.569643,m,NaN,NaN,NaN,clean_data_05517000_00065_uv.csv
1,NWIS,05517000,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,1.569643,m,NaN,NaN,NaN,clean_data_05517000_00065_uv.csv
2,NWIS,05517000,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.569643,m,NaN,NaN,NaN,clean_data_05517000_00065_uv.csv
3,NWIS,05517000,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.569643,m,NaN,NaN,NaN,clean_data_05517000_00065_uv.csv
4,NWIS,05517000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.569643,m,NaN,NaN,NaN,clean_data_05517000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05568500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05568500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05568500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.871685,m,NaN,NaN,NaN,clean_data_05568500_00065_dv.csv
1,NWIS,05568500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.889973,m,NaN,NaN,NaN,clean_data_05568500_00065_dv.csv
2,NWIS,05568500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.856446,m,NaN,NaN,NaN,clean_data_05568500_00065_dv.csv
3,NWIS,05568500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.883877,m,NaN,NaN,NaN,clean_data_05568500_00065_dv.csv
4,NWIS,05568500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.889973,m,NaN,NaN,NaN,clean_data_05568500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05570000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05570000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05570000,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.322767,m,NaN,NaN,NaN,clean_data_05570000_00065_dv.csv
1,NWIS,05570000,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.313624,m,NaN,NaN,NaN,clean_data_05570000_00065_dv.csv
2,NWIS,05570000,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.319720,m,NaN,NaN,NaN,clean_data_05570000_00065_dv.csv
3,NWIS,05570000,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.322767,m,NaN,NaN,NaN,clean_data_05570000_00065_dv.csv
4,NWIS,05570000,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.313624,m,NaN,NaN,NaN,clean_data_05570000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05549000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549000,2012-11-19,2012-11-19T21:15:00Z,UTC,65,instantaneous,NaN,NaN,0.188967,m,NaN,NaN,NaN,clean_data_05549000_00065_uv.csv
1,NWIS,05549000,2012-11-19,2012-11-19T21:30:00Z,UTC,65,instantaneous,NaN,NaN,0.188967,m,NaN,NaN,NaN,clean_data_05549000_00065_uv.csv
2,NWIS,05549000,2012-11-19,2012-11-19T21:45:00Z,UTC,65,instantaneous,NaN,NaN,0.188967,m,NaN,NaN,NaN,clean_data_05549000_00065_uv.csv
3,NWIS,05549000,2012-11-19,2012-11-19T22:00:00Z,UTC,65,instantaneous,NaN,NaN,0.192015,m,NaN,NaN,NaN,clean_data_05549000_00065_uv.csv
4,NWIS,05549000,2012-11-19,2012-11-19T22:15:00Z,UTC,65,instantaneous,NaN,NaN,0.192015,m,NaN,NaN,NaN,clean_data_05549000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05543010_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05543010_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2013-07-18,2013-07-18T06:00:00Z,UTC,65,instantaneous,NaN,NaN,6.321244,m,NaN,NaN,NaN,clean_data_05543010_00065_uv.csv
1,NWIS,05543010,2013-07-18,2013-07-18T06:15:00Z,UTC,65,instantaneous,NaN,NaN,6.321244,m,NaN,NaN,NaN,clean_data_05543010_00065_uv.csv
2,NWIS,05543010,2013-07-18,2013-07-18T06:30:00Z,UTC,65,instantaneous,NaN,NaN,6.315148,m,NaN,NaN,NaN,clean_data_05543010_00065_uv.csv
3,NWIS,05543010,2013-07-18,2013-07-18T06:45:00Z,UTC,65,instantaneous,NaN,NaN,6.318196,m,NaN,NaN,NaN,clean_data_05543010_00065_uv.csv
4,NWIS,05543010,2013-07-18,2013-07-18T07:00:00Z,UTC,65,instantaneous,NaN,NaN,6.312100,m,NaN,NaN,NaN,clean_data_05543010_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527910_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05527910_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527910,2007-10-19,2007-10-19T06:00:00Z,UTC,65,instantaneous,NaN,NaN,5.193539,m,NaN,NaN,NaN,clean_data_05527910_00065_uv.csv
1,NWIS,05527910,2007-10-19,2007-10-19T06:15:00Z,UTC,65,instantaneous,NaN,NaN,5.205730,m,NaN,NaN,NaN,clean_data_05527910_00065_uv.csv
2,NWIS,05527910,2007-10-19,2007-10-19T06:30:00Z,UTC,65,instantaneous,NaN,NaN,5.193539,m,NaN,NaN,NaN,clean_data_05527910_00065_uv.csv
3,NWIS,05527910,2007-10-19,2007-10-19T06:45:00Z,UTC,65,instantaneous,NaN,NaN,5.205730,m,NaN,NaN,NaN,clean_data_05527910_00065_uv.csv
4,NWIS,05527910,2007-10-19,2007-10-19T07:00:00Z,UTC,65,instantaneous,NaN,NaN,5.202682,m,NaN,NaN,NaN,clean_data_05527910_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05537980_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05537980_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05537980,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,164.169461,m,NaN,NaN,NaN,clean_data_05537980_00065_uv.csv
1,NWIS,05537980,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,164.175556,m,NaN,NaN,NaN,clean_data_05537980_00065_uv.csv
2,NWIS,05537980,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,164.196891,m,NaN,NaN,NaN,clean_data_05537980_00065_uv.csv
3,NWIS,05537980,2007-10-01,2007-10-01T07:30:00Z,UTC,65,instantaneous,NaN,NaN,164.288327,m,NaN,NaN,NaN,clean_data_05537980_00065_uv.csv
4,NWIS,05537980,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,164.190795,m,NaN,NaN,NaN,clean_data_05537980_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551540_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05551540_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551540,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.505029,m,NaN,NaN,NaN,clean_data_05551540_00065_uv.csv
1,NWIS,05551540,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.501981,m,NaN,NaN,NaN,clean_data_05551540_00065_uv.csv
2,NWIS,05551540,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.501981,m,NaN,NaN,NaN,clean_data_05551540_00065_uv.csv
3,NWIS,05551540,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.498933,m,NaN,NaN,NaN,clean_data_05551540_00065_uv.csv
4,NWIS,05551540,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.495885,m,NaN,NaN,NaN,clean_data_05551540_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05532500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05532500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05532500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.999695,m,NaN,NaN,NaN,clean_data_05532500_00065_uv.csv
1,NWIS,05532500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.999695,m,NaN,NaN,NaN,clean_data_05532500_00065_uv.csv
2,NWIS,05532500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.005791,m,NaN,NaN,NaN,clean_data_05532500_00065_uv.csv
3,NWIS,05532500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.011887,m,NaN,NaN,NaN,clean_data_05532500_00065_uv.csv
4,NWIS,05532500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.014934,m,NaN,NaN,NaN,clean_data_05532500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05542000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05542000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05542000,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.310881,m,NaN,NaN,NaN,clean_data_05542000_00065_dv.csv
1,NWIS,05542000,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.301737,m,NaN,NaN,NaN,clean_data_05542000_00065_dv.csv
2,NWIS,05542000,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.283450,m,NaN,NaN,NaN,clean_data_05542000_00065_dv.csv
3,NWIS,05542000,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.277354,m,NaN,NaN,NaN,clean_data_05542000_00065_dv.csv
4,NWIS,05542000,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.268211,m,NaN,NaN,NaN,clean_data_05542000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05543500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05543500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543500,2005-10-01,NaN,UTC,65,daily,mean,NaN,3.398354,m,NaN,NaN,NaN,clean_data_05543500_00065_dv.csv
1,NWIS,05543500,2005-10-02,NaN,UTC,65,daily,mean,NaN,3.453215,m,NaN,NaN,NaN,clean_data_05543500_00065_dv.csv
2,NWIS,05543500,2005-10-03,NaN,UTC,65,daily,mean,NaN,3.498933,m,NaN,NaN,NaN,clean_data_05543500_00065_dv.csv
3,NWIS,05543500,2005-10-04,NaN,UTC,65,daily,mean,NaN,3.514173,m,NaN,NaN,NaN,clean_data_05543500_00065_dv.csv
4,NWIS,05543500,2005-10-05,NaN,UTC,65,daily,mean,NaN,3.425785,m,NaN,NaN,NaN,clean_data_05543500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_412320088154101_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_412320088154101_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,412320088154101,2013-02-13,2013-02-13T06:00:00Z,UTC,65,instantaneous,NaN,NaN,153.904297,m,NaN,NaN,NaN,clean_data_412320088154101_00065_uv.csv
1,NWIS,412320088154101,2013-02-13,2013-02-13T06:15:00Z,UTC,65,instantaneous,NaN,NaN,153.907345,m,NaN,NaN,NaN,clean_data_412320088154101_00065_uv.csv
2,NWIS,412320088154101,2013-02-13,2013-02-13T06:30:00Z,UTC,65,instantaneous,NaN,NaN,153.904297,m,NaN,NaN,NaN,clean_data_412320088154101_00065_uv.csv
3,NWIS,412320088154101,2013-02-13,2013-02-13T06:45:00Z,UTC,65,instantaneous,NaN,NaN,153.907345,m,NaN,NaN,NaN,clean_data_412320088154101_00065_uv.csv
4,NWIS,412320088154101,2013-02-13,2013-02-13T07:00:00Z,UTC,65,instantaneous,NaN,NaN,153.907345,m,NaN,NaN,NaN,clean_data_412320088154101_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586745_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05586745_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586745,2017-10-24,2017-10-24T03:00:00Z,UTC,65,instantaneous,NaN,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_uv.csv
1,NWIS,05586745,2017-10-24,2017-10-24T03:15:00Z,UTC,65,instantaneous,NaN,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_uv.csv
2,NWIS,05586745,2017-10-24,2017-10-24T03:30:00Z,UTC,65,instantaneous,NaN,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_uv.csv
3,NWIS,05586745,2017-10-24,2017-10-24T03:45:00Z,UTC,65,instantaneous,NaN,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_uv.csv
4,NWIS,05586745,2017-10-24,2017-10-24T04:00:00Z,UTC,65,instantaneous,NaN,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578100_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05578100_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578100,2016-05-05,NaN,UTC,65,daily,mean,NaN,210.554709,m,NaN,NaN,NaN,clean_data_05578100_00065_dv.csv
1,NWIS,05578100,2016-05-06,NaN,UTC,65,daily,mean,NaN,210.551661,m,NaN,NaN,NaN,clean_data_05578100_00065_dv.csv
2,NWIS,05578100,2016-05-07,NaN,UTC,65,daily,mean,NaN,210.542518,m,NaN,NaN,NaN,clean_data_05578100_00065_dv.csv
3,NWIS,05578100,2016-05-08,NaN,UTC,65,daily,mean,NaN,210.527278,m,NaN,NaN,NaN,clean_data_05578100_00065_dv.csv
4,NWIS,05578100,2016-05-09,NaN,UTC,65,daily,mean,NaN,210.579092,m,NaN,NaN,NaN,clean_data_05578100_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536160_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536160_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536160,2008-11-06,2008-11-06T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.871381,m,NaN,NaN,NaN,clean_data_05536160_00065_uv.csv
1,NWIS,05536160,2008-11-06,2008-11-06T05:15:00Z,UTC,65,instantaneous,NaN,NaN,1.871381,m,NaN,NaN,NaN,clean_data_05536160_00065_uv.csv
2,NWIS,05536160,2008-11-06,2008-11-06T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.871381,m,NaN,NaN,NaN,clean_data_05536160_00065_uv.csv
3,NWIS,05536160,2008-11-06,2008-11-06T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.871381,m,NaN,NaN,NaN,clean_data_05536160_00065_uv.csv
4,NWIS,05536160,2008-11-06,2008-11-06T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.871381,m,NaN,NaN,NaN,clean_data_05536160_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05518000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05518000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05518000,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.557452,m,NaN,NaN,NaN,clean_data_05518000_00065_uv.csv
1,NWIS,05518000,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.560500,m,NaN,NaN,NaN,clean_data_05518000_00065_uv.csv
2,NWIS,05518000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.563548,m,NaN,NaN,NaN,clean_data_05518000_00065_uv.csv
3,NWIS,05518000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.566596,m,NaN,NaN,NaN,clean_data_05518000_00065_uv.csv
4,NWIS,05518000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.563548,m,NaN,NaN,NaN,clean_data_05518000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05520500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05520500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05520500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.417556,m,NaN,NaN,NaN,clean_data_05520500_00065_dv.csv
1,NWIS,05520500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.423651,m,NaN,NaN,NaN,clean_data_05520500_00065_dv.csv
2,NWIS,05520500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.435843,m,NaN,NaN,NaN,clean_data_05520500_00065_dv.csv
3,NWIS,05520500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.441938,m,NaN,NaN,NaN,clean_data_05520500_00065_dv.csv
4,NWIS,05520500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.444986,m,NaN,NaN,NaN,clean_data_05520500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05524500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05524500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05524500,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.356294,m,NaN,NaN,NaN,clean_data_05524500_00065_uv.csv
1,NWIS,05524500,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,1.356294,m,NaN,NaN,NaN,clean_data_05524500_00065_uv.csv
2,NWIS,05524500,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.356294,m,NaN,NaN,NaN,clean_data_05524500_00065_uv.csv
3,NWIS,05524500,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.356294,m,NaN,NaN,NaN,clean_data_05524500_00065_uv.csv
4,NWIS,05524500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.356294,m,NaN,NaN,NaN,clean_data_05524500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05525000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05525000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.261810,m,NaN,NaN,NaN,clean_data_05525000_00065_uv.csv
1,NWIS,05525000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.264858,m,NaN,NaN,NaN,clean_data_05525000_00065_uv.csv
2,NWIS,05525000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.267906,m,NaN,NaN,NaN,clean_data_05525000_00065_uv.csv
3,NWIS,05525000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.267906,m,NaN,NaN,NaN,clean_data_05525000_00065_uv.csv
4,NWIS,05525000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.267906,m,NaN,NaN,NaN,clean_data_05525000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579610_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05579610_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579610,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.413898,m,NaN,NaN,NaN,clean_data_05579610_00065_uv.csv
1,NWIS,05579610,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,2.413898,m,NaN,NaN,NaN,clean_data_05579610_00065_uv.csv
2,NWIS,05579610,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,2.413898,m,NaN,NaN,NaN,clean_data_05579610_00065_uv.csv
3,NWIS,05579610,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,2.413898,m,NaN,NaN,NaN,clean_data_05579610_00065_uv.csv
4,NWIS,05579610,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,2.413898,m,NaN,NaN,NaN,clean_data_05579610_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05543010_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05543010_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2005-10-01,NaN,UTC,65,daily,mean,NaN,3.398354,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_dv.csv
1,NWIS,05543010,2005-10-02,NaN,UTC,65,daily,mean,NaN,3.453215,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_dv.csv
2,NWIS,05543010,2005-10-03,NaN,UTC,65,daily,mean,NaN,3.498933,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_dv.csv
3,NWIS,05543010,2005-10-04,NaN,UTC,65,daily,mean,NaN,3.514173,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_dv.csv
4,NWIS,05543010,2005-10-05,NaN,UTC,65,daily,mean,NaN,3.425785,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05548105_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05548105_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05548105,2009-10-01,NaN,UTC,65,daily,mean,NaN,1.523926,m,NaN,NaN,NaN,clean_data_05548105_00065_dv.csv
1,NWIS,05548105,2009-10-02,NaN,UTC,65,daily,mean,NaN,1.612313,m,NaN,NaN,NaN,clean_data_05548105_00065_dv.csv
2,NWIS,05548105,2009-10-03,NaN,UTC,65,daily,mean,NaN,1.600122,m,NaN,NaN,NaN,clean_data_05548105_00065_dv.csv
3,NWIS,05548105,2009-10-04,NaN,UTC,65,daily,mean,NaN,1.581835,m,NaN,NaN,NaN,clean_data_05548105_00065_dv.csv
4,NWIS,05548105,2009-10-05,NaN,UTC,65,daily,mean,NaN,1.563548,m,NaN,NaN,NaN,clean_data_05548105_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536118_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536118_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536118,2007-08-24,NaN,UTC,65,daily,mean,NaN,0.176775,m,NaN,NaN,NaN,clean_data_05536118_00065_dv.csv
1,NWIS,05536118,2008-09-13,NaN,UTC,65,daily,mean,NaN,0.338311,m,NaN,NaN,NaN,clean_data_05536118_00065_dv.csv
2,NWIS,05536118,2008-09-14,NaN,UTC,65,daily,mean,NaN,0.396221,m,NaN,NaN,NaN,clean_data_05536118_00065_dv.csv
3,NWIS,05536118,2008-09-15,NaN,UTC,65,daily,mean,NaN,0.128010,m,NaN,NaN,NaN,clean_data_05536118_00065_dv.csv
4,NWIS,05536118,2008-12-27,NaN,UTC,65,daily,mean,NaN,0.393173,m,NaN,NaN,NaN,clean_data_05536118_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05560500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05560500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05560500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.569948,m,NaN,NaN,NaN,clean_data_05560500_00065_dv.csv
1,NWIS,05560500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.652240,m,NaN,NaN,NaN,clean_data_05560500_00065_dv.csv
2,NWIS,05560500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.640049,m,NaN,NaN,NaN,clean_data_05560500_00065_dv.csv
3,NWIS,05560500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.585187,m,NaN,NaN,NaN,clean_data_05560500_00065_dv.csv
4,NWIS,05560500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.576044,m,NaN,NaN,NaN,clean_data_05560500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05586300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05586300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586300,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.804633,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_uv.csv
1,NWIS,05586300,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.798537,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_uv.csv
2,NWIS,05586300,2007-10-01,2007-10-01T07:30:00Z,UTC,65,instantaneous,NaN,NaN,0.786346,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_uv.csv
3,NWIS,05586300,2007-10-01,2007-10-01T08:30:00Z,UTC,65,instantaneous,NaN,NaN,0.780250,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_uv.csv
4,NWIS,05586300,2007-10-01,2007-10-01T09:30:00Z,UTC,65,instantaneous,NaN,NaN,0.774154,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05580000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05580000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05580000,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.734532,m,NaN,NaN,NaN,clean_data_05580000_00065_dv.csv
1,NWIS,05580000,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.716245,m,NaN,NaN,NaN,clean_data_05580000_00065_dv.csv
2,NWIS,05580000,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.713197,m,NaN,NaN,NaN,clean_data_05580000_00065_dv.csv
3,NWIS,05580000,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.710149,m,NaN,NaN,NaN,clean_data_05580000_00065_dv.csv
4,NWIS,05580000,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.704054,m,NaN,NaN,NaN,clean_data_05580000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05527500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.387077,m,NaN,NaN,NaN,clean_data_05527500_00065_dv.csv
1,NWIS,05527500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.399269,m,NaN,NaN,NaN,clean_data_05527500_00065_dv.csv
2,NWIS,05527500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.432795,m,NaN,NaN,NaN,clean_data_05527500_00065_dv.csv
3,NWIS,05527500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.414508,m,NaN,NaN,NaN,clean_data_05527500_00065_dv.csv
4,NWIS,05527500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.402316,m,NaN,NaN,NaN,clean_data_05527500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05526000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05526000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05526000,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.203901,m,NaN,NaN,NaN,clean_data_05526000_00065_dv.csv
1,NWIS,05526000,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.197806,m,NaN,NaN,NaN,clean_data_05526000_00065_dv.csv
2,NWIS,05526000,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.176471,m,NaN,NaN,NaN,clean_data_05526000_00065_dv.csv
3,NWIS,05526000,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.161231,m,NaN,NaN,NaN,clean_data_05526000_00065_dv.csv
4,NWIS,05526000,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.130753,m,NaN,NaN,NaN,clean_data_05526000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05550001_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05550001_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05550001,2009-10-01,2009-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.499543,m,NaN,NaN,NaN,clean_data_05550001_00065_uv.csv
1,NWIS,05550001,2009-10-01,2009-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.502591,m,NaN,NaN,NaN,clean_data_05550001_00065_uv.csv
2,NWIS,05550001,2009-10-01,2009-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.502591,m,NaN,NaN,NaN,clean_data_05550001_00065_uv.csv
3,NWIS,05550001,2009-10-01,2009-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.496495,m,NaN,NaN,NaN,clean_data_05550001_00065_uv.csv
4,NWIS,05550001,2009-10-01,2009-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.499543,m,NaN,NaN,NaN,clean_data_05550001_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578250_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05578250_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578250,2015-10-23,2015-10-23T21:00:00Z,UTC,65,instantaneous,NaN,NaN,210.426699,m,NaN,NaN,NaN,clean_data_05578250_00065_uv.csv
1,NWIS,05578250,2015-10-23,2015-10-23T21:15:00Z,UTC,65,instantaneous,NaN,NaN,210.426699,m,NaN,NaN,NaN,clean_data_05578250_00065_uv.csv
2,NWIS,05578250,2015-10-23,2015-10-23T21:30:00Z,UTC,65,instantaneous,NaN,NaN,210.429747,m,NaN,NaN,NaN,clean_data_05578250_00065_uv.csv
3,NWIS,05578250,2015-10-23,2015-10-23T21:45:00Z,UTC,65,instantaneous,NaN,NaN,210.426699,m,NaN,NaN,NaN,clean_data_05578250_00065_uv.csv
4,NWIS,05578250,2015-10-23,2015-10-23T22:00:00Z,UTC,65,instantaneous,NaN,NaN,210.426699,m,NaN,NaN,NaN,clean_data_05578250_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05579500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579500,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.063700,m,NaN,NaN,NaN,clean_data_05579500_00065_dv.csv
1,NWIS,05579500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.066748,m,NaN,NaN,NaN,clean_data_05579500_00065_dv.csv
2,NWIS,05579500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.066748,m,NaN,NaN,NaN,clean_data_05579500_00065_dv.csv
3,NWIS,05579500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.066748,m,NaN,NaN,NaN,clean_data_05579500_00065_dv.csv
4,NWIS,05579500,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.057604,m,NaN,NaN,NaN,clean_data_05579500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05540500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05540500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05540500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.664432,m,NaN,NaN,NaN,clean_data_05540500_00065_uv.csv
1,NWIS,05540500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.667479,m,NaN,NaN,NaN,clean_data_05540500_00065_uv.csv
2,NWIS,05540500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.667479,m,NaN,NaN,NaN,clean_data_05540500_00065_uv.csv
3,NWIS,05540500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.667479,m,NaN,NaN,NaN,clean_data_05540500_00065_uv.csv
4,NWIS,05540500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.670527,m,NaN,NaN,NaN,clean_data_05540500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05555300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05555300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05555300,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.847303,m,NaN,NaN,NaN,clean_data_05555300_00065_dv.csv
1,NWIS,05555300,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.838159,m,NaN,NaN,NaN,clean_data_05555300_00065_dv.csv
2,NWIS,05555300,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.838159,m,NaN,NaN,NaN,clean_data_05555300_00065_dv.csv
3,NWIS,05555300,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.838159,m,NaN,NaN,NaN,clean_data_05555300_00065_dv.csv
4,NWIS,05555300,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.838159,m,NaN,NaN,NaN,clean_data_05555300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536890_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536890_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536890,2005-10-01,NaN,UTC,65,daily,mean,NaN,7.686681,m,NaN,NaN,NaN,clean_data_05536890_00065_dv.csv
1,NWIS,05536890,2005-10-02,NaN,UTC,65,daily,mean,NaN,7.628772,m,NaN,NaN,NaN,clean_data_05536890_00065_dv.csv
2,NWIS,05536890,2005-10-03,NaN,UTC,65,daily,mean,NaN,7.650107,m,NaN,NaN,NaN,clean_data_05536890_00065_dv.csv
3,NWIS,05536890,2005-10-04,NaN,UTC,65,daily,mean,NaN,7.714112,m,NaN,NaN,NaN,clean_data_05536890_00065_dv.csv
4,NWIS,05536890,2005-10-05,NaN,UTC,65,daily,mean,NaN,7.653155,m,NaN,NaN,NaN,clean_data_05536890_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05548280_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05548280_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05548280,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.984456,m,NaN,NaN,NaN,clean_data_05548280_00065_dv.csv
1,NWIS,05548280,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.966169,m,NaN,NaN,NaN,clean_data_05548280_00065_dv.csv
2,NWIS,05548280,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.999695,m,NaN,NaN,NaN,clean_data_05548280_00065_dv.csv
3,NWIS,05548280,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.002743,m,NaN,NaN,NaN,clean_data_05548280_00065_dv.csv
4,NWIS,05548280,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.005791,m,NaN,NaN,NaN,clean_data_05548280_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579620_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05579620_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579620,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.828101,m,NaN,NaN,NaN,clean_data_05579620_00065_uv.csv
1,NWIS,05579620,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,3.828101,m,NaN,NaN,NaN,clean_data_05579620_00065_uv.csv
2,NWIS,05579620,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,3.828101,m,NaN,NaN,NaN,clean_data_05579620_00065_uv.csv
3,NWIS,05579620,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.828101,m,NaN,NaN,NaN,clean_data_05579620_00065_uv.csv
4,NWIS,05579620,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,3.828101,m,NaN,NaN,NaN,clean_data_05579620_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05586300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586300,2012-05-26,NaN,UTC,65,daily,mean,NaN,5.032002,m,NaN,NaN,NaN,clean_data_05586300_00065_dv.csv
1,NWIS,05586300,2012-05-27,NaN,UTC,65,daily,mean,NaN,5.053337,m,NaN,NaN,NaN,clean_data_05586300_00065_dv.csv
2,NWIS,05586300,2012-05-28,NaN,UTC,65,daily,mean,NaN,5.025907,m,NaN,NaN,NaN,clean_data_05586300_00065_dv.csv
3,NWIS,05586300,2012-05-29,NaN,UTC,65,daily,mean,NaN,4.888753,m,NaN,NaN,NaN,clean_data_05586300_00065_dv.csv
4,NWIS,05586300,2012-05-30,NaN,UTC,65,daily,mean,NaN,4.772935,m,NaN,NaN,NaN,clean_data_05586300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05531500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05531500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05531500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.822920,m,NaN,NaN,NaN,clean_data_05531500_00065_dv.csv
1,NWIS,05531500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.993600,m,NaN,NaN,NaN,clean_data_05531500_00065_dv.csv
2,NWIS,05531500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.118561,m,NaN,NaN,NaN,clean_data_05531500_00065_dv.csv
3,NWIS,05531500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.008839,m,NaN,NaN,NaN,clean_data_05531500_00065_dv.csv
4,NWIS,05531500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.902164,m,NaN,NaN,NaN,clean_data_05531500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551580_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05551580_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551580,2012-07-21,NaN,UTC,65,daily,mean,NaN,3.770192,m,NaN,NaN,NaN,clean_data_05551580_00065_dv.csv
1,NWIS,05551580,2012-07-22,NaN,UTC,65,daily,mean,NaN,3.751905,m,NaN,NaN,NaN,clean_data_05551580_00065_dv.csv
2,NWIS,05551580,2012-07-23,NaN,UTC,65,daily,mean,NaN,3.745809,m,NaN,NaN,NaN,clean_data_05551580_00065_dv.csv
3,NWIS,05551580,2012-07-24,NaN,UTC,65,daily,mean,NaN,3.761048,m,NaN,NaN,NaN,clean_data_05551580_00065_dv.csv
4,NWIS,05551580,2012-07-25,NaN,UTC,65,daily,mean,NaN,3.776288,m,NaN,NaN,NaN,clean_data_05551580_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05556500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05556500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05556500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.518135,m,NaN,NaN,NaN,clean_data_05556500_00065_uv.csv
1,NWIS,05556500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.518135,m,NaN,NaN,NaN,clean_data_05556500_00065_uv.csv
2,NWIS,05556500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.521183,m,NaN,NaN,NaN,clean_data_05556500_00065_uv.csv
3,NWIS,05556500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.521183,m,NaN,NaN,NaN,clean_data_05556500_00065_uv.csv
4,NWIS,05556500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.524230,m,NaN,NaN,NaN,clean_data_05556500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05552500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05552500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05552500,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.676318,m,NaN,NaN,NaN,clean_data_05552500_00065_dv.csv
1,NWIS,05552500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.658031,m,NaN,NaN,NaN,clean_data_05552500_00065_dv.csv
2,NWIS,05552500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.636696,m,NaN,NaN,NaN,clean_data_05552500_00065_dv.csv
3,NWIS,05552500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.618409,m,NaN,NaN,NaN,clean_data_05552500_00065_dv.csv
4,NWIS,05552500,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.578787,m,NaN,NaN,NaN,clean_data_05552500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05553700_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05553700_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05553700,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_uv.csv
1,NWIS,05553700,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_uv.csv
2,NWIS,05553700,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_uv.csv
3,NWIS,05553700,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_uv.csv
4,NWIS,05553700,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05572000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05572000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05572000,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.334959,m,NaN,NaN,NaN,clean_data_05572000_00065_dv.csv
1,NWIS,05572000,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.347150,m,NaN,NaN,NaN,clean_data_05572000_00065_dv.csv
2,NWIS,05572000,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.344102,m,NaN,NaN,NaN,clean_data_05572000_00065_dv.csv
3,NWIS,05572000,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.328863,m,NaN,NaN,NaN,clean_data_05572000_00065_dv.csv
4,NWIS,05572000,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.301432,m,NaN,NaN,NaN,clean_data_05572000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579630_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05579630_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579630,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05579630_00065_uv.csv
1,NWIS,05579630,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05579630_00065_uv.csv
2,NWIS,05579630,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05579630_00065_uv.csv
3,NWIS,05579630,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.554709,m,NaN,NaN,NaN,clean_data_05579630_00065_uv.csv
4,NWIS,05579630,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,0.554709,m,NaN,NaN,NaN,clean_data_05579630_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536275_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536275_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536275,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.835111,m,NaN,NaN,NaN,clean_data_05536275_00065_dv.csv
1,NWIS,05536275,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.880829,m,NaN,NaN,NaN,clean_data_05536275_00065_dv.csv
2,NWIS,05536275,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.005791,m,NaN,NaN,NaN,clean_data_05536275_00065_dv.csv
3,NWIS,05536275,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.889973,m,NaN,NaN,NaN,clean_data_05536275_00065_dv.csv
4,NWIS,05536275,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.883877,m,NaN,NaN,NaN,clean_data_05536275_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551030_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05551030_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551030,2005-10-03,NaN,UTC,65,daily,mean,NaN,3.517220,m,NaN,NaN,NaN,clean_data_05551030_00065_dv.csv
1,NWIS,05551030,2005-10-04,NaN,UTC,65,daily,mean,NaN,3.514173,m,NaN,NaN,NaN,clean_data_05551030_00065_dv.csv
2,NWIS,05551030,2005-10-05,NaN,UTC,65,daily,mean,NaN,3.505029,m,NaN,NaN,NaN,clean_data_05551030_00065_dv.csv
3,NWIS,05551030,2005-10-06,NaN,UTC,65,daily,mean,NaN,3.501981,m,NaN,NaN,NaN,clean_data_05551030_00065_dv.csv
4,NWIS,05551030,2005-10-07,NaN,UTC,65,daily,mean,NaN,3.501981,m,NaN,NaN,NaN,clean_data_05551030_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05576195_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05576195_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05576195,2015-06-26,NaN,UTC,65,daily,mean,NaN,170.953977,m,NaN,NaN,NaN,clean_data_05576195_00065_dv.csv
1,NWIS,05576195,2015-06-27,NaN,UTC,65,daily,mean,NaN,170.975312,m,NaN,NaN,NaN,clean_data_05576195_00065_dv.csv
2,NWIS,05576195,2015-06-28,NaN,UTC,65,daily,mean,NaN,170.825968,m,NaN,NaN,NaN,clean_data_05576195_00065_dv.csv
3,NWIS,05576195,2015-06-29,NaN,UTC,65,daily,mean,NaN,170.810728,m,NaN,NaN,NaN,clean_data_05576195_00065_dv.csv
4,NWIS,05576195,2015-06-30,NaN,UTC,65,daily,mean,NaN,170.792441,m,NaN,NaN,NaN,clean_data_05576195_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05559700_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05559700_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05559700,2007-12-02,NaN,UTC,65,daily,mean,NaN,1.703749,m,NaN,NaN,NaN,clean_data_05559700_00065_dv.csv
1,NWIS,05559700,2007-12-03,NaN,UTC,65,daily,mean,NaN,1.706797,m,NaN,NaN,NaN,clean_data_05559700_00065_dv.csv
2,NWIS,05559700,2007-12-04,NaN,UTC,65,daily,mean,NaN,1.703749,m,NaN,NaN,NaN,clean_data_05559700_00065_dv.csv
3,NWIS,05559700,2007-12-05,NaN,UTC,65,daily,mean,NaN,1.712892,m,NaN,NaN,NaN,clean_data_05559700_00065_dv.csv
4,NWIS,05559700,2007-12-06,NaN,UTC,65,daily,mean,NaN,1.703749,m,NaN,NaN,NaN,clean_data_05559700_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586647_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05586647_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586647,2017-10-23,2017-10-23T20:45:00Z,UTC,65,instantaneous,NaN,NaN,2.474855,m,NaN,NaN,NaN,clean_data_05586647_00065_uv.csv
1,NWIS,05586647,2017-10-23,2017-10-23T21:00:00Z,UTC,65,instantaneous,NaN,NaN,2.474855,m,NaN,NaN,NaN,clean_data_05586647_00065_uv.csv
2,NWIS,05586647,2017-10-23,2017-10-23T21:15:00Z,UTC,65,instantaneous,NaN,NaN,2.474855,m,NaN,NaN,NaN,clean_data_05586647_00065_uv.csv
3,NWIS,05586647,2017-10-23,2017-10-23T21:30:00Z,UTC,65,instantaneous,NaN,NaN,2.474855,m,NaN,NaN,NaN,clean_data_05586647_00065_uv.csv
4,NWIS,05586647,2017-10-23,2017-10-23T21:45:00Z,UTC,65,instantaneous,NaN,NaN,2.474855,m,NaN,NaN,NaN,clean_data_05586647_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05557500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05557500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05557500,2012-05-30,NaN,UTC,65,daily,mean,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_dv.csv
1,NWIS,05557500,2012-05-31,NaN,UTC,65,daily,mean,NaN,2.023773,m,NaN,NaN,NaN,clean_data_05557500_00065_dv.csv
2,NWIS,05557500,2012-06-01,NaN,UTC,65,daily,mean,NaN,2.020725,m,NaN,NaN,NaN,clean_data_05557500_00065_dv.csv
3,NWIS,05557500,2012-06-02,NaN,UTC,65,daily,mean,NaN,2.011582,m,NaN,NaN,NaN,clean_data_05557500_00065_dv.csv
4,NWIS,05557500,2012-06-03,NaN,UTC,65,daily,mean,NaN,2.002438,m,NaN,NaN,NaN,clean_data_05557500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05584500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05584500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05584500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.856446,m,NaN,NaN,NaN,clean_data_05584500_00065_dv.csv
1,NWIS,05584500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.813776,m,NaN,NaN,NaN,clean_data_05584500_00065_dv.csv
2,NWIS,05584500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.780250,m,NaN,NaN,NaN,clean_data_05584500_00065_dv.csv
3,NWIS,05584500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.768059,m,NaN,NaN,NaN,clean_data_05584500_00065_dv.csv
4,NWIS,05584500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.774154,m,NaN,NaN,NaN,clean_data_05584500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536123_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536123_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536123,2008-08-05,2008-08-05T05:15:00Z,UTC,65,instantaneous,NaN,NaN,0.015239,m,NaN,NaN,NaN,clean_data_05536123_00065_uv.csv
1,NWIS,05536123,2008-08-05,2008-08-05T05:20:00Z,UTC,65,instantaneous,NaN,NaN,0.057909,m,NaN,NaN,NaN,clean_data_05536123_00065_uv.csv
2,NWIS,05536123,2008-08-05,2008-08-05T05:25:00Z,UTC,65,instantaneous,NaN,NaN,0.088388,m,NaN,NaN,NaN,clean_data_05536123_00065_uv.csv
3,NWIS,05536123,2008-08-05,2008-08-05T05:30:00Z,UTC,65,instantaneous,NaN,NaN,0.131058,m,NaN,NaN,NaN,clean_data_05536123_00065_uv.csv
4,NWIS,05536123,2008-08-05,2008-08-05T05:35:00Z,UTC,65,instantaneous,NaN,NaN,0.195062,m,NaN,NaN,NaN,clean_data_05536123_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05541710_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05541710_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05541710,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.280098,m,NaN,NaN,NaN,clean_data_05541710_00065_uv.csv
1,NWIS,05541710,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.283145,m,NaN,NaN,NaN,clean_data_05541710_00065_uv.csv
2,NWIS,05541710,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.283145,m,NaN,NaN,NaN,clean_data_05541710_00065_uv.csv
3,NWIS,05541710,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.286193,m,NaN,NaN,NaN,clean_data_05541710_00065_uv.csv
4,NWIS,05541710,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.286193,m,NaN,NaN,NaN,clean_data_05541710_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05570910_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05570910_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05570910,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.240475,m,NaN,NaN,NaN,clean_data_05570910_00065_dv.csv
1,NWIS,05570910,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.213045,m,NaN,NaN,NaN,clean_data_05570910_00065_dv.csv
2,NWIS,05570910,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.197806,m,NaN,NaN,NaN,clean_data_05570910_00065_dv.csv
3,NWIS,05570910,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.188662,m,NaN,NaN,NaN,clean_data_05570910_00065_dv.csv
4,NWIS,05570910,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.188662,m,NaN,NaN,NaN,clean_data_05570910_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586100_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05586100_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586100,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.804633,m,NaN,NaN,NaN,clean_data_05586100_00065_uv.csv
1,NWIS,05586100,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.798537,m,NaN,NaN,NaN,clean_data_05586100_00065_uv.csv
2,NWIS,05586100,2007-10-01,2007-10-01T07:30:00Z,UTC,65,instantaneous,NaN,NaN,0.786346,m,NaN,NaN,NaN,clean_data_05586100_00065_uv.csv
3,NWIS,05586100,2007-10-01,2007-10-01T08:30:00Z,UTC,65,instantaneous,NaN,NaN,0.780250,m,NaN,NaN,NaN,clean_data_05586100_00065_uv.csv
4,NWIS,05586100,2007-10-01,2007-10-01T09:30:00Z,UTC,65,instantaneous,NaN,NaN,0.774154,m,NaN,NaN,NaN,clean_data_05586100_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549501_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05549501_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549501,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.304785,m,NaN,NaN,NaN,clean_data_05549501_00065_dv.csv
1,NWIS,05549501,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.256020,m,NaN,NaN,NaN,clean_data_05549501_00065_dv.csv
2,NWIS,05549501,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.246876,m,NaN,NaN,NaN,clean_data_05549501_00065_dv.csv
3,NWIS,05549501,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.243828,m,NaN,NaN,NaN,clean_data_05549501_00065_dv.csv
4,NWIS,05549501,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.231637,m,NaN,NaN,NaN,clean_data_05549501_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05554300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05554300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05554300,2011-07-07,2011-07-07T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.578482,m,NaN,NaN,NaN,clean_data_05554300_00065_uv.csv
1,NWIS,05554300,2011-07-07,2011-07-07T06:15:00Z,UTC,65,instantaneous,NaN,NaN,2.578482,m,NaN,NaN,NaN,clean_data_05554300_00065_uv.csv
2,NWIS,05554300,2011-07-07,2011-07-07T06:30:00Z,UTC,65,instantaneous,NaN,NaN,2.581530,m,NaN,NaN,NaN,clean_data_05554300_00065_uv.csv
3,NWIS,05554300,2011-07-07,2011-07-07T06:45:00Z,UTC,65,instantaneous,NaN,NaN,2.578482,m,NaN,NaN,NaN,clean_data_05554300_00065_uv.csv
4,NWIS,05554300,2011-07-07,2011-07-07T07:00:00Z,UTC,65,instantaneous,NaN,NaN,2.578482,m,NaN,NaN,NaN,clean_data_05554300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536366_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536366_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536366,2017-04-29,NaN,UTC,65,daily,mean,NaN,7.525145,m,NaN,NaN,NaN,clean_data_05536366_00065_dv.csv
1,NWIS,05536366,2017-04-30,NaN,UTC,65,daily,mean,NaN,7.805547,m,NaN,NaN,NaN,clean_data_05536366_00065_dv.csv
2,NWIS,05536366,2017-05-01,NaN,UTC,65,daily,mean,NaN,7.884791,m,NaN,NaN,NaN,clean_data_05536366_00065_dv.csv
3,NWIS,05536366,2017-05-02,NaN,UTC,65,daily,mean,NaN,7.708016,m,NaN,NaN,NaN,clean_data_05536366_00065_dv.csv
4,NWIS,05536366,2017-05-03,NaN,UTC,65,daily,mean,NaN,7.665346,m,NaN,NaN,NaN,clean_data_05536366_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05538020_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05538020_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05538020,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,164.169461,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_uv.csv
1,NWIS,05538020,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,164.175556,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_uv.csv
2,NWIS,05538020,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,164.196891,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_uv.csv
3,NWIS,05538020,2007-10-01,2007-10-01T07:30:00Z,UTC,65,instantaneous,NaN,NaN,164.288327,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_uv.csv
4,NWIS,05538020,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,164.190795,m,NaN,NaN,NaN,clean_data_alt_metab_05538020_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_413339087223001_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_413339087223001_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,413339087223001,2010-10-01,2010-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,1.545261,m,NaN,NaN,NaN,clean_data_413339087223001_00065_uv.csv
1,NWIS,413339087223001,2010-10-01,2010-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,1.545261,m,NaN,NaN,NaN,clean_data_413339087223001_00065_uv.csv
2,NWIS,413339087223001,2010-10-01,2010-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,1.545261,m,NaN,NaN,NaN,clean_data_413339087223001_00065_uv.csv
3,NWIS,413339087223001,2010-10-01,2010-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.545261,m,NaN,NaN,NaN,clean_data_413339087223001_00065_uv.csv
4,NWIS,413339087223001,2010-10-01,2010-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.545261,m,NaN,NaN,NaN,clean_data_413339087223001_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05540275_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05540275_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05540275,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05540275_00065_uv.csv
1,NWIS,05540275,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05540275_00065_uv.csv
2,NWIS,05540275,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05540275_00065_uv.csv
3,NWIS,05540275,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05540275_00065_uv.csv
4,NWIS,05540275,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05540275_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551700_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05551700_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551700,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.774154,m,NaN,NaN,NaN,clean_data_05551700_00065_dv.csv
1,NWIS,05551700,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.780250,m,NaN,NaN,NaN,clean_data_05551700_00065_dv.csv
2,NWIS,05551700,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.789393,m,NaN,NaN,NaN,clean_data_05551700_00065_dv.csv
3,NWIS,05551700,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.783298,m,NaN,NaN,NaN,clean_data_05551700_00065_dv.csv
4,NWIS,05551700,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.771106,m,NaN,NaN,NaN,clean_data_05551700_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527900_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05527900_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527900,2007-10-18,2007-10-18T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.633343,m,NaN,NaN,NaN,clean_data_05527900_00065_uv.csv
1,NWIS,05527900,2007-10-18,2007-10-18T06:15:00Z,UTC,65,instantaneous,NaN,NaN,2.633343,m,NaN,NaN,NaN,clean_data_05527900_00065_uv.csv
2,NWIS,05527900,2007-10-18,2007-10-18T06:30:00Z,UTC,65,instantaneous,NaN,NaN,2.633343,m,NaN,NaN,NaN,clean_data_05527900_00065_uv.csv
3,NWIS,05527900,2007-10-18,2007-10-18T06:45:00Z,UTC,65,instantaneous,NaN,NaN,2.633343,m,NaN,NaN,NaN,clean_data_05527900_00065_uv.csv
4,NWIS,05527900,2007-10-18,2007-10-18T07:00:00Z,UTC,65,instantaneous,NaN,NaN,2.636391,m,NaN,NaN,NaN,clean_data_05527900_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05549500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05549500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549500,2009-10-01,2009-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.499543,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_uv.csv
1,NWIS,05549500,2009-10-01,2009-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.502591,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_uv.csv
2,NWIS,05549500,2009-10-01,2009-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.502591,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_uv.csv
3,NWIS,05549500,2009-10-01,2009-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.496495,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_uv.csv
4,NWIS,05549500,2009-10-01,2009-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.499543,m,NaN,NaN,NaN,clean_data_alt_metab_05549500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05585830_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05585830_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05585830,2005-10-01,NaN,UTC,65,daily,mean,NaN,8.591893,m,NaN,NaN,NaN,clean_data_05585830_00065_dv.csv
1,NWIS,05585830,2005-10-02,NaN,UTC,65,daily,mean,NaN,8.585797,m,NaN,NaN,NaN,clean_data_05585830_00065_dv.csv
2,NWIS,05585830,2005-10-03,NaN,UTC,65,daily,mean,NaN,8.582749,m,NaN,NaN,NaN,clean_data_05585830_00065_dv.csv
3,NWIS,05585830,2005-10-04,NaN,UTC,65,daily,mean,NaN,8.579701,m,NaN,NaN,NaN,clean_data_05585830_00065_dv.csv
4,NWIS,05585830,2005-10-05,NaN,UTC,65,daily,mean,NaN,8.570558,m,NaN,NaN,NaN,clean_data_05585830_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05575550_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05575550_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05575550,2014-06-20,2014-06-20T06:00:00Z,UTC,65,instantaneous,NaN,NaN,4.175556,m,NaN,NaN,NaN,clean_data_05575550_00065_uv.csv
1,NWIS,05575550,2014-06-20,2014-06-20T06:15:00Z,UTC,65,instantaneous,NaN,NaN,4.181652,m,NaN,NaN,NaN,clean_data_05575550_00065_uv.csv
2,NWIS,05575550,2014-06-20,2014-06-20T06:30:00Z,UTC,65,instantaneous,NaN,NaN,4.178604,m,NaN,NaN,NaN,clean_data_05575550_00065_uv.csv
3,NWIS,05575550,2014-06-20,2014-06-20T06:45:00Z,UTC,65,instantaneous,NaN,NaN,4.181652,m,NaN,NaN,NaN,clean_data_05575550_00065_uv.csv
4,NWIS,05575550,2014-06-20,2014-06-20T07:00:00Z,UTC,65,instantaneous,NaN,NaN,4.181652,m,NaN,NaN,NaN,clean_data_05575550_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05538010_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05538010_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05538010,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,164.169461,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_uv.csv
1,NWIS,05538010,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,164.175556,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_uv.csv
2,NWIS,05538010,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,164.196891,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_uv.csv
3,NWIS,05538010,2007-10-01,2007-10-01T07:30:00Z,UTC,65,instantaneous,NaN,NaN,164.288327,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_uv.csv
4,NWIS,05538010,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,164.190795,m,NaN,NaN,NaN,clean_data_alt_metab_05538010_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05525500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05525500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525500,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.594026,m,NaN,NaN,NaN,clean_data_05525500_00065_dv.csv
1,NWIS,05525500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.411155,m,NaN,NaN,NaN,clean_data_05525500_00065_dv.csv
2,NWIS,05525500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.328863,m,NaN,NaN,NaN,clean_data_05525500_00065_dv.csv
3,NWIS,05525500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.301432,m,NaN,NaN,NaN,clean_data_05525500_00065_dv.csv
4,NWIS,05525500,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.252667,m,NaN,NaN,NaN,clean_data_05525500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536995_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05536995_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536995,2005-10-01,NaN,UTC,65,daily,mean,NaN,7.732399,m,NaN,NaN,NaN,clean_data_05536995_00065_dv.csv
1,NWIS,05536995,2005-10-02,NaN,UTC,65,daily,mean,NaN,7.644011,m,NaN,NaN,NaN,clean_data_05536995_00065_dv.csv
2,NWIS,05536995,2005-10-03,NaN,UTC,65,daily,mean,NaN,7.698872,m,NaN,NaN,NaN,clean_data_05536995_00065_dv.csv
3,NWIS,05536995,2005-10-04,NaN,UTC,65,daily,mean,NaN,7.750686,m,NaN,NaN,NaN,clean_data_05536995_00065_dv.csv
4,NWIS,05536995,2005-10-05,NaN,UTC,65,daily,mean,NaN,7.698872,m,NaN,NaN,NaN,clean_data_05536995_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05550500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05550500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05550500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.359646,m,NaN,NaN,NaN,clean_data_05550500_00065_dv.csv
1,NWIS,05550500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.387077,m,NaN,NaN,NaN,clean_data_05550500_00065_dv.csv
2,NWIS,05550500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.496800,m,NaN,NaN,NaN,clean_data_05550500_00065_dv.csv
3,NWIS,05550500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.484608,m,NaN,NaN,NaN,clean_data_05550500_00065_dv.csv
4,NWIS,05550500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.432795,m,NaN,NaN,NaN,clean_data_05550500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536137_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536137_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536137,2015-06-15,2015-06-15T23:10:00Z,UTC,65,instantaneous,NaN,NaN,0.100579,m,NaN,NaN,NaN,clean_data_05536137_00065_uv.csv
1,NWIS,05536137,2015-06-15,2015-06-15T23:20:00Z,UTC,65,instantaneous,NaN,NaN,0.228589,m,NaN,NaN,NaN,clean_data_05536137_00065_uv.csv
2,NWIS,05536137,2015-06-15,2015-06-15T23:30:00Z,UTC,65,instantaneous,NaN,NaN,0.329168,m,NaN,NaN,NaN,clean_data_05536137_00065_uv.csv
3,NWIS,05536137,2015-06-15,2015-06-15T23:40:00Z,UTC,65,instantaneous,NaN,NaN,0.454130,m,NaN,NaN,NaN,clean_data_05536137_00065_uv.csv
4,NWIS,05536137,2015-06-15,2015-06-15T23:50:00Z,UTC,65,instantaneous,NaN,NaN,0.591283,m,NaN,NaN,NaN,clean_data_05536137_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05578300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578300,2008-08-29,2008-08-29T06:00:00Z,UTC,65,instantaneous,NaN,NaN,210.283450,m,NaN,NaN,NaN,clean_data_05578300_00065_uv.csv
1,NWIS,05578300,2008-08-29,2008-08-29T06:15:00Z,UTC,65,instantaneous,NaN,NaN,210.283450,m,NaN,NaN,NaN,clean_data_05578300_00065_uv.csv
2,NWIS,05578300,2008-08-29,2008-08-29T06:30:00Z,UTC,65,instantaneous,NaN,NaN,210.274307,m,NaN,NaN,NaN,clean_data_05578300_00065_uv.csv
3,NWIS,05578300,2008-08-29,2008-08-29T06:45:00Z,UTC,65,instantaneous,NaN,NaN,210.280402,m,NaN,NaN,NaN,clean_data_05578300_00065_uv.csv
4,NWIS,05578300,2008-08-29,2008-08-29T07:00:00Z,UTC,65,instantaneous,NaN,NaN,210.280402,m,NaN,NaN,NaN,clean_data_05578300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05576100_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05576100_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05576100,2015-06-12,2015-06-12T19:15:00Z,UTC,65,instantaneous,NaN,NaN,170.460226,m,NaN,NaN,NaN,clean_data_05576100_00065_uv.csv
1,NWIS,05576100,2015-06-12,2015-06-12T19:30:00Z,UTC,65,instantaneous,NaN,NaN,170.451082,m,NaN,NaN,NaN,clean_data_05576100_00065_uv.csv
2,NWIS,05576100,2015-06-12,2015-06-12T19:45:00Z,UTC,65,instantaneous,NaN,NaN,170.457178,m,NaN,NaN,NaN,clean_data_05576100_00065_uv.csv
3,NWIS,05576100,2015-06-12,2015-06-12T20:00:00Z,UTC,65,instantaneous,NaN,NaN,170.463273,m,NaN,NaN,NaN,clean_data_05576100_00065_uv.csv
4,NWIS,05576100,2015-06-12,2015-06-12T20:15:00Z,UTC,65,instantaneous,NaN,NaN,170.441938,m,NaN,NaN,NaN,clean_data_05576100_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_414130087521301_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_414130087521301_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,414130087521301,2013-03-30,2013-03-30T06:00:00Z,UTC,65,instantaneous,NaN,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_uv.csv
1,NWIS,414130087521301,2013-03-30,2013-03-30T06:15:00Z,UTC,65,instantaneous,NaN,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_uv.csv
2,NWIS,414130087521301,2013-03-30,2013-03-30T06:30:00Z,UTC,65,instantaneous,NaN,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_uv.csv
3,NWIS,414130087521301,2013-03-30,2013-03-30T06:45:00Z,UTC,65,instantaneous,NaN,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_uv.csv
4,NWIS,414130087521301,2013-03-30,2013-03-30T07:00:00Z,UTC,65,instantaneous,NaN,NaN,180.618714,m,NaN,NaN,NaN,clean_data_414130087521301_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05536356_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05536356_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536356,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,0.600427,m,NaN,NaN,NaN,clean_data_alt_metab_05536356_00065_uv.csv
1,NWIS,05536356,2007-10-01,2007-10-01T05:05:00Z,UTC,65,instantaneous,NaN,NaN,0.603475,m,NaN,NaN,NaN,clean_data_alt_metab_05536356_00065_uv.csv
2,NWIS,05536356,2007-10-01,2007-10-01T05:10:00Z,UTC,65,instantaneous,NaN,NaN,0.600427,m,NaN,NaN,NaN,clean_data_alt_metab_05536356_00065_uv.csv
3,NWIS,05536356,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,0.603475,m,NaN,NaN,NaN,clean_data_alt_metab_05536356_00065_uv.csv
4,NWIS,05536356,2007-10-01,2007-10-01T05:20:00Z,UTC,65,instantaneous,NaN,NaN,0.603475,m,NaN,NaN,NaN,clean_data_alt_metab_05536356_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05558300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05558300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05558300,2005-10-01,NaN,UTC,65,daily,mean,NaN,4.614447,m,NaN,NaN,NaN,clean_data_05558300_00065_dv.csv
1,NWIS,05558300,2005-10-02,NaN,UTC,65,daily,mean,NaN,4.599208,m,NaN,NaN,NaN,clean_data_05558300_00065_dv.csv
2,NWIS,05558300,2005-10-03,NaN,UTC,65,daily,mean,NaN,4.626638,m,NaN,NaN,NaN,clean_data_05558300_00065_dv.csv
3,NWIS,05558300,2005-10-04,NaN,UTC,65,daily,mean,NaN,4.605303,m,NaN,NaN,NaN,clean_data_05558300_00065_dv.csv
4,NWIS,05558300,2005-10-05,NaN,UTC,65,daily,mean,NaN,4.620543,m,NaN,NaN,NaN,clean_data_05558300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05549500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549500,2005-10-01,NaN,UTC,65,daily,mean,NaN,1.200853,m,NaN,NaN,NaN,clean_data_05549500_00065_dv.csv
1,NWIS,05549500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.203901,m,NaN,NaN,NaN,clean_data_05549500_00065_dv.csv
2,NWIS,05549500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.200853,m,NaN,NaN,NaN,clean_data_05549500_00065_dv.csv
3,NWIS,05549500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.206949,m,NaN,NaN,NaN,clean_data_05549500_00065_dv.csv
4,NWIS,05549500,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.197806,m,NaN,NaN,NaN,clean_data_05549500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05542000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05542000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05542000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.45413,m,NaN,NaN,NaN,clean_data_05542000_00065_uv.csv
1,NWIS,05542000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.45413,m,NaN,NaN,NaN,clean_data_05542000_00065_uv.csv
2,NWIS,05542000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.45413,m,NaN,NaN,NaN,clean_data_05542000_00065_uv.csv
3,NWIS,05542000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.45413,m,NaN,NaN,NaN,clean_data_05542000_00065_uv.csv
4,NWIS,05542000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.45413,m,NaN,NaN,NaN,clean_data_05542000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05543500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05543500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_05543500_00065_uv.csv
1,NWIS,05543500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_05543500_00065_uv.csv
2,NWIS,05543500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_05543500_00065_uv.csv
3,NWIS,05543500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_05543500_00065_uv.csv
4,NWIS,05543500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_05543500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_412320088154101_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_412320088154101_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,412320088154101,2013-02-13,NaN,UTC,65,daily,mean,NaN,153.873819,m,NaN,NaN,NaN,clean_data_412320088154101_00065_dv.csv
1,NWIS,412320088154101,2013-02-14,NaN,UTC,65,daily,mean,NaN,153.889058,m,NaN,NaN,NaN,clean_data_412320088154101_00065_dv.csv
2,NWIS,412320088154101,2013-02-15,NaN,UTC,65,daily,mean,NaN,153.919537,m,NaN,NaN,NaN,clean_data_412320088154101_00065_dv.csv
3,NWIS,412320088154101,2013-02-16,NaN,UTC,65,daily,mean,NaN,153.837245,m,NaN,NaN,NaN,clean_data_412320088154101_00065_dv.csv
4,NWIS,412320088154101,2013-02-17,NaN,UTC,65,daily,mean,NaN,153.861628,m,NaN,NaN,NaN,clean_data_412320088154101_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586745_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05586745_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586745,2017-10-24,NaN,UTC,65,daily,mean,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_dv.csv
1,NWIS,05586745,2017-10-25,NaN,UTC,65,daily,mean,NaN,1.658031,m,NaN,NaN,NaN,clean_data_05586745_00065_dv.csv
2,NWIS,05586745,2017-10-26,NaN,UTC,65,daily,mean,NaN,1.654983,m,NaN,NaN,NaN,clean_data_05586745_00065_dv.csv
3,NWIS,05586745,2017-10-27,NaN,UTC,65,daily,mean,NaN,1.664127,m,NaN,NaN,NaN,clean_data_05586745_00065_dv.csv
4,NWIS,05586745,2017-10-28,NaN,UTC,65,daily,mean,NaN,1.673270,m,NaN,NaN,NaN,clean_data_05586745_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578100_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05578100_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578100,2016-05-04,2016-05-04T12:10:00Z,UTC,65,instantaneous,NaN,NaN,210.609570,m,NaN,NaN,NaN,clean_data_05578100_00065_uv.csv
1,NWIS,05578100,2016-05-04,2016-05-04T12:20:00Z,UTC,65,instantaneous,NaN,NaN,210.600427,m,NaN,NaN,NaN,clean_data_05578100_00065_uv.csv
2,NWIS,05578100,2016-05-04,2016-05-04T12:30:00Z,UTC,65,instantaneous,NaN,NaN,210.603475,m,NaN,NaN,NaN,clean_data_05578100_00065_uv.csv
3,NWIS,05578100,2016-05-04,2016-05-04T12:40:00Z,UTC,65,instantaneous,NaN,NaN,210.600427,m,NaN,NaN,NaN,clean_data_05578100_00065_uv.csv
4,NWIS,05578100,2016-05-04,2016-05-04T12:50:00Z,UTC,65,instantaneous,NaN,NaN,210.600427,m,NaN,NaN,NaN,clean_data_05578100_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536190_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536190_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536190,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,0.204206,m,NaN,NaN,NaN,clean_data_05536190_00065_uv.csv
1,NWIS,05536190,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,0.207254,m,NaN,NaN,NaN,clean_data_05536190_00065_uv.csv
2,NWIS,05536190,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,0.207254,m,NaN,NaN,NaN,clean_data_05536190_00065_uv.csv
3,NWIS,05536190,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,0.207254,m,NaN,NaN,NaN,clean_data_05536190_00065_uv.csv
4,NWIS,05536190,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.207254,m,NaN,NaN,NaN,clean_data_05536190_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05525000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05525000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05525000,2005-10-01,NaN,UTC,65,daily,mean,NaN,2.032917,m,NaN,NaN,NaN,clean_data_05525000_00065_dv.csv
1,NWIS,05525000,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.673270,m,NaN,NaN,NaN,clean_data_05525000_00065_dv.csv
2,NWIS,05525000,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.615361,m,NaN,NaN,NaN,clean_data_05525000_00065_dv.csv
3,NWIS,05525000,2005-10-06,NaN,UTC,65,daily,mean,NaN,1.581835,m,NaN,NaN,NaN,clean_data_05525000_00065_dv.csv
4,NWIS,05525000,2005-10-07,NaN,UTC,65,daily,mean,NaN,1.542213,m,NaN,NaN,NaN,clean_data_05525000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05520500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05520500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05520500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.572996,m,NaN,NaN,NaN,clean_data_05520500_00065_uv.csv
1,NWIS,05520500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.576044,m,NaN,NaN,NaN,clean_data_05520500_00065_uv.csv
2,NWIS,05520500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.576044,m,NaN,NaN,NaN,clean_data_05520500_00065_uv.csv
3,NWIS,05520500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.579092,m,NaN,NaN,NaN,clean_data_05520500_00065_uv.csv
4,NWIS,05520500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.579092,m,NaN,NaN,NaN,clean_data_05520500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05543010_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05543010_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_uv.csv
1,NWIS,05543010,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.373971,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_uv.csv
2,NWIS,05543010,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_uv.csv
3,NWIS,05543010,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_uv.csv
4,NWIS,05543010,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.370923,m,NaN,NaN,NaN,clean_data_alt_metab_05543010_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579610_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05579610_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579610,2006-10-02,NaN,UTC,65,daily,mean,NaN,2.615056,m,NaN,NaN,NaN,clean_data_05579610_00065_dv.csv
1,NWIS,05579610,2006-10-03,NaN,UTC,65,daily,mean,NaN,2.615056,m,NaN,NaN,NaN,clean_data_05579610_00065_dv.csv
2,NWIS,05579610,2006-10-04,NaN,UTC,65,daily,mean,NaN,2.608961,m,NaN,NaN,NaN,clean_data_05579610_00065_dv.csv
3,NWIS,05579610,2006-10-05,NaN,UTC,65,daily,mean,NaN,2.596769,m,NaN,NaN,NaN,clean_data_05579610_00065_dv.csv
4,NWIS,05579610,2006-10-06,NaN,UTC,65,daily,mean,NaN,2.590674,m,NaN,NaN,NaN,clean_data_05579610_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527905_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05527905_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527905,2007-08-23,NaN,UTC,65,daily,mean,NaN,4.297470,m,NaN,NaN,NaN,clean_data_05527905_00065_dv.csv
1,NWIS,05527905,2007-08-24,NaN,UTC,65,daily,mean,NaN,4.248705,m,NaN,NaN,NaN,clean_data_05527905_00065_dv.csv
2,NWIS,05527905,2007-08-25,NaN,UTC,65,daily,mean,NaN,4.184700,m,NaN,NaN,NaN,clean_data_05527905_00065_dv.csv
3,NWIS,05527905,2007-08-26,NaN,UTC,65,daily,mean,NaN,4.105456,m,NaN,NaN,NaN,clean_data_05527905_00065_dv.csv
4,NWIS,05527905,2007-08-27,NaN,UTC,65,daily,mean,NaN,4.023164,m,NaN,NaN,NaN,clean_data_05527905_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05568500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05568500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05568500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.966169,m,NaN,NaN,NaN,clean_data_05568500_00065_uv.csv
1,NWIS,05568500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.947882,m,NaN,NaN,NaN,clean_data_05568500_00065_uv.csv
2,NWIS,05568500,2007-10-01,2007-10-01T08:00:00Z,UTC,65,instantaneous,NaN,NaN,0.960073,m,NaN,NaN,NaN,clean_data_05568500_00065_uv.csv
3,NWIS,05568500,2007-10-01,2007-10-01T09:00:00Z,UTC,65,instantaneous,NaN,NaN,0.972265,m,NaN,NaN,NaN,clean_data_05568500_00065_uv.csv
4,NWIS,05568500,2007-10-01,2007-10-01T10:00:00Z,UTC,65,instantaneous,NaN,NaN,0.972265,m,NaN,NaN,NaN,clean_data_05568500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05543010_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05543010_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05543010,2013-07-18,NaN,UTC,65,daily,mean,NaN,6.327339,m,NaN,NaN,NaN,clean_data_05543010_00065_dv.csv
1,NWIS,05543010,2013-07-19,NaN,UTC,65,daily,mean,NaN,6.360866,m,NaN,NaN,NaN,clean_data_05543010_00065_dv.csv
2,NWIS,05543010,2013-07-20,NaN,UTC,65,daily,mean,NaN,6.348674,m,NaN,NaN,NaN,clean_data_05543010_00065_dv.csv
3,NWIS,05543010,2013-07-21,NaN,UTC,65,daily,mean,NaN,6.357818,m,NaN,NaN,NaN,clean_data_05543010_00065_dv.csv
4,NWIS,05543010,2013-07-22,NaN,UTC,65,daily,mean,NaN,6.342578,m,NaN,NaN,NaN,clean_data_05543010_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527910_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05527910_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527910,2007-10-19,NaN,UTC,65,daily,mean,NaN,5.202682,m,NaN,NaN,NaN,clean_data_05527910_00065_dv.csv
1,NWIS,05527910,2007-10-20,NaN,UTC,65,daily,mean,NaN,5.196586,m,NaN,NaN,NaN,clean_data_05527910_00065_dv.csv
2,NWIS,05527910,2007-10-21,NaN,UTC,65,daily,mean,NaN,5.187443,m,NaN,NaN,NaN,clean_data_05527910_00065_dv.csv
3,NWIS,05527910,2007-10-22,NaN,UTC,65,daily,mean,NaN,5.187443,m,NaN,NaN,NaN,clean_data_05527910_00065_dv.csv
4,NWIS,05527910,2007-10-23,NaN,UTC,65,daily,mean,NaN,5.181347,m,NaN,NaN,NaN,clean_data_05527910_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05570000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05570000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05570000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.402012,m,NaN,NaN,NaN,clean_data_05570000_00065_uv.csv
1,NWIS,05570000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.402012,m,NaN,NaN,NaN,clean_data_05570000_00065_uv.csv
2,NWIS,05570000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.402012,m,NaN,NaN,NaN,clean_data_05570000_00065_uv.csv
3,NWIS,05570000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.402012,m,NaN,NaN,NaN,clean_data_05570000_00065_uv.csv
4,NWIS,05570000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.402012,m,NaN,NaN,NaN,clean_data_05570000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05549000_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05549000_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05549000,2012-11-20,NaN,UTC,65,daily,mean,NaN,0.192015,m,NaN,NaN,NaN,clean_data_05549000_00065_dv.csv
1,NWIS,05549000,2012-11-21,NaN,UTC,65,daily,mean,NaN,0.188967,m,NaN,NaN,NaN,clean_data_05549000_00065_dv.csv
2,NWIS,05549000,2012-11-22,NaN,UTC,65,daily,mean,NaN,0.192015,m,NaN,NaN,NaN,clean_data_05549000_00065_dv.csv
3,NWIS,05549000,2012-11-23,NaN,UTC,65,daily,mean,NaN,0.192015,m,NaN,NaN,NaN,clean_data_05549000_00065_dv.csv
4,NWIS,05549000,2012-11-24,NaN,UTC,65,daily,mean,NaN,0.188967,m,NaN,NaN,NaN,clean_data_05549000_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551029_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05551029_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551029,2005-10-01,NaN,UTC,65,daily,mean,NaN,5.705578,m,NaN,NaN,NaN,clean_data_05551029_00065_dv.csv
1,NWIS,05551029,2005-10-02,NaN,UTC,65,daily,mean,NaN,5.723865,m,NaN,NaN,NaN,clean_data_05551029_00065_dv.csv
2,NWIS,05551029,2005-10-03,NaN,UTC,65,daily,mean,NaN,5.781774,m,NaN,NaN,NaN,clean_data_05551029_00065_dv.csv
3,NWIS,05551029,2005-10-04,NaN,UTC,65,daily,mean,NaN,5.778726,m,NaN,NaN,NaN,clean_data_05551029_00065_dv.csv
4,NWIS,05551029,2005-10-05,NaN,UTC,65,daily,mean,NaN,5.763487,m,NaN,NaN,NaN,clean_data_05551029_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551540_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05551540_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551540,2005-10-01,NaN,UTC,65,daily,mean,NaN,3.413593,m,NaN,NaN,NaN,clean_data_05551540_00065_dv.csv
1,NWIS,05551540,2005-10-02,NaN,UTC,65,daily,mean,NaN,3.398354,m,NaN,NaN,NaN,clean_data_05551540_00065_dv.csv
2,NWIS,05551540,2005-10-03,NaN,UTC,65,daily,mean,NaN,3.389211,m,NaN,NaN,NaN,clean_data_05551540_00065_dv.csv
3,NWIS,05551540,2005-10-04,NaN,UTC,65,daily,mean,NaN,3.373971,m,NaN,NaN,NaN,clean_data_05551540_00065_dv.csv
4,NWIS,05551540,2005-10-05,NaN,UTC,65,daily,mean,NaN,3.358732,m,NaN,NaN,NaN,clean_data_05551540_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05537980_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05537980_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05537980,2005-10-01,NaN,UTC,65,daily,mean,NaN,164.221274,m,NaN,NaN,NaN,clean_data_05537980_00065_dv.csv
1,NWIS,05537980,2005-10-02,NaN,UTC,65,daily,mean,NaN,164.251753,m,NaN,NaN,NaN,clean_data_05537980_00065_dv.csv
2,NWIS,05537980,2005-10-03,NaN,UTC,65,daily,mean,NaN,164.218226,m,NaN,NaN,NaN,clean_data_05537980_00065_dv.csv
3,NWIS,05537980,2005-10-04,NaN,UTC,65,daily,mean,NaN,164.263944,m,NaN,NaN,NaN,clean_data_05537980_00065_dv.csv
4,NWIS,05537980,2005-10-05,NaN,UTC,65,daily,mean,NaN,164.230418,m,NaN,NaN,NaN,clean_data_05537980_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05532500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05532500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05532500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.953977,m,NaN,NaN,NaN,clean_data_05532500_00065_dv.csv
1,NWIS,05532500,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.002743,m,NaN,NaN,NaN,clean_data_05532500_00065_dv.csv
2,NWIS,05532500,2005-10-03,NaN,UTC,65,daily,mean,NaN,1.136849,m,NaN,NaN,NaN,clean_data_05532500_00065_dv.csv
3,NWIS,05532500,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.027126,m,NaN,NaN,NaN,clean_data_05532500_00065_dv.csv
4,NWIS,05532500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.987504,m,NaN,NaN,NaN,clean_data_05532500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05531500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05531500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05531500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.798537,m,NaN,NaN,NaN,clean_data_05531500_00065_uv.csv
1,NWIS,05531500,2007-10-01,2007-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,0.798537,m,NaN,NaN,NaN,clean_data_05531500_00065_uv.csv
2,NWIS,05531500,2007-10-01,2007-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,0.798537,m,NaN,NaN,NaN,clean_data_05531500_00065_uv.csv
3,NWIS,05531500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.801585,m,NaN,NaN,NaN,clean_data_05531500_00065_uv.csv
4,NWIS,05531500,2007-10-01,2007-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,0.804633,m,NaN,NaN,NaN,clean_data_05531500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05551580_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05551580_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05551580,2012-07-21,2012-07-21T06:00:00Z,UTC,65,instantaneous,NaN,NaN,3.782383,m,NaN,NaN,NaN,clean_data_05551580_00065_uv.csv
1,NWIS,05551580,2012-07-21,2012-07-21T06:15:00Z,UTC,65,instantaneous,NaN,NaN,3.782383,m,NaN,NaN,NaN,clean_data_05551580_00065_uv.csv
2,NWIS,05551580,2012-07-21,2012-07-21T06:30:00Z,UTC,65,instantaneous,NaN,NaN,3.779336,m,NaN,NaN,NaN,clean_data_05551580_00065_uv.csv
3,NWIS,05551580,2012-07-21,2012-07-21T06:45:00Z,UTC,65,instantaneous,NaN,NaN,3.779336,m,NaN,NaN,NaN,clean_data_05551580_00065_uv.csv
4,NWIS,05551580,2012-07-21,2012-07-21T07:00:00Z,UTC,65,instantaneous,NaN,NaN,3.779336,m,NaN,NaN,NaN,clean_data_05551580_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05586300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05586300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586300,2012-05-26,2012-05-26T06:00:00Z,UTC,65,instantaneous,NaN,NaN,5.126486,m,NaN,NaN,NaN,clean_data_05586300_00065_uv.csv
1,NWIS,05586300,2012-05-26,2012-05-26T06:15:00Z,UTC,65,instantaneous,NaN,NaN,5.120390,m,NaN,NaN,NaN,clean_data_05586300_00065_uv.csv
2,NWIS,05586300,2012-05-26,2012-05-26T06:30:00Z,UTC,65,instantaneous,NaN,NaN,5.123438,m,NaN,NaN,NaN,clean_data_05586300_00065_uv.csv
3,NWIS,05586300,2012-05-26,2012-05-26T06:45:00Z,UTC,65,instantaneous,NaN,NaN,5.114294,m,NaN,NaN,NaN,clean_data_05586300_00065_uv.csv
4,NWIS,05586300,2012-05-26,2012-05-26T07:00:00Z,UTC,65,instantaneous,NaN,NaN,5.117342,m,NaN,NaN,NaN,clean_data_05586300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05552500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05552500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05552500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.828711,m,NaN,NaN,NaN,clean_data_05552500_00065_uv.csv
1,NWIS,05552500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.828711,m,NaN,NaN,NaN,clean_data_05552500_00065_uv.csv
2,NWIS,05552500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.831759,m,NaN,NaN,NaN,clean_data_05552500_00065_uv.csv
3,NWIS,05552500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.834806,m,NaN,NaN,NaN,clean_data_05552500_00065_uv.csv
4,NWIS,05552500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.834806,m,NaN,NaN,NaN,clean_data_05552500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_055451345_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_055451345_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,055451345,2017-10-01,2017-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.355989,m,NaN,NaN,NaN,clean_data_055451345_00065_uv.csv
1,NWIS,055451345,2017-10-01,2017-10-01T06:05:00Z,UTC,65,instantaneous,NaN,NaN,2.355989,m,NaN,NaN,NaN,clean_data_055451345_00065_uv.csv
2,NWIS,055451345,2017-10-01,2017-10-01T06:10:00Z,UTC,65,instantaneous,NaN,NaN,2.355989,m,NaN,NaN,NaN,clean_data_055451345_00065_uv.csv
3,NWIS,055451345,2017-10-01,2017-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,2.355989,m,NaN,NaN,NaN,clean_data_055451345_00065_uv.csv
4,NWIS,055451345,2017-10-01,2017-10-01T06:20:00Z,UTC,65,instantaneous,NaN,NaN,2.355989,m,NaN,NaN,NaN,clean_data_055451345_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05556500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05556500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05556500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.393173,m,NaN,NaN,NaN,clean_data_05556500_00065_dv.csv
1,NWIS,05556500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.393173,m,NaN,NaN,NaN,clean_data_05556500_00065_dv.csv
2,NWIS,05556500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.396221,m,NaN,NaN,NaN,clean_data_05556500_00065_dv.csv
3,NWIS,05556500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.396221,m,NaN,NaN,NaN,clean_data_05556500_00065_dv.csv
4,NWIS,05556500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.393173,m,NaN,NaN,NaN,clean_data_05556500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05553700_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05553700_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05553700,2005-10-01,NaN,UTC,65,daily,mean,NaN,3.398354,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_dv.csv
1,NWIS,05553700,2005-10-02,NaN,UTC,65,daily,mean,NaN,3.453215,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_dv.csv
2,NWIS,05553700,2005-10-03,NaN,UTC,65,daily,mean,NaN,3.498933,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_dv.csv
3,NWIS,05553700,2005-10-04,NaN,UTC,65,daily,mean,NaN,3.514173,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_dv.csv
4,NWIS,05553700,2005-10-05,NaN,UTC,65,daily,mean,NaN,3.425785,m,NaN,NaN,NaN,clean_data_alt_metab_05553700_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05515500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05515500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05515500,2007-10-01,2007-10-01T05:00:00Z,UTC,65,instantaneous,NaN,NaN,2.261506,m,NaN,NaN,NaN,clean_data_05515500_00065_uv.csv
1,NWIS,05515500,2007-10-01,2007-10-01T05:15:00Z,UTC,65,instantaneous,NaN,NaN,2.261506,m,NaN,NaN,NaN,clean_data_05515500_00065_uv.csv
2,NWIS,05515500,2007-10-01,2007-10-01T05:30:00Z,UTC,65,instantaneous,NaN,NaN,2.261506,m,NaN,NaN,NaN,clean_data_05515500_00065_uv.csv
3,NWIS,05515500,2007-10-01,2007-10-01T05:45:00Z,UTC,65,instantaneous,NaN,NaN,2.261506,m,NaN,NaN,NaN,clean_data_05515500_00065_uv.csv
4,NWIS,05515500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,2.261506,m,NaN,NaN,NaN,clean_data_05515500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05560500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05560500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05560500,2007-10-26,2007-10-26T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.560805,m,NaN,NaN,NaN,clean_data_05560500_00065_uv.csv
1,NWIS,05560500,2007-10-26,2007-10-26T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.560805,m,NaN,NaN,NaN,clean_data_05560500_00065_uv.csv
2,NWIS,05560500,2007-10-26,2007-10-26T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05560500_00065_uv.csv
3,NWIS,05560500,2007-10-26,2007-10-26T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05560500_00065_uv.csv
4,NWIS,05560500,2007-10-26,2007-10-26T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.557757,m,NaN,NaN,NaN,clean_data_05560500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05548105_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05548105_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05548105,2009-05-31,2009-05-31T05:45:00Z,UTC,65,instantaneous,NaN,NaN,1.615361,m,NaN,NaN,NaN,clean_data_05548105_00065_uv.csv
1,NWIS,05548105,2009-09-30,2009-09-30T20:15:00Z,UTC,65,instantaneous,NaN,NaN,1.517830,m,NaN,NaN,NaN,clean_data_05548105_00065_uv.csv
2,NWIS,05548105,2009-09-30,2009-09-30T20:30:00Z,UTC,65,instantaneous,NaN,NaN,1.517830,m,NaN,NaN,NaN,clean_data_05548105_00065_uv.csv
3,NWIS,05548105,2009-09-30,2009-09-30T20:45:00Z,UTC,65,instantaneous,NaN,NaN,1.517830,m,NaN,NaN,NaN,clean_data_05548105_00065_uv.csv
4,NWIS,05548105,2009-09-30,2009-09-30T21:00:00Z,UTC,65,instantaneous,NaN,NaN,1.517830,m,NaN,NaN,NaN,clean_data_05548105_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536118_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536118_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536118,2008-08-05,2008-08-05T05:20:00Z,UTC,65,instantaneous,NaN,NaN,0.042670,m,NaN,NaN,NaN,clean_data_05536118_00065_uv.csv
1,NWIS,05536118,2008-08-05,2008-08-05T05:25:00Z,UTC,65,instantaneous,NaN,NaN,0.103627,m,NaN,NaN,NaN,clean_data_05536118_00065_uv.csv
2,NWIS,05536118,2008-08-05,2008-08-05T05:30:00Z,UTC,65,instantaneous,NaN,NaN,0.152393,m,NaN,NaN,NaN,clean_data_05536118_00065_uv.csv
3,NWIS,05536118,2008-08-05,2008-08-05T05:35:00Z,UTC,65,instantaneous,NaN,NaN,0.201158,m,NaN,NaN,NaN,clean_data_05536118_00065_uv.csv
4,NWIS,05536118,2008-08-05,2008-08-05T05:40:00Z,UTC,65,instantaneous,NaN,NaN,0.237732,m,NaN,NaN,NaN,clean_data_05536118_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05527500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05527500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05527500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.384029,m,NaN,NaN,NaN,clean_data_05527500_00065_uv.csv
1,NWIS,05527500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.384029,m,NaN,NaN,NaN,clean_data_05527500_00065_uv.csv
2,NWIS,05527500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.384029,m,NaN,NaN,NaN,clean_data_05527500_00065_uv.csv
3,NWIS,05527500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.384029,m,NaN,NaN,NaN,clean_data_05527500_00065_uv.csv
4,NWIS,05527500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.384029,m,NaN,NaN,NaN,clean_data_05527500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05526000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05526000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05526000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.731484,m,NaN,NaN,NaN,clean_data_05526000_00065_uv.csv
1,NWIS,05526000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05526000_00065_uv.csv
2,NWIS,05526000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.728436,m,NaN,NaN,NaN,clean_data_05526000_00065_uv.csv
3,NWIS,05526000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05526000_00065_uv.csv
4,NWIS,05526000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.725389,m,NaN,NaN,NaN,clean_data_05526000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05580000_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05580000_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05580000,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,0.658336,m,NaN,NaN,NaN,clean_data_05580000_00065_uv.csv
1,NWIS,05580000,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,0.658336,m,NaN,NaN,NaN,clean_data_05580000_00065_uv.csv
2,NWIS,05580000,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,0.658336,m,NaN,NaN,NaN,clean_data_05580000_00065_uv.csv
3,NWIS,05580000,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,0.655288,m,NaN,NaN,NaN,clean_data_05580000_00065_uv.csv
4,NWIS,05580000,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,0.658336,m,NaN,NaN,NaN,clean_data_05580000_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_alt_metab_05586300_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_alt_metab_05586300_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05586300,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.713197,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_dv.csv
1,NWIS,05586300,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.704054,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_dv.csv
2,NWIS,05586300,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.691862,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_dv.csv
3,NWIS,05586300,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.637001,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_dv.csv
4,NWIS,05586300,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.691862,m,NaN,NaN,NaN,clean_data_alt_metab_05586300_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05548280_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05548280_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05548280,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.286193,m,NaN,NaN,NaN,clean_data_05548280_00065_uv.csv
1,NWIS,05548280,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.289241,m,NaN,NaN,NaN,clean_data_05548280_00065_uv.csv
2,NWIS,05548280,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.292289,m,NaN,NaN,NaN,clean_data_05548280_00065_uv.csv
3,NWIS,05548280,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.295337,m,NaN,NaN,NaN,clean_data_05548280_00065_uv.csv
4,NWIS,05548280,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.295337,m,NaN,NaN,NaN,clean_data_05548280_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579620_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05579620_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579620,2006-10-02,NaN,UTC,65,daily,mean,NaN,4.078025,m,NaN,NaN,NaN,clean_data_05579620_00065_dv.csv
1,NWIS,05579620,2006-10-03,NaN,UTC,65,daily,mean,NaN,4.078025,m,NaN,NaN,NaN,clean_data_05579620_00065_dv.csv
2,NWIS,05579620,2006-10-04,NaN,UTC,65,daily,mean,NaN,4.068881,m,NaN,NaN,NaN,clean_data_05579620_00065_dv.csv
3,NWIS,05579620,2006-10-05,NaN,UTC,65,daily,mean,NaN,4.053642,m,NaN,NaN,NaN,clean_data_05579620_00065_dv.csv
4,NWIS,05579620,2006-10-06,NaN,UTC,65,daily,mean,NaN,4.050594,m,NaN,NaN,NaN,clean_data_05579620_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05555300_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05555300_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05555300,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.072844,m,NaN,NaN,NaN,clean_data_05555300_00065_uv.csv
1,NWIS,05555300,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.072844,m,NaN,NaN,NaN,clean_data_05555300_00065_uv.csv
2,NWIS,05555300,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.072844,m,NaN,NaN,NaN,clean_data_05555300_00065_uv.csv
3,NWIS,05555300,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.075891,m,NaN,NaN,NaN,clean_data_05555300_00065_uv.csv
4,NWIS,05555300,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.075891,m,NaN,NaN,NaN,clean_data_05555300_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05536890_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05536890_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05536890,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,7.528193,m,NaN,NaN,NaN,clean_data_05536890_00065_uv.csv
1,NWIS,05536890,2007-10-01,2007-10-01T06:01:00Z,UTC,65,instantaneous,NaN,NaN,7.531240,m,NaN,NaN,NaN,clean_data_05536890_00065_uv.csv
2,NWIS,05536890,2007-10-01,2007-10-01T06:02:00Z,UTC,65,instantaneous,NaN,NaN,7.534288,m,NaN,NaN,NaN,clean_data_05536890_00065_uv.csv
3,NWIS,05536890,2007-10-01,2007-10-01T06:03:00Z,UTC,65,instantaneous,NaN,NaN,7.537336,m,NaN,NaN,NaN,clean_data_05536890_00065_uv.csv
4,NWIS,05536890,2007-10-01,2007-10-01T06:04:00Z,UTC,65,instantaneous,NaN,NaN,7.540384,m,NaN,NaN,NaN,clean_data_05536890_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05579500_00065_uv.csv
Location:../data/data_gage_height_combined/clean_data_05579500_00065_uv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05579500,2007-10-01,2007-10-01T06:00:00Z,UTC,65,instantaneous,NaN,NaN,1.060652,m,NaN,NaN,NaN,clean_data_05579500_00065_uv.csv
1,NWIS,05579500,2007-10-01,2007-10-01T06:15:00Z,UTC,65,instantaneous,NaN,NaN,1.054557,m,NaN,NaN,NaN,clean_data_05579500_00065_uv.csv
2,NWIS,05579500,2007-10-01,2007-10-01T06:30:00Z,UTC,65,instantaneous,NaN,NaN,1.051509,m,NaN,NaN,NaN,clean_data_05579500_00065_uv.csv
3,NWIS,05579500,2007-10-01,2007-10-01T06:45:00Z,UTC,65,instantaneous,NaN,NaN,1.051509,m,NaN,NaN,NaN,clean_data_05579500_00065_uv.csv
4,NWIS,05579500,2007-10-01,2007-10-01T07:00:00Z,UTC,65,instantaneous,NaN,NaN,1.045413,m,NaN,NaN,NaN,clean_data_05579500_00065_uv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05540500_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05540500_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05540500,2005-10-01,NaN,UTC,65,daily,mean,NaN,0.679671,m,NaN,NaN,NaN,clean_data_05540500_00065_dv.csv
1,NWIS,05540500,2005-10-02,NaN,UTC,65,daily,mean,NaN,0.667479,m,NaN,NaN,NaN,clean_data_05540500_00065_dv.csv
2,NWIS,05540500,2005-10-03,NaN,UTC,65,daily,mean,NaN,0.746724,m,NaN,NaN,NaN,clean_data_05540500_00065_dv.csv
3,NWIS,05540500,2005-10-04,NaN,UTC,65,daily,mean,NaN,0.758915,m,NaN,NaN,NaN,clean_data_05540500_00065_dv.csv
4,NWIS,05540500,2005-10-05,NaN,UTC,65,daily,mean,NaN,0.707101,m,NaN,NaN,NaN,clean_data_05540500_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05578250_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05578250_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05578250,2015-10-24,NaN,UTC,65,daily,mean,NaN,210.432795,m,NaN,NaN,NaN,clean_data_05578250_00065_dv.csv
1,NWIS,05578250,2015-10-25,NaN,UTC,65,daily,mean,NaN,210.438891,m,NaN,NaN,NaN,clean_data_05578250_00065_dv.csv
2,NWIS,05578250,2015-10-26,NaN,UTC,65,daily,mean,NaN,210.435843,m,NaN,NaN,NaN,clean_data_05578250_00065_dv.csv
3,NWIS,05578250,2015-10-27,NaN,UTC,65,daily,mean,NaN,210.444986,m,NaN,NaN,NaN,clean_data_05578250_00065_dv.csv
4,NWIS,05578250,2015-10-28,NaN,UTC,65,daily,mean,NaN,210.496800,m,NaN,NaN,NaN,clean_data_05578250_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

clean_data_05550001_00065_dv.csv
Location:../data/data_gage_height_combined/clean_data_05550001_00065_dv.csv

,source,site_no,date,date_time,tz_cd,parameter_cd,freq,stat_name,sensor_description,result_va,units,remark_cd,method_cd,result_qualifier_cd,filename
0,NWIS,05550001,2005-10-01,NaN,UTC,65,daily,mean,NaN,2.032917,m,NaN,NaN,NaN,clean_data_05550001_00065_dv.csv
1,NWIS,05550001,2005-10-02,NaN,UTC,65,daily,mean,NaN,1.996343,m,NaN,NaN,NaN,clean_data_05550001_00065_dv.csv
2,NWIS,05550001,2005-10-03,NaN,UTC,65,daily,mean,NaN,2.020725,m,NaN,NaN,NaN,clean_data_05550001_00065_dv.csv
3,NWIS,05550001,2005-10-04,NaN,UTC,65,daily,mean,NaN,1.975008,m,NaN,NaN,NaN,clean_data_05550001_00065_dv.csv
4,NWIS,05550001,2005-10-05,NaN,UTC,65,daily,mean,NaN,1.941481,m,NaN,NaN,NaN,clean_data_05550001_00065_dv.csv

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

In [4]:
## Combined the dataframe here since it represents one metric
gheight_full_df = pd.concat(gheight_dfs)
gheight_full_df.columns

Index(['source', 'site_no', 'date', 'date_time', 'tz_cd', 'parameter_cd',
       'freq', 'stat_name', 'sensor_description', 'result_va', 'units',
       'remark_cd', 'method_cd', 'result_qualifier_cd', 'filename'],
      dtype='object')

In [5]:
### Specifics
functions_notebook.print_df_specs(gheight_full_df.reset_index())

 clean_data_05570910_00065_uv.csv
<bound method DataFrame.info of           index source   site_no        date             date_time tz_cd  \
0             0   NWIS  05570910  2007-10-01  2007-10-01T06:00:00Z   UTC
1             1   NWIS  05570910  2007-10-01  2007-10-01T06:15:00Z   UTC
2             2   NWIS  05570910  2007-10-01  2007-10-01T06:30:00Z   UTC
3             3   NWIS  05570910  2007-10-01  2007-10-01T06:45:00Z   UTC
4             4   NWIS  05570910  2007-10-01  2007-10-01T07:00:00Z   UTC
...         ...    ...       ...         ...                   ...   ...
38893505   6569   NWIS  05550001  2020-12-27                   NaN   UTC
38893506   6570   NWIS  05550001  2020-12-28                   NaN   UTC
38893507   6571   NWIS  05550001  2020-12-29                   NaN   UTC
38893508   6572   NWIS  05550001  2020-12-30                   NaN   UTC
38893509   6573   NWIS  05550001  2020-12-31                   NaN   UTC

          parameter_cd           freq stat_name     sensor_description  \
0                   65  instantaneous       NaN                    NaN
1                   65  instantaneous       NaN                    NaN
2                   65  instantaneous       NaN                    NaN
3                   65  instantaneous       NaN                    NaN
4                   65  instantaneous       NaN                    NaN
...                ...            ...       ...                    ...
38893505            65          daily      mean  DOWNSTREAM.TAILWATER.
38893506            65          daily      mean  DOWNSTREAM.TAILWATER.
38893507            65          daily      mean  DOWNSTREAM.TAILWATER.
38893508            65          daily      mean  DOWNSTREAM.TAILWATER.
38893509            65          daily      mean  DOWNSTREAM.TAILWATER.

          result_va units  remark_cd  method_cd  result_qualifier_cd  \
0          1.438586     m        NaN        NaN                  NaN
1          1.438586     m        NaN        NaN                  NaN
2          1.441634     m        NaN        NaN                  NaN
3          1.438586     m        NaN        NaN                  NaN
4          1.438586     m        NaN        NaN                  NaN
...             ...   ...        ...        ...                  ...
38893505   1.892716     m        NaN        NaN                  NaN
38893506   1.907955     m        NaN        NaN                  NaN
38893507   1.746419     m        NaN        NaN                  NaN
38893508   1.789089     m        NaN        NaN                  NaN
38893509   1.834806     m        NaN        NaN                  NaN

                                  filename
0         clean_data_05570910_00065_uv.csv
1         clean_data_05570910_00065_uv.csv
2         clean_data_05570910_00065_uv.csv
3         clean_data_05570910_00065_uv.csv
4         clean_data_05570910_00065_uv.csv
...                                    ...
38893505  clean_data_05550001_00065_dv.csv
38893506  clean_data_05550001_00065_dv.csv
38893507  clean_data_05550001_00065_dv.csv
38893508  clean_data_05550001_00065_dv.csv
38893509  clean_data_05550001_00065_dv.csv

[38893510 rows x 16 columns]>

,index,parameter_cd,result_va,remark_cd,method_cd,result_qualifier_cd
count,3.889351e+07,38893510.0,3.889351e+07,0.0,0.0,0.0
mean,5.321319e+05,65.0,1.594773e+01,NaN,NaN,NaN
std,8.898620e+05,0.0,4.610724e+01,NaN,NaN,NaN
min,0.000000e+00,65.0,0.000000e+00,NaN,NaN,NaN
25%,1.181910e+05,65.0,1.057604e+00,NaN,NaN,NaN
50%,2.555120e+05,65.0,2.157879e+00,NaN,NaN,NaN
75%,4.252180e+05,65.0,6.818043e+00,NaN,NaN,NaN
max,4.842925e+06,65.0,2.143584e+02,NaN,NaN,NaN

 Any duplicates:

Empty DataFrame
Columns: [index, source, site_no, date, date_time, tz_cd, parameter_cd, freq, stat_name, sensor_description, result_va, units, remark_cd, method_cd, result_qualifier_cd, filename]
Index: []

In [7]:
counter = 1

z = gheight_full_df
    
print(z.iloc[:,0:5].head())
    
filename = z['filename'].iloc[0]
    
print('\n',counter,'.', filename)

if (z.columns.str.contains('date').any() == True):
    z.sort_values('date')
    functions_notebook.check_date(z, date_col = 'date')
else:
    print(f'No date column in {filename}')
    print('columns: ', z.columns)
        
counter = counter + 1

  source   site_no       date             date_time tz_cd
0   NWIS  05570910 2007-10-01  2007-10-01T06:00:00Z   UTC
1   NWIS  05570910 2007-10-01  2007-10-01T06:15:00Z   UTC
2   NWIS  05570910 2007-10-01  2007-10-01T06:30:00Z   UTC
3   NWIS  05570910 2007-10-01  2007-10-01T06:45:00Z   UTC
4   NWIS  05570910 2007-10-01  2007-10-01T07:00:00Z   UTC

 1 . clean_data_05570910_00065_uv.csv

original date col type: datetime64[ns]

 date col type after pandas conversion: datetime64[ns]
175027    date format e.g. 2013-02-04 correct
Name: date, dtype: object

End of month dates:
 ['10-31' '12-31' '01-31' '03-31' '05-31' '07-31' '08-31']

Leap year dates:
 ['2008-02-29T00:00:00.000000000' '2012-02-29T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2020-02-29T00:00:00.000000000']

Earliest date: 2005-10-01 00:00:00
Latest date: 2021-01-01 00:00:00

In [15]:
counter = 1

print(f'\n{counter}. {z.filename[0]}')
cols = z.columns

for col in cols:
    print('   ', z[col].name,'  - dtype:', z[col].dtypes)
    if z[col].dtypes == 'O':
        functions_notebook.check_whitespace(df_col = z[col])
        
    if (z[col].dtypes == 'float64') or (z[col].dtypes == 'int64'):
        functions_notebook.calc_metrics(df_col = z[col])
        
    else: 
        pass
        
    counter = counter + 1
    
    print(f'\n   > whitespace scan complete for {z.filename[0]}')

1. 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    source   - dtype: object
       unique str values are  ['NWIS']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    site_no   - dtype: object
       unique str values are  ['05570910' '05584500' '05536123' '05541710' '05586100' '05549501'
 '05545750' '05536366' '05554300' '413339087223001' '05538020' '05536179'
 '05536275' '05579630' '05572000' '05559700' '05576195' '05586647'
 '05557500' '05578300' '05550500' '05536995' '05536137' '05517500'
 '05536195' '05549500' '414130087521301' '05558300' '05540275' '05551700'
 '05527900' '05516665' '05525500' '05575550' '05538010' '05527905'
 '05517000' '05568500' '05570000' '05549000' '05543010' '05527910'
 '05537980' '05551540' '05532500' '05542000' '05543500' '412320088154101'
 '05586745' '05578100' '05536160' '05518000' '05520500' '05524500'
 '05525000' '05579610' '05548105' '05536118' '05560500' '05586300'
 '05580000' '05527500' '05526000' '05550001' '05578250' '05579500'
 '05540500' '05555300' '05536890' '05548280' '05579620' '05531500'
 '05551580' '05556500' '05552500' '05553700' '05551030' '05585830'
 '05576100' '05536356' '05536190' '05551029' '055451345' '05515500']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    date   - dtype: datetime64[ns]

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    date_time   - dtype: object
       unique str values are  ['2007-10-01T06:00:00Z' '2007-10-01T06:15:00Z' '2007-10-01T06:30:00Z' ...
 '2021-01-01T05:57:00Z' '2021-01-01T05:58:00Z' '2021-01-01T05:59:00Z']
       attribute not determined as str: nan in ['2007-10-01T06:00:00Z' '2007-10-01T06:15:00Z' '2007-10-01T06:30:00Z' ...
 '2021-01-01T05:57:00Z' '2021-01-01T05:58:00Z' '2021-01-01T05:59:00Z']
       attribute not determined as str: nan in ['2007-10-01T06:00:00Z' '2007-10-01T06:15:00Z' '2007-10-01T06:30:00Z' ...
 '2021-01-01T05:57:00Z' '2021-01-01T05:58:00Z' '2021-01-01T05:59:00Z']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    tz_cd   - dtype: object
       unique str values are  ['UTC']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    parameter_cd   - dtype: int64
Col parameter_cd values are:
       min: 65
       mean: 65.0
       max: 65

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    freq   - dtype: object
       unique str values are  ['instantaneous' 'daily']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    stat_name   - dtype: object
       unique str values are  [nan 'mean' 32400]
       attribute not determined as str: nan in [nan 'mean' 32400]
       attribute not determined as str: nan in [nan 'mean' 32400]
       attribute not determined as str: 32400 in [nan 'mean' 32400]
       attribute not determined as str: 32400 in [nan 'mean' 32400]

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    sensor_description   - dtype: object
       unique str values are  [nan 'DOWNSTREAM.TAILWATER.']
       attribute not determined as str: nan in [nan 'DOWNSTREAM.TAILWATER.']
       attribute not determined as str: nan in [nan 'DOWNSTREAM.TAILWATER.']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    result_va   - dtype: float64
Col result_va values are:
       min: 0.0
       mean: 15.94772895200438
       max: 214.3584273087473

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    units   - dtype: object
       unique str values are  ['m']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    remark_cd   - dtype: float64
Col remark_cd values are:

       min: nan
       mean: nan
       max: nan

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    method_cd   - dtype: float64
Col method_cd values are:
       min: nan
       mean: nan
       max: nan

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    result_qualifier_cd   - dtype: float64
Col result_qualifier_cd values are:
       min: nan
       mean: nan
       max: nan

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object
    filename   - dtype: object
       unique str values are  ['clean_data_05570910_00065_uv.csv' 'clean_data_05584500_00065_uv.csv'
 'clean_data_05536123_00065_dv.csv' 'clean_data_05541710_00065_dv.csv'
 'clean_data_05586100_00065_dv.csv' 'clean_data_05549501_00065_uv.csv'
 'clean_data_05545750_00065_uv.csv' 'clean_data_05536366_00065_uv.csv'
 'clean_data_05554300_00065_dv.csv'
 'clean_data_413339087223001_00065_dv.csv'
 'clean_data_alt_metab_05538020_00065_dv.csv'
 'clean_data_05536179_00065_uv.csv' 'clean_data_05536275_00065_uv.csv'
 'clean_data_05579630_00065_dv.csv' 'clean_data_05572000_00065_uv.csv'
 'clean_data_05559700_00065_uv.csv' 'clean_data_05576195_00065_uv.csv'
 'clean_data_05538020_00065_uv.csv' 'clean_data_05586647_00065_dv.csv'
 'clean_data_05557500_00065_uv.csv' 'clean_data_05578300_00065_dv.csv'
 'clean_data_05550500_00065_uv.csv' 'clean_data_05536995_00065_uv.csv'
 'clean_data_05536137_00065_dv.csv' 'clean_data_05517500_00065_uv.csv'
 'clean_data_05536195_00065_uv.csv' 'clean_data_05549500_00065_uv.csv'
 'clean_data_414130087521301_00065_dv.csv'
 'clean_data_05558300_00065_uv.csv' 'clean_data_05540275_00065_dv.csv'
 'clean_data_05551700_00065_uv.csv' 'clean_data_05527900_00065_dv.csv'
 'clean_data_alt_metab_05549500_00065_dv.csv'
 'clean_data_05516665_00065_uv.csv' 'clean_data_05525500_00065_uv.csv'
 'clean_data_05575550_00065_dv.csv'
 'clean_data_alt_metab_05538010_00065_dv.csv'
 'clean_data_05527905_00065_uv.csv' 'clean_data_05517000_00065_uv.csv'
 'clean_data_05568500_00065_dv.csv' 'clean_data_05570000_00065_dv.csv'
 'clean_data_05549000_00065_uv.csv' 'clean_data_05543010_00065_uv.csv'
 'clean_data_05527910_00065_uv.csv' 'clean_data_05537980_00065_uv.csv'
 'clean_data_05551540_00065_uv.csv' 'clean_data_05532500_00065_uv.csv'
 'clean_data_05542000_00065_dv.csv' 'clean_data_05543500_00065_dv.csv'
 'clean_data_412320088154101_00065_uv.csv'
 'clean_data_05586745_00065_uv.csv' 'clean_data_05578100_00065_dv.csv'
 'clean_data_05536160_00065_uv.csv' 'clean_data_05518000_00065_uv.csv'
 'clean_data_05520500_00065_dv.csv' 'clean_data_05524500_00065_uv.csv'
 'clean_data_05525000_00065_uv.csv' 'clean_data_05579610_00065_uv.csv'
 'clean_data_alt_metab_05543010_00065_dv.csv'
 'clean_data_05548105_00065_dv.csv' 'clean_data_05536118_00065_dv.csv'
 'clean_data_05560500_00065_dv.csv'
 'clean_data_alt_metab_05586300_00065_uv.csv'
 'clean_data_05580000_00065_dv.csv' 'clean_data_05527500_00065_dv.csv'
 'clean_data_05526000_00065_dv.csv' 'clean_data_05550001_00065_uv.csv'
 'clean_data_05578250_00065_uv.csv' 'clean_data_05579500_00065_dv.csv'
 'clean_data_05540500_00065_uv.csv' 'clean_data_05555300_00065_dv.csv'
 'clean_data_05536890_00065_dv.csv' 'clean_data_05548280_00065_dv.csv'
 'clean_data_05579620_00065_uv.csv' 'clean_data_05586300_00065_dv.csv'
 'clean_data_05531500_00065_dv.csv' 'clean_data_05551580_00065_dv.csv'
 'clean_data_05556500_00065_uv.csv' 'clean_data_05552500_00065_dv.csv'
 'clean_data_alt_metab_05553700_00065_uv.csv'
 'clean_data_05572000_00065_dv.csv' 'clean_data_05579630_00065_uv.csv'
 'clean_data_05536275_00065_dv.csv' 'clean_data_05551030_00065_dv.csv'
 'clean_data_05576195_00065_dv.csv' 'clean_data_05559700_00065_dv.csv'
 'clean_data_05586647_00065_uv.csv' 'clean_data_05557500_00065_dv.csv'
 'clean_data_05584500_00065_dv.csv' 'clean_data_05536123_00065_uv.csv'
 'clean_data_05541710_00065_uv.csv' 'clean_data_05570910_00065_dv.csv'
 'clean_data_05586100_00065_uv.csv' 'clean_data_05549501_00065_dv.csv'
 'clean_data_05554300_00065_uv.csv' 'clean_data_05536366_00065_dv.csv'
 'clean_data_alt_metab_05538020_00065_uv.csv'
 'clean_data_413339087223001_00065_uv.csv'
 'clean_data_05540275_00065_uv.csv' 'clean_data_05551700_00065_dv.csv'
 'clean_data_05527900_00065_uv.csv'
 'clean_data_alt_metab_05549500_00065_uv.csv'
 'clean_data_05585830_00065_dv.csv' 'clean_data_05575550_00065_uv.csv'
 'clean_data_alt_metab_05538010_00065_uv.csv'
 'clean_data_05525500_00065_dv.csv' 'clean_data_05536995_00065_dv.csv'
 'clean_data_05550500_00065_dv.csv' 'clean_data_05536137_00065_uv.csv'
 'clean_data_05578300_00065_uv.csv' 'clean_data_05576100_00065_uv.csv'
 'clean_data_414130087521301_00065_uv.csv'
 'clean_data_alt_metab_05536356_00065_uv.csv'
 'clean_data_05558300_00065_dv.csv' 'clean_data_05549500_00065_dv.csv'
 'clean_data_05542000_00065_uv.csv' 'clean_data_05543500_00065_uv.csv'
 'clean_data_412320088154101_00065_dv.csv'
 'clean_data_05586745_00065_dv.csv' 'clean_data_05578100_00065_uv.csv'
 'clean_data_05536190_00065_uv.csv' 'clean_data_05525000_00065_dv.csv'
 'clean_data_05520500_00065_uv.csv'
 'clean_data_alt_metab_05543010_00065_uv.csv'
 'clean_data_05579610_00065_dv.csv' 'clean_data_05527905_00065_dv.csv'
 'clean_data_05568500_00065_uv.csv' 'clean_data_05543010_00065_dv.csv'
 'clean_data_05527910_00065_dv.csv' 'clean_data_05570000_00065_uv.csv'
 'clean_data_05549000_00065_dv.csv' 'clean_data_05551029_00065_dv.csv'
 'clean_data_05551540_00065_dv.csv' 'clean_data_05537980_00065_dv.csv'
 'clean_data_05532500_00065_dv.csv' 'clean_data_05531500_00065_uv.csv'
 'clean_data_05551580_00065_uv.csv' 'clean_data_05586300_00065_uv.csv'
 'clean_data_05552500_00065_uv.csv' 'clean_data_055451345_00065_uv.csv'
 'clean_data_05556500_00065_dv.csv'
 'clean_data_alt_metab_05553700_00065_dv.csv'
 'clean_data_05515500_00065_uv.csv' 'clean_data_05560500_00065_uv.csv'
 'clean_data_05548105_00065_uv.csv' 'clean_data_05536118_00065_uv.csv'
 'clean_data_05527500_00065_uv.csv' 'clean_data_05526000_00065_uv.csv'
 'clean_data_05580000_00065_uv.csv'
 'clean_data_alt_metab_05586300_00065_dv.csv'
 'clean_data_05548280_00065_uv.csv' 'clean_data_05579620_00065_dv.csv'
 'clean_data_05555300_00065_uv.csv' 'clean_data_05536890_00065_uv.csv'
 'clean_data_05579500_00065_uv.csv' 'clean_data_05540500_00065_dv.csv'
 'clean_data_05578250_00065_dv.csv' 'clean_data_05550001_00065_dv.csv']

   > whitespace scan complete for 0    clean_data_05570910_00065_uv.csv
0    clean_data_05584500_00065_uv.csv
0    clean_data_05536123_00065_dv.csv
0    clean_data_05541710_00065_dv.csv
0    clean_data_05586100_00065_dv.csv
                   ...
0    clean_data_05536890_00065_uv.csv
0    clean_data_05579500_00065_uv.csv
0    clean_data_05540500_00065_dv.csv
0    clean_data_05578250_00065_dv.csv
0    clean_data_05550001_00065_dv.csv
Name: filename, Length: 158, dtype: object